section.about-bg
  .container
    .index-about
      .index-about__column
        .index-about__sticker.index-about__sticker--service
          .index-about__sticker-title
            .sticker-title О сервисе
          .index-about__sticker-content
            .sticker-subtitle
              | В начале пути решили – будем работать честно и оказывать лучший сервис!
            p.index-about__sticker-text
              | Сложно представить, что когда то клиент не имел возможности получить расчет «на месте»! Тогда мы поставили перед собой задачу это исправить. Мы одни из первых кто начал приезжать на заявку с весами, что позволило клиенту присутствовать при взвешивании и получать деньги сразу!
        .index-about__sticker.index-about__sticker--team
          .index-about__sticker-title
            .sticker-title О команде
          .index-about__sticker-content
            .sticker-subtitle
              | А это мы
            p.index-about__sticker-text
              | Мы одни из первых кто начал приезжать на заявку с весами, что позволило клиенту присутствовать при взвешивании и получать деньги сразу! Сложно представить, что когда то клиент не имел возможности получить расчет «на месте»! Тогда мы поставили перед собой задачу это исправить.
      .index-about__column
        .index-about__sticker.index-about__sticker--improvement
          .index-about__sticker-title
            .sticker-title О нашем развитии
          .index-about__sticker-content
            .sticker-subtitle
              | Мы близко
            p.index-about__sticker-text
              | У нас уже три пункта приема вторсырья, в разных районах города. Если вы хотите сами привезти, то с легкостью можете выбрать ближайший для вас!
            .sticker-subtitle
              | Чтобы вы не ждали
            p.index-about__sticker-text
              | Мы начинали с одним автомобилем. На сегодняшний день наш автопарк насчитывает восемь автомобилей. И мы активно продолжаем его наращивать. Это позволяет оперативно приезжать к вам.
            .sticker-subtitle
              | Чтобы было где встретится с вами
            p.index-about__sticker-text
              | У нас собственный офис, в котором для вас всегда открыты двери.
        .index-about__sticker.index-about__sticker--partners
          .index-about__sticker-title
            .sticker-title О наших партнёрах
          .index-about__sticker-content
            .sticker-subtitle
              | Мы заражены идеей экологии.
            p.index-about__sticker-text
              | С удовольствием вступаем в партнерство с компаниями, которые также переживают за нашу планету. Совместно с ПЦБК развиваем в нашем регионе направление Экодесант и установку Экобоксов.
