section.section.awards
  .container.awards-slider-wrap
    .section__title наши достижения
    #awards-carousel.owl-carousel.awards-carousel
      .awards-slide
        img(src="assets/img/awards/ewa.jpg", alt="диплом")
      .awards-slide
        img(src="assets/img/awards/blago.jpg", alt="диплом")
      .awards-slide
        img(src="assets/img/awards/znak.jpg", alt="диплом")
      .awards-slide
        img(src="assets/img/awards/ewa.jpg", alt="диплом")
      .awards-slide
        img(src="assets/img/awards/blago.jpg", alt="диплом")
      .awards-slide
        img(src="assets/img/awards/znak.jpg", alt="диплом")
      .awards-slide
        img(src="assets/img/awards/znak.jpg", alt="диплом")
    .slider-controls-row.slider-controls-row--awards
      .slider-head__buttom-wrap
        a(href="#").slider-head__buttom.slider-head__buttom--awards-prev
        a(href="#").slider-head__buttom.slider-head__buttom--awards-next
    .awards-carousel__dots-container
