section.section
  .container
    h2.section__title мы покупаем
    .row.mb-50
      .col-lg-3
        +card-product("assets/img/cards/paper.png", "макулатура", "Макулатура", "#", "4", "7")
      .col-lg-3
        +card-product("assets/img/cards/cardboard.png", "картон", "Картон", "#", "4", "7")
      .col-lg-3
        +card-product("assets/img/cards/membrane-pvd.png", "пленка ПВД", "Пленка ПВД", "#", "4", "7")
      .col-lg-3
        +card-product("assets/img/cards/membrane-stretch.png", "пленка стрейч", "Пленка стрейч", "#", "4", "7")
    .row.mb-50
      .col-lg-3
        +card-product("assets/img/cards/plastic.png", "ПЭТ", "Отходы пластмасс", "#", "4", "7")
      .col-lg-3
        +card-product("assets/img/cards/aluminum.png", "аллюминиевые банки", "Аллюминиевые банки", "#", "4", "7")
      .col-lg-3
        +card-product("assets/img/cards/oil.png", "Фритюрное масло", "Фритюрное масло", "#", "4", "7")
      .col-lg-3
        +card-product("assets/img/cards/glass.png", "Стекло", "Стекло", "#", "4", "7")
    .row
      .col-lg-3
        .card-product
          .card-product__top.card-product__top--pallet-bg
          .card-product__name-product Поддоны
          a(href= link).card-product__button
            <span class="card-product__button-title"> Цена</span><br> от 20р. до 90р. за шт.
