section.for-whom-bg
  .container
    .for-whom
      .row.justify-content-around
        .col-sm-12.col-md-6.col-lg-6.col-xl-4
          .for-whom__sticker
            .for-whom__sticker-title
              .sticker-title.sticker-title--extra-small Для собственников и ТСЖ
            .for-whom__sticker-delimiter
              img(src="assets/img/index/for-whom/delimiter.png", alt="разделитель")
            .for-whom__sticker-text
              .sticker-text.sticker-text--extra-small Акция сохрани планету живой
              a(href="containers-sale.html" target='_BLANK').for-whom__sticker-link Узнать больше
        .col-sm-12.col-md-6.col-lg-6.col-xl-4
          .for-whom__sticker
            .for-whom__sticker-title
              .sticker-title.sticker-title--extra-small Для неравнодушных к экологии
            .for-whom__sticker-delimiter
              img(src="assets/img/index/for-whom/delimiter.png", alt="разделитель")
            .for-whom__sticker-text
              .sticker-text.sticker-text--extra-small Эко-акция "Экостиль"
              a(href="ecopromo.html" target="_BLANK").for-whom__sticker-link Узнать больше
        .col-sm-12.col-md-6.col-lg-6.col-xl-4
          .for-whom__sticker
            .for-whom__sticker-title
              .sticker-title.sticker-title--extra-small Для организаций с секретной документацией
            .for-whom__sticker-delimiter
              img(src="assets/img/index/for-whom/delimiter.png", alt="разделитель")
            .for-whom__sticker-text
              .sticker-text.sticker-text--extra-small Уничтожение архивов
              a(href="destruction.html" target="_BLANK").for-whom__sticker-link Узнать больше
