section.for-whom-bg
  .container
    .for-whom
      .row
        .col-lg-4
          .for-whom__sticker
            .for-whom__sticker-title
              .sticker-title Для собственников и ТСЖ
            .for-whom__sticker-delimiter
              img(src="assets/img/index/for-whom/delimiter.png", alt="разделитель")
            .for-whom__sticker-text
              .sticker-text Акция сохрани планету живой
              a(href="#").for-whom__sticker-link Узнать больше
        .col-lg-4
          .for-whom__sticker
            .for-whom__sticker-title
              .sticker-title Для неравнодушных к экологии
            .for-whom__sticker-delimiter
              img(src="assets/img/index/for-whom/delimiter.png", alt="разделитель")
            .for-whom__sticker-text
              .sticker-text Установка экобоксов
              a(href="#").for-whom__sticker-link Узнать больше
        .col-lg-4
          .for-whom__sticker
            .for-whom__sticker-title
              .sticker-title Для организаций с секретной документацией
            .for-whom__sticker-delimiter
              img(src="assets/img/index/for-whom/delimiter.png", alt="разделитель")
            .for-whom__sticker-text
              .sticker-text Уничтожение/хранение архивов
              a(href="#").for-whom__sticker-link Узнать больше
