.news-short-bg
  section.section
    .container
      .section__title новости
      .row
        .col-lg-4
          +cards-short-description("assets/img/index/news/news-card-picture-one.jpg", "конвеер", "12.09.2019", "В начале пути решили будем работать", "Сложно представить, что когда то клиент не имел возможности получить расчет «на месте»! Тогда мы поставили перед собой задачу это исправить.", "подробнее")
        .col-lg-4
          +cards-short-description("assets/img/index/news/news-card-picture-second.jpg", "конвеер", "12.09.2019", "В начале пути решили будем работать", "Сложно представить, что когда то клиент не имел возможности получить расчет «на месте»! Тогда мы поставили перед собой задачу это исправить.", "подробнее")
        .col-lg-4
          +cards-short-description("assets/img/index/news/news-card-picture-third.jpg", "конвеер", "12.09.2019", "В начале пути решили будем работать", "Сложно представить, что когда то клиент не имел возможности получить расчет «на месте»! Тогда мы поставили перед собой задачу это исправить.", "подробнее")
