.news-short-bg
  section.section
    .container
      .section__title новости
      .row
        .col-12.col-sm-6.col-lg-4.mb-xs-mobile-40
          +cards-short-description("assets/img/index/news/news-card-picture-one.jpg", "конвеер", "12.03.2020", "Мы стремимся быть ближе", "Для достижения этой цели мы открыли четвертый пункт приема сырья. По адресу: г. Тюмень, ул. Щербакова, д.160, стр. 3", "подробнее")
        .col-12.col-sm-6.col-lg-4
          +cards-short-description("assets/img/index/news/textile.jpg", "конвеер", "12.03.2020", "Расширяем линейку обрабатываемого сырья", "Мы неравнодушны к экологии! И для улучшения ситуации в нашем регионе, мы постоянно ищем возможности обработки новых видов сырья. Рады сообщить мы запустили прием текстильного сырья (одежда, постельное бельё и т.п.).", "подробнее")
        .col-lg-4.display-none-mobile-tablet
          +cards-short-description("assets/img/index/news/site.jpg", "конвеер", "12.03.2020", "Для вашего удобства", "Мы всей командой постоянно работаем над улучшением сервиса для вас! Мы запустили новый сайт, на котором вы можете найти всю необходимую информацию, оставить свои отзывы и предложения, рассчитать стоимость сырья онлайн.", "подробнее")
