section.partners-bottom
  .container
    .partners
      .partners__title.partners__title--lighten наши<br>партнеры:

      .partners__name
        img(src="assets/img/partners/visa-lighten.png" alt="логотип").partners__name-img

      .partners__name
        img(src="assets/img/partners/lenovo-lighten.png" alt="логотип").partners__name-img

      .partners__name
        img(src="assets/img/partners/asus-lighten.png" alt="логотип").partners__name-img

      .partners__name
        img(src="assets/img/partners/aser-lighten.png" alt="логотип").partners__name-img
