section.partners-bottom
  .container
    .partners
      .partners__title.partners__title--lighten наши<br>партнеры:

      .partners__name
        img(src="assets/img/partners/visa-lighten.png" alt="логотип").partners__name-img

      .partners__name
        img(src="assets/img/partners/lenovo-lighten.png" alt="логотип").partners__name-img

      .partners__name
        img(src="assets/img/partners/asus-lighten.png" alt="логотип").partners__name-img

      .partners__name
        img(src="assets/img/partners/aser-lighten.png" alt="логотип").partners__name-img
header.head
  .head-nav-bg
    .container.pos-rel
      ul.head-nav
        li.head-nav__list
          a.head-nav__link.head-nav__link-dropdown(href="#") Наши услуги
          .pop-up-submenu
            a(href="#").pop-up-submenu__link Утилизация архивов
            a(href="#").pop-up-submenu__link Хранение архивов
            a(href="#").pop-up-submenu__link Установка экобоксов
            a(href="#").pop-up-submenu__link Приём вторсырья
        li.head-nav__list
          a.head-nav__link(href="#") Мы покупаем
        li.head-nav__list
          a.head-nav__link(href="#") Цены
        li.head-nav__list
          a.head-nav__link(href="#") Наши проекты
        li.head-nav__list
          a.head-nav__link.head-nav__link-dropdown(href="#") О компании
          .pop-up-submenu
            a(href="#").pop-up-submenu__link Вакансии
            a(href="#").pop-up-submenu__link Партнерам
            a(href="#").pop-up-submenu__link Наша команда
            a(href="#").pop-up-submenu__link Отзывы
        li.head-nav__list
          a.head-nav__link(href="#") Блог
        li.head-nav__list
          a.head-nav__link(href="#") Контакты
        li.head-nav__list
          a.head-nav__link(href="#") Личный кабинет
        li.head-nav__list
          a.head-nav__link(href="#") Вопрос - ответ
