section.partners-bottom
  .container
    .partners.partners--bottom
      .partners__title.partners__title--lighten наши<br>партнеры:
      .break.break--mobile-show.mb-mobile-25
      .partners__name
        img(src="assets/img/partners/logo-lpm.png" alt="логотип").partners__name-img
      .partners__name
        img(src="assets/img/partners/logo-pcbk.png" alt="логотип").partners__name-img
      .partners__name
        img(src="assets/img/partners/logo-zl.png" alt="логотип").partners__name-img
