section.section.translucent-white-substrate
  .container
    .seo-text
      p.text
        | Старые документы, тетради, картонные коробки, газеты и журналы, пустые алюминиевые банки, пластиковые бутылки – все это и многое другое копится годами и терпеливо ждет своего часа в гараже, на балконе или антресолях. Избавиться от мусора с пользой для себя и окружающего мира вам поможет компания «Миротворец».
      h4.text-bold
        | Что можно сдать?
      .text На выгодных условиях мы осуществляем покупку множества видов сырья, а именно:
      ul.list-wrap
        li.list-marker-color-custom
          span.text бумаги – макулатуры, картона, книг, журналов, газет, втулок;
        li.list-marker-color-custom
          span.text пластика – бутылок различного типа и объема, тары из-под бытовой химии, канистр, ПЭТ, ПЭТ-кегов;
        li.list-marker-color-custom
          span.text полиэтилена – труб ПНД, пленки ПВД, пленки стрейч;
        li.list-marker-color-custom
          span.text паллетов (поддонов);
        li.list-marker-color-custom
          span.text фритюрного, отработанного масла;
        li.list-marker-color-custom
          span.text алюминия;
        li.list-marker-color-custom
          span.text стекла;
        li.list-marker-color-custom
          span.text текстиля;
        li.list-marker-color-custom
          span.text мешков МКР (биг-бэгов).
      .text-bold С кем мы сотрудничаем?
      .text.mb-15
        | «Миротворец» принимает вторсырье как у организаций, так и у частных лиц (в крупных объемах). Все, что от вас требуется – связаться с нашим менеджером любым удобным способом или заполнить форму заявки на сайте и сдать накопившееся вторичное сырье.
      .text Помимо услуг по приему вторсырья, наша компания выполняет:
      ul.list-wrap
        li.list-marker-color-custom
          span.text хранение и уничтожение архивной документации;
        li.list-marker-color-custom
          span.text установку экобоксов, контейнеров для организации раздельного сбора отходов – у вас дома, на садовом участке, во дворе многоквартирного дома;
        li.list-marker-color-custom
          span.text продажу деревянных поддонов (паллетов) различного размера, цвета и сорта.
      .text-bold Улучшаем экологию вместе
      .text Дать вторую жизнь отходам может каждый – достаточно просто обратиться в компанию «Миротворец». Мы поддерживаем своих клиентов в их желании сделать планету чище и предлагаем только выгодные условия сотрудничества: в разделе #[a(class="seo-text__link" href="#for-whom") «Акции»] вы найдете актуальные предложения для населения, ТСЖ, организаций и предприятий Тюмени.
