include ../../mixins/slider-item.pug
.slider-head
  #carouselIndexPade.owl-carousel.owl-theme
    +indexHeaderSliderFirstItem()
    +indexHeaderSliderItem("покупаем вторсырье", "assets/img/slider/submaterials.jpg")
    +indexHeaderSliderItem("устанавливаем экобоксы", "assets/img/slider/eco-box.png")
    +indexHeaderSliderItem("устанавливаем контейнеры", "assets/img/slider/containers.png")
    +indexHeaderSliderItem("уничтожаем архивы", "assets/img/slider/destruction.png")
    +indexHeaderSliderItem("хранение документов", "assets/img/slider/storage.png")
  .container
    .slider-controls-row
      .slider-head__buttom-wrap
        a(href="#").slider-head__buttom.slider-head__buttom--prev
        a(href="#").slider-head__buttom.slider-head__buttom--next

  .container
    .partners
      .partners__title наши<br>партнеры:
      .partners__name
        img(src="assets/img/partners/logo-lpm.png" alt="логотип").partners__name-img

      .partners__name
        img(src="assets/img/partners/logo-pcbk.png" alt="логотип").partners__name-img

      .partners__name
        img(src="assets/img/partners/logo-zl.png" alt="логотип").partners__name-img
