.stages-cooperation-bg
  .container.full-height
    .stages-cooperation

      .stages-cooperation__stage
        .stages-cooperation__picture-wrap
          img(src="assets/img/index/stages-cooperation/order.png", alt="").stages-cooperation__picture
          .stages-cooperation__stage-number 01
        .stages-cooperation__text Вы оформляете заявку
      .stages-cooperation__picture-wrap-arrow
        img(src="assets/img/index/stages-cooperation/arrow-next.png", alt="")

      .stages-cooperation__stage
        .stages-cooperation__picture-wrap
          img(src="assets/img/index/stages-cooperation/auto.png", alt="").stages-cooperation__picture
          .stages-cooperation__stage-number 02
        .stages-cooperation__text К вам выезжает  машина
      .stages-cooperation__picture-wrap-arrow
        img(src="assets/img/index/stages-cooperation/arrow-next.png", alt="")

      .stages-cooperation__stage
        .stages-cooperation__picture-wrap
          img(src="assets/img/index/stages-cooperation/libra.png", alt="").stages-cooperation__picture
          .stages-cooperation__stage-number 03
        .stages-cooperation__text Взвешивание
      .stages-cooperation__picture-wrap-arrow
        img(src="assets/img/index/stages-cooperation/arrow-next.png", alt="")

      .stages-cooperation__stage
        .stages-cooperation__picture-wrap
          img(src="assets/img/index/stages-cooperation/payment.png", alt="").stages-cooperation__picture
          .stages-cooperation__stage-number 04
        .stages-cooperation__text Мы производим оплату
