.stages-cooperation-bg
  .container
    .stages-cooperation__row

      .stages-cooperation__item
        .stages-cooperation__img-wrap
          .stages-cooperation__item-number 01
          img(src="assets/img/index/stages-cooperation/order-small.png", class="stages-cooperation__img stages-cooperation__img", alt="Лист")
          img(src="assets/img/index/stages-cooperation/order.png", class="stages-cooperation__img stages-cooperation__img--desktop", alt="Лист")
        .stages-cooperation__description Вы оформляете заявку

      .stages-cooperation__img-arrow-wrap
        img(src="assets/img/index/stages-cooperation/arrow-odd-tablet.png", class="stages-cooperation__img-arrow", alt="arrow")
        img(src="assets/img/index/stages-cooperation/arrow-next.png", class="stages-cooperation__img-arrow stages-cooperation__img-arrow--hidden-mobile", alt="arrow")

      .stages-cooperation__item
        .stages-cooperation__img-arrow-wrap.stages-cooperation__img-arrow-wrap--float-end
          img(src="assets/img/index/stages-cooperation/arrow-float-end.png", alt="arrow")

        .stages-cooperation__img-wrap
          .stages-cooperation__item-number 02
          img(src="assets/img/index/stages-cooperation/auto-small.png", class="stages-cooperation__img", alt="Автомобиль")
          img(src="assets/img/index/stages-cooperation/auto.png", class="stages-cooperation__img stages-cooperation__img--desktop", alt="Автомобиль")
        .stages-cooperation__description К вам выезжает машина

      .stages-cooperation__img-arrow-wrap.stages-cooperation__img-arrow-wrap--hidden-mobile
        img(src="assets/img/index/stages-cooperation/arrow-even-tablet.png", class="stages-cooperation__img-arrow", alt="arrow")
        img(src="assets/img/index/stages-cooperation/arrow-next.png", class="stages-cooperation__img-arrow stages-cooperation__img-arrow--hidden-mobile", alt="arrow")

      .break.break--mobile-show.mb-40

      .stages-cooperation__item
        .stages-cooperation__img-arrow-wrap.stages-cooperation__img-arrow-wrap--float-begin
          img(src="assets/img/index/stages-cooperation/arrow-float-begin.png", alt="arrow")

        .stages-cooperation__img-wrap
          .stages-cooperation__item-number 03
          img(src="assets/img/index/stages-cooperation/libra-small.png", class="stages-cooperation__img", alt="Весы")
          img(src="assets/img/index/stages-cooperation/libra.png", class="stages-cooperation__img stages-cooperation__img--desktop", alt="Весы")
        .stages-cooperation__description Взвешивание

      .stages-cooperation__img-arrow-wrap
        img(src="assets/img/index/stages-cooperation/arrow-odd-tablet.png", class="stages-cooperation__img-arrow", alt="arrow")
        img(src="assets/img/index/stages-cooperation/arrow-next.png", class="stages-cooperation__img-arrow stages-cooperation__img-arrow--hidden-mobile", alt="arrow")

      .stages-cooperation__item
        .stages-cooperation__img-wrap
          .stages-cooperation__item-number 04
          img(src="assets/img/index/stages-cooperation/payment-small.png", class="stages-cooperation__img", alt="Деньги")
          img(src="assets/img/index/stages-cooperation/payment.png", class="stages-cooperation__img stages-cooperation__img--desktop", alt="Деньги")
        .stages-cooperation__description Мы производим оплату
