section.section.pb-0
  .container
    .section__title Что из себя представляют экобоксы:
    .about-containers-subtitle
      h2.text-short-description Экопак – специальный контейнер для сбора макулатуры с последующим вывозом вторичного бумажного сырья на переработку.
    .about-containers
      .about-containers__section
        .about-containers__ellipse
          img(src="assets/img/containers-sale/ecobox.png", class="about-ecobox-img", alt="контейнер")
          .detailed-description-ecobox.detailed-description-ecobox--1
            .stage-ellipse.mr-20 01
            .text Изготовлен из экологичного сырья (гофрокартон), неподдерживающего горения – среднее время самозатухания 2-3 секунды.
          .detailed-description-ecobox.detailed-description-ecobox--2
            .text Предусмотрены ручки для переноса
            .stage-ellipse 02
          .detailed-description-ecobox.detailed-description-ecobox--3
            .stage-ellipse 03
            .text Отличается простой сборкой
          .detailed-description-ecobox.detailed-description-ecobox--4
            .stage-ellipse 04
            .text размеры 53*44*70 см.
