section.section
  .container
    .navigating-source-path
      .navigating-source-path__item
        a(href="index.html" class="navigating-source-path__link") Главная &raquo;
      .navigating-source-path__item
        p.navigating-source-path__text Установка экобоксов
    h1.section__title Установка экобоксов для сбора макулатуры
    .ecostyle-ecobox

      .ecostyle-ecobox__img-wrap.ecostyle-ecobox__img-wrap--flexible
        img(src="assets/img/containers-sale/sticker-ecobox-mobile.png", class="ecostyle-ecobox__img ecostyle-ecobox__img--sticker", alt="стикер")
        img(src="assets/img/containers-sale/sticker-ecobox-tablet.png", class="ecostyle-ecobox__img ecostyle-ecobox__img--sticker", alt="стикер")
        img(src="assets/img/containers-sale/sticker-ecobox.png", class="ecostyle-ecobox__img ecostyle-ecobox__img--sticker", alt="стикер")
        .ecostyle-ecobox__slogan
          .ecostyle-ecobox__slogan-text-wrap
            .ecostyle-ecobox__slogan-title ЭКО-десант
            .ecostyle-ecobox__slogan-text - это проект по сбору бумажных отходов.
      .ecostyle-ecobox__img-wrap.ecostyle-ecobox__img-wrap--absolute
        img(src="assets/img/containers-sale/ecobox-top-mobile.png", class="ecostyle-ecobox__img", alt="стикер")
        img(src="assets/img/containers-sale/ecobox-top-tablet.png", class="ecostyle-ecobox__img", alt="стикер")
        img(src="assets/img/containers-sale/ecobox.png", class="ecostyle-ecobox__img", alt="стикер")

    .ecostyle-description
      .ecostyle-description__content-wrap.ecostyle-description__content-wrap--align-left
        h3.ecostyle-description__title Проблема отходов - одна из самых важных экологических проблем, с которой человечество борется на протяжении долгих лет.

      .ecostyle-description__content-wrap.ecostyle-description__content-wrap--align-left
        .ecostyle-description__img-wrap
          img(src="assets/img/containers-sale/black-bag.jpg", alt="мусорный мешок", class="ecostyle-description__img")
          .ecostyle-description__icon-wrap
            img(src="assets/img/containers-sale/400-kg.png", alt="грузик", class="ecostyle-description__icon")
        p.ecostyle-description__text Всего в России насчитывается более 14 тыс. крупных свалок. Их площадь – более 4 млн (= S Швейцарии). Каждый из нас отправляет на свалку 400 кг мусора в год.

      .ecostyle-description__content-wrap.ecostyle-description__content-wrap--align-right
        .ecostyle-description__img-wrap.ecostyle-description__img-wrap--mobile
          img(src="assets/img/containers-sale/3-containers-small.jpg", alt="контейнеры", class="ecostyle-description__img")
          .ecostyle-description__icon-wrap.ecostyle-description__icon-wrap--position-top-0-right-15
            img(src="assets/img/containers-sale/icon-5percent.png", alt="5%", class="ecostyle-description__icon")
        p.ecostyle-description__text Современный метод решения этой проблемы — раздельный сбор отходов и их переработка. Сегодня это признано во всем мире. Некоторые страны уже перерабатывают до 70% отходов, а у нас в стране — меньше 5% отходов.
        .ecostyle-description__img-wrap.ecostyle-description__img-wrap--desktop
          img(src="assets/img/containers-sale/3-containers-small.jpg", alt="контейнеры", class="ecostyle-description__img")
          .ecostyle-description__icon-wrap.ecostyle-description__icon-wrap--position-top-0-right-15
            img(src="assets/img/containers-sale/icon-5percent.png", alt="5%", class="ecostyle-description__icon")

      .ecostyle-description__content-wrap.ecostyle-description__content-wrap--align-left
        .ecostyle-description__img-wrap
          img(src="assets/img/containers-sale/trash.jpg", alt="контейнеры", class="ecostyle-description__img")
          .ecostyle-description__icon-wrap.ecostyle-description__icon-wrap--position-top-0-right-0
            img(src="assets/img/containers-sale/100-kg.png", alt="5%", class="ecostyle-description__icon")
        p.ecostyle-description__text Один сотрудник офиса в среднем выбрасывает 100 кг бумаги в год.

      .ecostyle-description__content-wrap.ecostyle-description__content-wrap--align-right
        .ecostyle-description__img-wrap.ecostyle-description__img-wrap--mobile
          img(src="assets/img/containers-sale/stack-paper.jpg", alt="стопа бумаги", class="ecostyle-description__img")
        p.ecostyle-description__text 60% распечатанных документов используются менее 24 часов,после чего попадают ведро, а оттуда – на полигон бытовых отходов.
        .ecostyle-description__img-wrap.ecostyle-description__img-wrap--desktop
          img(src="assets/img/containers-sale/stack-paper.jpg", alt="стопа бумаги", class="ecostyle-description__img")
