section.rules-participation
  .containers
    h2.ecobox-rules-title Присоединяйтесь к проекту по сбору бумажных отходов
    h3.section__title «ЭКОЛОГИЧЕСКИЙ ДЕСАНТ»
    .flex-container.flex-container--content-center
      .rules-participation__sticker-wrap
        img(src="assets/img/containers-sale/sticker-participation-mobile.png", class="rules-participation__sticker", alt="стикер")
        img(src="assets/img/containers-sale/sticker-participation.png", class="rules-participation__sticker rules-participation__sticker--desktop", alt="стикер")
        .rules-participation__sticker-text-wrap
          ul.custom-marker
            li.custom-marker__list
              span.text-short-description Приобретаете экобоксы Цена 350руб./шт
            li.custom-marker__list
              span.text-short-description Сдаете макулатуры и получаете прибыль
          .rules-participation__sticker-delimiter-wrap
            img(src="assets/img/containers-sale/sticker-delimiter.png", alt="разделитель")
