@import '../variables/variables.scss';

.head-nav-bg {
  position: relative;
  height: 80px;
  width: 100%;
  background-color: #f1e3c7;

  @media (min-width: 530px) {
    height: 100px;
  }

  @media (min-width: 690px) {
    height: 60px;
  }

  @media (min-width: 1200px) {
    background-color: $navBackgroundColor;
  }
}

.head-nav-mobile,
.head-nav {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-family: $textType2;
  font-size: 16px;
  font-weight: 400;
  line-height: 17px;
}

.head-nav-mobile {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  width: 100%;
  z-index: 100;
  background-color: rgba(103, 175, 1, .5);

  @media (min-width: 530px) {
    height: 100px;
  }

  @media (min-width: 690px) {
    height: 60px;
  }

  @media (min-width: 1200px) {
    display: none;
  }
}

.head-nav-desktop {
  position: relative;
  display: none;

  @media (min-width: 1200px) {
    display: block;
  }
}

.menu-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 100%;
  background-color: #67af01;
  box-shadow: 0 0 36px 0 rgba(69, 117, 0, .94);
  border-radius: 0 50px 50px 0;
  font-family: $textType1;
  font-size: 16px;
  line-height: 0;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  z-index: 100;

  @media (min-width: 350px) {
    width: 80px;
  }

  @media (min-width: 400px) {
    font-size: 20px;
    width: 110px;
  }

  @media (min-width: 830px) {
    width: 140px;
  }

  &::before {
    content: url("../img/nav/sandwich-icon.png");
    display: block;
    margin-right: 5px;
    line-height: 0;
  }

  &::after {

    @media (min-width: 350px) {
      content: "меню";
    }
  }
}

.dropdown-menu-mobile {
  display: none;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
  top: 100%;
  // width: 150px;
  background-color: #ffffff;
  box-shadow: 6px 9px 18px 0 rgba(177, 124, 53, .59);
  border-radius: 0 0 10px 0;
  z-index: 2;

  &--show-menu {
    display: block;
  }

  @media (min-width: 500px) {
    width: 235px;
  }
}

.dropdown-menu-mobile__list,
.head-nav__list {
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.dropdown-menu-mobile__list {
  &:last-child {
    border-radius: 0 0 10px 0;
    overflow: hidden;
  }

  &:hover > .dropdown-menu-mobile__submenu {
    display: block;
  }
}

.head-nav__list {
  &:hover > .pop-up-submenu {
    display: block;
  }
}

.dropdown-menu-mobile__link,
.pop-up-submenu__link {
  display: flex;
  align-items: center;
  width: 100%;
  padding-right: 20px;
  white-space: nowrap;
  text-decoration: none;
  font-family: $textType2;
  font-weight: 400;
  color: #67af01;
  transition: all .3s;

  &:hover {
    background-color: #67af01;
    color: #ffffff;
  }
}

.dropdown-menu-mobile__link {
  height: 35px;
  padding-left: 5px;
  font-size: 12px;
  line-height: 13px;

  @media (min-width: 500px) {
    height: 60px;
    padding-left: 20px;
    font-size: 16px;
    line-height: 17px;
  }

  &::before {
    content: url("../img/nav/delimiter-mobile-small.png");
    margin-right: 5px;

    @media (min-width: 500px) {
      margin-right: 15px;
      content: url("../img/nav/delimiter-mobile.png");
    }
  }

  &:hover.dropdown-menu-mobile__link-arrow::after {
    color: #ffffff;
  }
}

.pop-up-submenu__link {
  height: 60px;
  padding-left: 20px;
  font-size: 16px;
  line-height: 17px;

  &::before {
    content: url("../img/nav/delimiter-small.png");
    margin-right: 15px;
  }
}

.dropdown-menu-mobile__link-arrow {
  &::after {
    content: "\203A";
    color: #457600;
    display: inline-block;
    margin-top: 3px;
    margin-left: 10px;
    font-size: 18px;
    font-weight: normal;
    line-height: 0;
  }
}

.dropdown-menu-mobile__submenu,
.pop-up-submenu {
  display: none;
  position: absolute;
  background-color: #ffffff;
  box-shadow: 6px 9px 18px 0 rgba(177, 124, 53, .59);
}

.dropdown-menu-mobile__submenu {
  left: 100%;
  top: 0;
  border-radius: 0 0 10px 0;
  overflow: hidden;
  z-index: 2;

  @media (min-width: 500px) {
    width: 235px;
  }
}

.pop-up-submenu {
  top: 100%;
  left: -15px;
  z-index: 11;
}

.head-nav__link {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  color: #ffffff;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.head-nav__link-dropdown {
  &::after {
    content: url("../img/nav/arrow-down.png");
    display: inline-block;
    margin-left: 5px;
  }
}

.head-nav__delimiter {
  line-height: 0;
}

.index-page-link {
  display: block;
  text-decoration: none;
  line-height: 0;
}

.sticker {
  position: absolute;
  top: 100%;
  left: calc(50% - 130px);
  height: 99px;
  width: 260px;
  padding-left: 2px;
  padding-right: 2px;
  background-image: url("../img/nav/sticker-small.png");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 17px 61px 0px rgba(154, 90, 19, 0.6);
  z-index: 1;

  @media (min-width: 768px) {
    height: 130px;
    background-image: url("../img/nav/sticker.png");
    box-shadow: 0 11px 50px rgba(154, 90, 19, 0.34);
  }

  @media (min-width:1200px) {
    left: 0;
  }

  &--mobile-show {
    display: block;

    @media (min-width: 1200px) {
      display: none;
    }
  }
}

.sticker__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2px;
  padding-left: 12px;
  padding-right: 12px;
  line-height: 0;

  @media (min-width: 768px) {
    padding-top: 24px;
  }
}


.sticker__slogan-wrap {
  margin-left: 10px;
}

.lower-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  height: 100%;
  padding-left: 2px;
  width: 100%;
  width: calc(100% - 50px);

  @media (min-width: 350px) {
    width: calc(100% - 80px);
  }

  @media (min-width: 400px) {
    width: calc(100% - 110px);
    padding-left: 10px;
  }

  @media (min-width: 830px) {
    width: calc(100% - 140px);
  }

  @media (min-width: 1200px) {
    position: absolute;
    top: 100px;
    right: 0;
    width: auto;
    height: auto;
  }
}

.lower-nav__button {
  display: flex;
  align-items: center;
  position: relative;
  width: 112px;
  height: 30px;
  padding-left: 35px;
  padding-right: 5px;
  border-radius: 24px;
  background-color: #5c9c01;
  text-decoration: none;
  font-family: $textType1;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 1;
  letter-spacing: 0.2px;
  color: #ffffff;
  transition: .3s;
  z-index: 10;

  @media (min-width: 530px) {
    height: 40px;
    font-size: 12px;
    line-height: 13px;
    width: 97px;
    padding-left: 34px;
    width: 137px;
    padding-left: 45px;
  }

  @media (min-width: 600px) {
    width: 137px;
    padding-left: 45px;
  }

  @media (min-width: 768px) {
    width: 150px;
    font-size: 14px;
    line-height: 15px;
  }

  @media (min-width: 1200px) {
    width: 167px;
    height: 48px;
    margin-right: 30px;
    padding-left: 52px;
    background-color: #ffffff;
    box-shadow: 0 6px 30px rgba(154, 90, 19, 0.6);
    font-size: 15px;
    color: #56272c;
    line-height: 17px;

  }

  &:hover {
    background-color: #4d8300;
    color: #ffffff;
    box-shadow: none;
  }

  &:active, &:focus {
    background-color: rgb(77, 131, 0);
    color: #ffffff;
    box-shadow: inset 0 4px 1px rgba(0, 0, 0, 0.17);
  }

  &--special {
    margin-right: 0;

    @media (min-width: 1200px) {
      background-color: #67af01;
      color: #ffffff;
    }
  }
}

.lower-nav__button-bg {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 23px 0 23px 23px;
  width: 30px;
  height: 30px;

  @media (min-width: 530px) {
    height: 40px;
    border-radius: 21px 0 21px 21px;
  }

  @media (min-width: 600px) {
    width: 40px;
  }

  @media (min-width: 1200px) {
    width: 47px;
    height: 48px;
    border-radius: 24px 0 24px 24px;

  }

  &--calculator {
    background-color: #d6251d;

    &:before {
      position: absolute;
      bottom: 0;
      right: 0;
      display: block;
      content: url("../img/head-lower-menu/calculator-small.png");
      line-height: 0;

      @media (min-width: 530px) {
        content: url("../img/head-lower-menu/calculator-middle.png");
      }

      @media (min-width: 1200px) {
        content: url("../img/head-lower-menu/calculator.png");
      }
    }
  }

  &--order {
    background-color: #babbb5;

    &:before {
      position: absolute;
      bottom: 0;
      right: 0;
      display: block;
      content: url("../img/head-lower-menu/paper-small.png");
      line-height: 0;

      @media (min-width: 530px) {
        content: url("../img/head-lower-menu/paper-middle.png");
      }

      @media (min-width: 1200px) {
        content: url("../img/head-lower-menu/paper.png");
      }
    }
  }

  &--phone {
    background-color: #b9874f;

    &:before {
      position: absolute;
      bottom: 0;
      right: 0;
      display: block;
      content: url("../img/head-lower-menu/phone-small.png");
      line-height: 0;

      @media (min-width: 530px) {
        content: url("../img/head-lower-menu/phone-middle.png");
      }

      @media (min-width: 1200px) {
        content: url("../img/head-lower-menu/phone.png");
      }
    }
  }

  &--bush {
    background-color: #457600;

    &:before {
      position: absolute;
      bottom: 0;
      right: 0;
      display: block;
      content: url("../img/head-lower-menu/bush-small.png");
      line-height: 0;

      @media (min-width: 530px) {
        content: url("../img/head-lower-menu/bush-middle.png");
      }

      @media (min-width: 1200px) {
        content: url("../img/head-lower-menu/bush.png");
      }
    }
  }
}
