@import '../variables/variables.scss';

.slider-head {
  position: relative;
  height: 785px;
  width: 100%;
  background: url(../img/slider/slider-bg.jpg);
  background-repeat: no-repeat;
}

.slider-head__item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.slider-head__item-title-wrap {
  margin-top: 243px;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;

  &:before {
    display: block;
    content: url("../img/slider/delimiter-large.png");
    clear: both;
  }

  &:after {
    display: block;
    content: url("../img/slider/delimiter-large.png");
    clear: both;
  }
}

.slider-head__item-title {
  margin: 0;
  padding: 0;
  padding-bottom: 3px;
  font-family: $textType1;
  font-size: 80px;
  line-height: 1.17;
  font-weight: 400;
  text-transform: uppercase;
  color: #612228;
}

.slider-head__item-picture-wrap {
  position: absolute;
  top: 0;
  right: 0;
  width: 560px;
  height: 640px;
  line-height: 0;
  overflow: hidden;
}

.slider-head__item-picture {
  // width: 100%;
  height: 100%;

}

.slider-head__buttom-wrap {
  display: flex;
  position: absolute;
  top: 525px;
  left: 388px;
  width: 110px;
  height: 60px;
  border-radius: 30px;
  box-shadow: 0 6px 25px rgba(154, 90, 19, 0.6);
  overflow: hidden;
  text-align: center;

  &::before {
    position: absolute;
    left: calc(50% - 4px);
    top: calc(50% - 19px);
    content: url("../img/nav/delimiter-small.png");
  }
}

.slider-head__buttom {
  width: 50%;
  height: 100%;
  display: block;
  background-color: #67af01;
}
