.tabs__content-row
  .range-wrap
    .range__title Сколько килограмм
    input#destructionRange(type="range", name="#" min="0" max="20000" value="0").range
    .range__output-current-start 0
    .range__output-current-value
      input#destructionInput(value="0", type="number", class="range__output-current-value-input")
      span  кг
.tabs__content-row
  #resultDestructionCurrency.output-counting-result Итого: <span>0,00 &#8381;</span>
