section.map-wrap
  #map.map
  .map__annotation-mark-wrap
    .map__annotation-mark
      .map__annotation-mark-bg
        img(src="assets/img/map/icon-botton-red.png", alt="красный")
      .map__annotation-mark-text Офис
    .map__annotation-mark
      .map__annotation-mark-bg
        img(src="assets/img/map/icon-botton-green.png", alt="зеленый")
      .map__annotation-mark-text Пункт приёма
  .map__bottom-grass
    img.map__bottom-grass-img(src="assets/img/map/map-grass-bottom.png", alt="трава")
