section.section
  .container
    .section__title Режим работы
    .card-work-hours-wrap

      .card-work-hours
        h3.card-work-hours__title #[span.card-work-hours__title.card-work-hours__title--special офис:] г. Тюмень, ул. Революции, д.89
        .card-work-hours__content-wrap
          ul.card-work-hours__text-wrap
            li.list-marker-color-custom
              span.text-bold В период карантина #[br] #[span.text Режим может меняться]
            li.list-marker-color-custom
              span.text-bold ПН - ПТ #[br] #[span.text c 10:00 до 17:00]
            li.list-marker-color-custom
              span.text-bold Суббота, Воскресенье #[br] #[span.text Выходной]

          .card-work-hours__img-wrap
            img(class="card-work-hours__img" src="assets/img/contacts/office.png", alt="works")
            img(class="card-work-hours__img" src="assets/img/contacts/office-desktop.png", alt="works")

      .card-work-hours
        h3.card-work-hours__title #[span.card-work-hours__title.card-work-hours__title--special пункт приёма:] г. Тюмень, 11 км. Ялуторовского тракта, стр.7
        .card-work-hours__content-wrap
          ul.card-work-hours__text-wrap
            li.list-marker-color-custom
              span.text-bold ПН - ПТ #[br] #[span.text c 09:00 до 18:00]
            li.list-marker-color-custom
              span.text-bold Суббота #[br] #[span.text c 09:00 до 17:00]
            li.list-marker-color-custom
              span.text-bold Воскресенье #[br] #[span.text Выходной]
          .card-work-hours__img-wrap
            img(class="card-work-hours__img" src="assets/img/contacts/works.png", alt="works")
            img(class="card-work-hours__img" src="assets/img/contacts/works-desktop.png", alt="works")

      .card-work-hours
        h3.card-work-hours__title #[span.card-work-hours__title.card-work-hours__title--special пункт приёма:] г. Тюмень, ул. Авторемонтная, д.9, склад №11
        .card-work-hours__content-wrap
          ul.card-work-hours__text-wrap
            li.list-marker-color-custom
              span.text-bold ПН - ПТ #[br] #[span.text c 09:00 до 18:00]
            li.list-marker-color-custom
              span.text-bold Суббота #[br] #[span.text c 09:00 до 17:00]
            li.list-marker-color-custom
              span.text-bold Воскресенье #[br] #[span.text Выходной]
          .card-work-hours__img-wrap
            img(class="card-work-hours__img" src="assets/img/contacts/works.png", alt="works")
            img(class="card-work-hours__img" src="assets/img/contacts/works-desktop.png", alt="works")

      .card-work-hours
        h3.card-work-hours__title #[span.card-work-hours__title.card-work-hours__title--special пункт приёма:] г. Тюмень, ул. Тимирязева, д.9, стр.10
        .card-work-hours__content-wrap
          ul.card-work-hours__text-wrap
            li.list-marker-color-custom
              span.text-bold ПН - ПТ #[br] #[span.text c 09:00 до 18:00]
            li.list-marker-color-custom
              span.text-bold Суббота #[br] #[span.text c 09:00 до 17:00]
            li.list-marker-color-custom
              span.text-bold Воскресенье #[br] #[span.text Выходной]
          .card-work-hours__img-wrap
            img(class="card-work-hours__img" src="assets/img/contacts/works.png", alt="works")
            img(class="card-work-hours__img" src="assets/img/contacts/works-desktop.png", alt="works")

      .card-work-hours
        h3.card-work-hours__title #[span.card-work-hours__title.card-work-hours__title--special пункт приёма:] г. Тюмень, ул. Щербакова, д.160, стр.3
        .card-work-hours__content-wrap
          ul.card-work-hours__text-wrap
            li.list-marker-color-custom
              span.text-bold ПН - ПТ #[br] #[span.text c 09:00 до 18:00]
            li.list-marker-color-custom
              span.text-bold Суббота #[br] #[span.text c 09:00 до 17:00]
            li.list-marker-color-custom
              span.text-bold Воскресенье #[br] #[span.text Выходной]
          .card-work-hours__img-wrap
            img(class="card-work-hours__img" src="assets/img/contacts/works.png", alt="works")
            img(class="card-work-hours__img" src="assets/img/contacts/works-desktop.png", alt="works")
