section.section
  .container
    .section__title Что из себя представляет контейнер:
    .about-containers-subtitle
      h2.text-short-description Специальный контейнер для сбора стекла, пластика, бытовых отходов с последущим вывозом на переработку.
    .about-containers
      .about-containers__section
        .about-ecoyard__ellipse
          img(src="assets/img/projects/ecoyard-containers.png", class="about-ecoeard__img", alt="контейнер")
          .about-ecoyard__number.about-ecoyard__number--1
            .stage-ellipse 01
            .text Закрытая металлическая конструкция со специализированными мешками (Биг-Бэг) для сбора сырья, установленные внутри контейнера.
          .about-ecoyard__number.about-ecoyard__number--2
            .text Предусмотрены Биг-Бэги для удобной транспортировки сырья.
            .stage-ellipse 02
          .about-ecoyard__number.about-ecoyard__number--3
            .stage-ellipse 03
            .text размеры 300*120*210 см
