include ../../mixins/mixins-cards.pug
include ../../mixins/content-card.pug
include ../../mixins/buttons.pug
include ../../mixins/pagination.pug
section.section
  .container
    .navigating-source-path
      .navigating-source-path__item
        a(href="index.html" class="navigating-source-path__link") Главная &raquo;
      .navigating-source-path__item
        p.navigating-source-path__text Экодвор
    h1.section__title Установка уличных контейнеров
    .ecoyard-description
      .ecopromo-description__sticker
        img(class="ecopromo-description__sticker-img adaptive-img" src="assets/img/projects/sticker-mobile.png", alt="sticker")
        img(class="ecopromo-description__sticker-img adaptive-img" src="assets/img/destruction/sticker-tablet.png", alt="sticker")
        img(class="ecopromo-description__sticker-img adaptive-img" src="assets/img/destruction/sticker.png", alt="sticker")
        .ecoyard-description__sticker-containers
          img(src="assets/img/projects/ecoyard-containers.png", alt="containers")
        .ecoyard-description__sticker-text
          .text
            | ЭКО-двор - это проект по отдельному сбору стекла, пластика и макулатуры, прямо во дворе вашего дома

    .ecostyle-description.pt-40
      .ecostyle-description__content-wrap.ecostyle-description__content-wrap--align-left
        h3.ecostyle-description__title Проблема отходов - одна из самых важных экологических проблем, с которой человечество борется на протяжении долгих лет.

      .ecostyle-description__content-wrap.ecostyle-description__content-wrap--align-left
        .ecostyle-description__img-wrap
          img(src="assets/img/containers-sale/black-bag.jpg", alt="мусорный мешок", class="ecostyle-description__img")
          .ecostyle-description__icon-wrap
            img(src="assets/img/containers-sale/400-kg.png", alt="грузик", class="ecostyle-description__icon")
        p.ecostyle-description__text Всего в России насчитывается более 14 тыс. крупных свалок. Их площадь – более 4 млн (= S Швейцарии). Каждый из нас отправляет на свалку 400 кг мусора в год.

      .ecostyle-description__content-wrap.ecostyle-description__content-wrap--align-right
        .ecostyle-description__img-wrap.ecostyle-description__img-wrap--mobile
          img(src="assets/img/containers-sale/3-containers-small.jpg", alt="контейнеры", class="ecostyle-description__img")
          .ecostyle-description__icon-wrap.ecostyle-description__icon-wrap--position-top-0-right-15
            img(src="assets/img/containers-sale/icon-5percent.png", alt="5%", class="ecostyle-description__icon")
        p.ecostyle-description__text Современный метод решения этой проблемы — раздельный сбор отходов и их переработка. Сегодня это признано во всем мире. Некоторые страны уже перерабатывают до 70% отходов, а у нас в стране — меньше 5% отходов.
        .ecostyle-description__img-wrap.ecostyle-description__img-wrap--desktop
          img(src="assets/img/containers-sale/3-containers-small.jpg", alt="контейнеры", class="ecostyle-description__img")
          .ecostyle-description__icon-wrap.ecostyle-description__icon-wrap--position-top-0-right-15
            img(src="assets/img/containers-sale/icon-5percent.png", alt="5%", class="ecostyle-description__icon")

      .ecostyle-description__content-wrap.ecostyle-description__content-wrap--align-left
        .ecostyle-description__img-wrap
          img(src="assets/img/containers-sale/kisspng-plastic-bag.png", alt="контейнеры", class="ecostyle-description__img")
          .ecostyle-description__icon-wrap.ecostyle-description__icon-wrap--position-top-0-right-0
            img(src="assets/img/containers-sale/400-kg-second.png", alt="5%", class="ecostyle-description__icon")
        p.ecostyle-description__text Один человек в среднем в год выбрасывает около 400кг, это 11 кг/день.
