section.rules-participation
  .containers
    .ecoyard-rules__title-wrap
      h2.ecoyard-rules__title Присоединяйтесь к проекту по отдельному сбору стекла, пластика и макулатуры
      h3.section__title «ЭКО-двор»
    .ecoyard-rules__flex-container
      .ecoyard-rules__column
        .subtitle Если вы житель многоэтажного дома:
        .ecoyard-rules__img-wrap
          img(src="assets/img/containers-sale/sticker-participation-mobile.png", class="rules-participation__sticker", alt="стикер")
          img(src="assets/img/containers-sale/sticker-participation.png", class="rules-participation__sticker rules-participation__sticker--desktop", alt="стикер")
          .ecoyard-rules__sticker-text-wrap
            ul.custom-marker
              li.custom-marker__list
                span.text-short-description Сортируйте сырье у себя дома.
              li.custom-marker__list
                span.text-short-description Выбрасывай каждый вид сырья в нужный бак.
            .rules-participation__sticker-delimiter-wrap
              img(src="assets/img/containers-sale/sticker-delimiter.png", alt="разделитель")

      .ecoyard-rules__column
        .subtitle Если вы Управляющая Компания:
        .ecoyard-rules__img-wrap
          img(src="assets/img/containers-sale/sticker-participation-mobile.png", class="rules-participation__sticker", alt="стикер")
          img(src="assets/img/containers-sale/sticker-participation.png", class="rules-participation__sticker rules-participation__sticker--desktop", alt="стикер")
          .ecoyard-rules__sticker-text-wrap
            ul.custom-marker
              li.custom-marker__list
                span.text-short-description Необходимо заключить договор.
              li.custom-marker__list
                span.text-short-description Выделить место под установку нами контейнера.
              li.custom-marker__list
                span.text-short-description Установка контейнера бесплатно.
            .rules-participation__sticker-delimiter-wrap
              img(src="assets/img/containers-sale/sticker-delimiter.png", alt="разделитель")
