section.blog-head-bg
  .blog-head__img-wrap
    img(src="assets/img/blog/blog-bg-mobile.png", alt="bg")
    img(src="assets/img/blog/blog-bg-tablet.png", alt="bg")
    img(src="assets/img/blog/blog-bg.png", alt="bg")
  .blog-head__source-path
    .container
    .navigating-source-path
      .navigating-source-path__item
        a(href="index.html" class="navigating-source-path__link") Главная &raquo;
      .navigating-source-path__item
        p.navigating-source-path__text Блог
    h1.section__title Блог
