section.blog-head-bg
  .blog-head__source-path
    .container
      .navigating-source-path
        .navigating-source-path__item
          a(href="index.html" class="navigating-source-path__link") Главная &raquo;
        .navigating-source-path__item
          p.navigating-source-path__text Блог
      h1.section__title Блог
  .blog-head__img-wrap
    img(src="assets/img/blog/stationery-tablet.png", alt="stationery")
    img(src="assets/img/blog/stationery.png", alt="stationery")
    .blog-head__img-group-mobile
      img(src="assets/img/blog/notepad.png", alt="notepad")
      img(src="assets/img/blog/keyboard.png", alt="keyboard")
      img(src="assets/img/blog/cup.png", alt="cup")
