include ../../mixins/mixins-cards.pug
include ../../mixins/content-card.pug
include ../../mixins/buttons.pug
section.container
  .blog-section
    .blog-body
      +card-full-width('card-full-width--blog')
        +content-blog(
            '12.03.2020',
            'Мы стремимся быть ближе',
            'Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto tempore deleniti veniam provident exercitationem molestiae laborum quae, at animi neque quibusdam a sunt aliquam, atque porro voluptatum? Nesciunt, cumque dicta!'
          )

      +card-full-width('card-full-width--blog')
        +content-blog(
            '12.03.2020',
            'Мы стремимся быть ближе',
            'Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto tempore deleniti veniam provident exercitationem molestiae laborum quae, at animi neque quibusdam a sunt aliquam, atque porro voluptatum? Nesciunt, cumque dicta!'
          )

      +card-full-width('card-full-width--blog')
        +content-blog(
            '12.03.2020',
            'Мы стремимся быть ближе',
            'Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto tempore deleniti veniam provident exercitationem molestiae laborum quae, at animi neque quibusdam a sunt aliquam, atque porro voluptatum? Nesciunt, cumque dicta!'
          )

    aside.filter-aside.filter-aside--blog
      +button-filter('Экология', 'button-filter--blog')
        .count-write-theme 15
      +button-filter('Новости', 'button-filter--blog')
        .count-write-theme 16
      +button-filter('Сбор вторсырья', 'button-filter--blog')
        .count-write-theme 3
      +button-filter('Акции', 'button-filter--blog')
        .count-write-theme 996
      +button-filter('Мероприятия', 'button-filter--blog')
        .count-write-theme 88
      +button-filter('Наш город', 'button-filter--blog')
        .count-write-theme 88
      +button-filter('О жизни в компании', 'button-filter--blog')
        .count-write-theme 88
