include ../../mixins/mixins-cards.pug
include ../../mixins/content-card.pug
include ../../mixins/buttons.pug
section.container
  .blog-section
    .blog-body
      +card-full-width('card-full-width--blog')
        +content-blog(
            {src:'assets/img/index/news/news-card-picture-one.jpg', alt: 'news'},
            '12.03.2020',
            'Мы стремимся быть ближе',
            'Для достижения этой цели мы открыли четвертый пункт приема сырья. По адресу: г. Тюмень, ул. Щербакова, д.160, стр. 3',
            'https://mirotvorets72.ru/news_1.html'
          )

      +card-full-width('card-full-width--blog')
        +content-blog(
            {src:'assets/img/index/news/textile.jpg', alt: 'textile'},
            '12.03.2020',
            'Расширяем линейку обрабатываемого сырья',
            'Мы неравнодушны к экологии! И для улучшения ситуации в нашем регионе, мы постоянно ищем возможности обработки новых видов сырья. Рады сообщить мы запустили прием текстильного сырья (одежда, постельное бельё и т.п.).',
            'https://mirotvorets72.ru/news_2.html'
          )

      +card-full-width('card-full-width--blog')
        +content-blog(
            {src:'assets/img/index/news/site.jpg', alt: 'site'},
            '12.03.2020',
            'Для вашего удобства',
            'Мы всей командой постоянно работаем над улучшением сервиса для вас! Мы запустили новый сайт, на котором вы можете найти всю необходимую информацию, оставить свои отзывы и предложения, рассчитать стоимость сырья онлайн.',
            'https://mirotvorets72.ru/news_3.html'
          )

      +card-full-width('card-full-width--blog')
        +content-blog(
            {src:'assets/img/blog/news/nature.jpg', alt: 'nature'},
            '01.07.2020',
            'РИО новости',
            'Исследователи из Университета штата Колорадо (США) и их австралийские коллеги определили регион с самым чистым воздухом на планете.',
            'https://mirotvorets72.ru/news_4.html'
          )

      +card-full-width('card-full-width--blog')
        +content-blog(
            {src:'assets/img/blog/news/promo.jpg', alt: 'promo'},
            '30.06.2020',
            'ЭКО Акция',
            'ЭКО Акция',
            'https://mirotvorets72.ru/news_5.html'
          )

      +card-full-width('card-full-width--blog')
        +content-blog(
            {src:'assets/img/blog/news/map.jpg', alt: 'map'},
            '30.06.2020',
            'Пункты приема',
            'Друзья, открыты все пункты приема вторсырья. Режим работы:',
            'https://mirotvorets72.ru/news_6.html'
          )

      +card-full-width('card-full-width--blog')
        +content-blog(
            {src:'assets/img/blog/news/containers.jpg', alt: 'containers'},
            '30.06.2020',
            'Разделяй вместе с нами!',
            'Давайте сделаем наш город чище. Как сдать сырье?',
            'https://mirotvorets72.ru/news_7.html'
          )

    //- aside.filter-aside.filter-aside--blog
    //-   +button-filter('Экология', 'button-filter--blog')
    //-     .count-write-theme 15
    //-   +button-filter('Новости', 'button-filter--blog')
    //-     .count-write-theme 16
    //-   +button-filter('Сбор вторсырья', 'button-filter--blog')
    //-     .count-write-theme 3
    //-   +button-filter('Акции', 'button-filter--blog')
    //-     .count-write-theme 996
    //-   +button-filter('Мероприятия', 'button-filter--blog')
    //-     .count-write-theme 88
    //-   +button-filter('Наш город', 'button-filter--blog')
    //-     .count-write-theme 88
    //-   +button-filter('О жизни в компании', 'button-filter--blog')
    //-     .count-write-theme 88
