section.section
  .procedure
    .container
      .section__title Порядок уничтожения документов с истекшим сроком хранения
    .procedure-head
      .procedure-head__sticker-wrap
        img(class="procedure-head__sticker-img" src="assets/img/destruction/sticker-tablet.png", alt="sticker")
        img(class="procedure-head__sticker-img" src="assets/img/destruction/sticker.png", alt="sticker")
        .procedure-head__sticker-text
          | Существует единый порядок уничтожения всех документов на бумажных носителях и в электронной форме, в том числе бухгалтерских и кадровых. Для этого составляется установленной формы акт на уничтожение документов в результате проведения экспертизы ценности документов. Его точное название – "Акт о выделении к уничтожению документов", не подлежащих хранению.
      .procedure-head__calendar-wrap
        img(class="procedure-head__calendar-img" src="assets/img/destruction/calendar-mobile.png" alt="calendar")
        img(class="procedure-head__calendar-img" src="assets/img/destruction/calendar-tablet.png", alt="calendar")
        img(class="procedure-head__calendar-img" src="assets/img/destruction/calendar.png", alt="calendar")
section.section.pt-0
  .container
    p.text
      | В акте на уничтожение перед группой заголовков каждого структурного подразделения пишется название этого подразделения. Нужно заголовки однородных дел вносить под общим заголовком с указанием суммарного количества дел. Не занижайте и не завышайте число позиций в акте на уничтожение, а также количество дел в позиции, чтобы избежать возможных недоразумений в дальнейшем из-за несоответствия (незаконное уничтожение или наоборот формально делапродолжают числиться в наличии).
  .procedure-card-wrap
    .procedure-card
      .procedure-card__description
        h4.text-bold
          | Для того чтобы провести полноценную оценку документов, выделяемых к уничтожению, в состав экспертной комиссии желательно включать следующих сотрудников:
        ul.procedure-card__text-wrap
          li.list-marker-color-custom
            span.text представителя руководства организации
          li.list-marker-color-custom
            span.text архивиста
          li.list-marker-color-custom
            span.text главного бухгалтера организации
          li.list-marker-color-custom
            span.text представителя службы персонала организации
          li.list-marker-color-custom
            span.text представителя юридической службы организации
          li.list-marker-color-custom
            span.text сотрудника службы документационного обеспечения или секретаря организации.
      .procedure-card__img-wrap
        img(src="assets/img/destruction/folders-mobile.jpg" class="procedure-card__img" alt="Регистры")
        img(src="assets/img/destruction/folders-tablet.jpg" class="procedure-card__img" alt="Регистры")
        img(src="assets/img/destruction/folders.jpg" class="procedure-card__img" alt="Регистры")
  .container
    p.text
      | Обратите внимание на порядок утверждения акта, чтобы избежать довольно частой ошибки. Акт об уничтожении документов утверждается руководителем организации, для организаций, которые не передают документы на государственное хранение , после упорядочения документов по личному составу (т.е. в соответствии с нормативными требованиями дела подшиты в твердую обложку, составлены описи) за соответствующий период без согласования с архивными органами.
    p.text
      | Затем организация может уничтожать дела, включенные в акт. Использовать эти документы для хозяйственных нужд не разрешается. Так что у вас есть два направления для дальнейших действий.
    p.text
      | Уничтожить документы можно самостоятельно – сжечь (чревато проблемами с пожарной службой), при помощи уничтожителя бумаг (долго и подойдет только для маленьких объемов). В этом случае вам надо будет составить акт в произвольной форме, чтобы зафиксировать факт уничтожения.
    p.text
      | Обычно предназначенные для уничтожения дела передают на переработку (утилизацию) в специализированную организацию. В этом случае передача документов оформляется приемо-сдаточным актом или накладной, где должны быть указаны дата, количество дел и их вес. Для обеспечения конфиденциальности передачу дел на переработку и уничтожение документов необходимо проводить под контролем сотрудника организации.
