section.section
  .procedure
    .container
      .section__title Порядок уничтожения документов с истекшим сроком хранения
    .procedure-head
      .procedure-head__sticker-wrap
        img(class="procedure-head__sticker-img" src="assets/img/destruction/sticker-tablet.png", alt="sticker")
        img(class="procedure-head__sticker-img" src="assets/img/destruction/sticker.png", alt="sticker")
        .procedure-head__sticker-text
          | Существует единый порядок уничтожения всех документов на бумажных носителях и в электронной форме, в том числе бухгалтерских и кадровых. Для этого составляется установленной формы акт на уничтожение документов в результате проведения экспертизы ценности документов. Его точное название – "Акт о выделении к уничтожению документов", не подлежащих хранению.
      .procedure-head__calendar-wrap
        img(class="procedure-head__calendar-img" src="assets/img/destruction/calendar-mobile.png" alt="calendar")
        img(class="procedure-head__calendar-img" src="assets/img/destruction/calendar-tablet.png", alt="calendar")
        img(class="procedure-head__calendar-img" src="assets/img/destruction/calendar.png", alt="calendar")
