section.section
  .container
    .navigating-source-path
      .navigating-source-path__item
        a(href="index.html" class="navigating-source-path__link") Главная &raquo;
      .navigating-source-path__item
        p.navigating-source-path__text Утилизация документов
    h1.section__title Уничтожние архивов и документов
    //- Mobile show
    .stage-wrap-mobile
      .stage__item.stage__item--increased-width
        .stage__item-head
          .stage__item-img-wrap
            img(class="stage__item-img" src="assets/img/destruction/contract-mobile.png", alt="contract")
            img(class="stage__item-img" src="assets/img/destruction/contract.png", alt="contract")
          .stage__item-number.stage__item-number--1 01
        .stage__item-text Заключение договора

      .stage__item-arrow-wrap
        img(class="stage__item-img-arrow" src="assets/img/destruction/arrow-small-up.png", alt="contract")
        img(class="stage__item-img-arrow" src="assets/img/destruction/arrow.png", alt="contract")

      .stage__item
        .stage__item-head
          .stage__item-img-wrap
            img(class="stage__item-img" src="assets/img/destruction/order-mobile.png", alt="contract")
            img(class="stage__item-img" src="assets/img/destruction/order.png", alt="contract")
          .stage__item-number.stage__item-number--2 02
        .stage__item-text Вы офрмляете заявку

    .stage-wrap-mobile
      .stage__item.stage__item--increased-width
        .stage__item-head
          .stage__item-img-wrap
            img(class="stage__item-img" src="assets/img/destruction/auto-mobile.png", alt="contract")
            img(class="stage__item-img" src="assets/img/destruction/auto.png", alt="contract")
          .stage__item-number.stage__item-number--3 03
        .stage__item-text К вам выезжает машина

      .stage__item-arrow-wrap
        img(class="stage__item-img-arrow" src="assets/img/destruction/arrow-small-down.png", alt="contract")
        img(class="stage__item-img-arrow" src="assets/img/destruction/arrow.png", alt="contract")

      .stage__item
        .stage__item-head
          .stage__item-img-wrap
            img(class="stage__item-img" src="assets/img/destruction/scales-mobile.png", alt="contract")
            img(class="stage__item-img" src="assets/img/destruction/scales.png", alt="contract")
          .stage__item-number.stage__item-number--4 04
        .stage__item-text Взвешивание

    .stage-wrap-mobile
      .stage__item
        .stage__item-head
          .stage__item-img-wrap
            img(class="stage__item-img" src="assets/img/destruction/report-mobile.png", alt="contract")
            img(class="stage__item-img" src="assets/img/destruction/report.png", alt="contract")
          .stage__item-number.stage__item-number--5 05
        .stage__item-text Составляем приемо-сдаточный акт

      .stage__item-arrow-wrap
        img(class="stage__item-img-arrow" src="assets/img/destruction/arrow-small-up.png", alt="contract")
        img(class="stage__item-img-arrow" src="assets/img/destruction/arrow.png", alt="contract")

      .stage__item
        .stage__item-head
          .stage__item-img-wrap
            img(class="stage__item-img" src="assets/img/destruction/destruction-mobile.png", alt="contract")
            img(class="stage__item-img" src="assets/img/destruction/destruction.png", alt="contract")
          .stage__item-number.stage__item-number--6 06
        .stage__item-text Мы выполняем работы по уничтожению документации

    .stage-wrap-mobile.stage-wrap-mobile--content-center
      .stage__item-arrow-wrap
        img(class="stage__item-img-arrow" src="assets/img/destruction/arrow-small-up.png", alt="contract")
        img(class="stage__item-img-arrow" src="assets/img/destruction/arrow.png", alt="contract")

      .stage__item.stage__item--one-item-in-row
        .stage__item-head
          .stage__item-img-wrap
            img(class="stage__item-img" src="assets/img/destruction/money-mobile.png", alt="contract")
            img(class="stage__item-img" src="assets/img/destruction/money.png", alt="contract")
          .stage__item-number.stage__item-number--7 07
        .stage__item-text Вы производите оплату


    //- Desktop show
    .stage-wrap
      .stage__item
        .stage__item-head
          .stage__item-img-wrap
            img(class="stage__item-img" src="assets/img/destruction/contract-mobile.png", alt="contract")
            img(class="stage__item-img" src="assets/img/destruction/contract.png", alt="contract")
            .stage__item-number.stage__item-number--1 01
        .stage__item-text Заключение договора

      .stage__item-arrow-wrap
        img(class="stage__item-img-arrow" src="assets/img/destruction/arrow-small-up.png", alt="contract")
        img(class="stage__item-img-arrow" src="assets/img/destruction/arrow.png", alt="contract")

      .stage__item
        .stage__item-head
          .stage__item-img-wrap
            img(class="stage__item-img" src="assets/img/destruction/order-mobile.png", alt="contract")
            img(class="stage__item-img" src="assets/img/destruction/order.png", alt="contract")
          .stage__item-number.stage__item-number--2 02
        .stage__item-text Вы офрмляете заявку

      .stage__item-arrow-wrap
        img(class="stage__item-img-arrow" src="assets/img/destruction/arrow-small-down.png", alt="contract")
        img(class="stage__item-img-arrow" src="assets/img/destruction/arrow.png", alt="contract")

      .stage__item
        .stage__item-head
          .stage__item-img-wrap
            img(class="stage__item-img" src="assets/img/destruction/auto-mobile.png", alt="contract")
            img(class="stage__item-img" src="assets/img/destruction/auto.png", alt="contract")
          .stage__item-number.stage__item-number--3 03
        .stage__item-text К вам выезжает машина

      .stage__item-arrow-wrap
        img(class="stage__item-img-arrow" src="assets/img/destruction/arrow-small-up.png", alt="contract")
        img(class="stage__item-img-arrow" src="assets/img/destruction/arrow.png", alt="contract")

      .stage__item
        .stage__item-head
          .stage__item-img-wrap
            img(class="stage__item-img" src="assets/img/destruction/scales-mobile.png", alt="contract")
            img(class="stage__item-img" src="assets/img/destruction/scales.png", alt="contract")
          .stage__item-number.stage__item-number--4 04
        .stage__item-text Взвешивание

    .stage-wrap
      .stage__item
        .stage__item-head
          .stage__item-img-wrap
            img(class="stage__item-img" src="assets/img/destruction/report-mobile.png", alt="contract")
            img(class="stage__item-img" src="assets/img/destruction/report.png", alt="contract")
          .stage__item-number.stage__item-number--5 05
        .stage__item-text Составляем приемо-сдаточный акт

      .stage__item-arrow-wrap
        img(class="stage__item-img-arrow" src="assets/img/destruction/arrow-small-down.png", alt="contract")
        img(class="stage__item-img-arrow" src="assets/img/destruction/arrow.png", alt="contract")

      .stage__item
        .stage__item-head
          .stage__item-img-wrap
            img(class="stage__item-img" src="assets/img/destruction/destruction-mobile.png", alt="contract")
            img(class="stage__item-img" src="assets/img/destruction/destruction.png", alt="contract")
          .stage__item-number.stage__item-number--6 06
        .stage__item-text Мы выполняем работы по уничтожению документации

      .stage__item-arrow-wrap
        img(class="stage__item-img-arrow" src="assets/img/destruction/arrow-small-up.png", alt="contract")
        img(class="stage__item-img-arrow" src="assets/img/destruction/arrow.png", alt="contract")

      .stage__item
        .stage__item-head
          .stage__item-img-wrap
            img(class="stage__item-img" src="assets/img/destruction/money-mobile.png", alt="contract")
            img(class="stage__item-img" src="assets/img/destruction/money.png", alt="contract")
          .stage__item-number.stage__item-number--7 07
        .stage__item-text Вы производите оплату
