section.what-docs-dg.pt-80
  //- tablet
  .what-docs-mobile-tablet-container
    h2.section__title Документы подлежащие уничтожению
    h3.text-bold.mt-0
      | Уничтожению подлежат документы с истекшими сроками хранения и потерявшие практическое значение.
    p.text
      | Чтобы определить срок хранения документов и соответственно узнать истек ли он, надо пользоваться номенклатурой дел организации. В случае необходимости можно уточнять сроки по типовым и ведомственным перечням документов, при этом вы имеете право из практических соображений увеличивать сроки хранения и никогда – уменьшать их.
    .what-docs-content
      .what-docs-content__img-wrap
        img(class="what-docs-content__img" src="assets/img/destruction/book-mobile.png", alt="book")
        img(class="what-docs-content__img" src="assets/img/destruction/book-tablet.png", alt="book")
      .what-docs-content__description
        p.text
          | При определении сроков хранения документов вы также руководствуетесь иными существующими требованиями в вашей сфере деятельности, например, в налоговом кодексе, федеральном законе, постановлении правительства РФ и т.п. Тем не менее, подавляющее число документов имеет пятилетний срок хранения, установленный по типовому перечню.
        p.text
          | Дела разрешается включать в акт на уничтожение, если их срок хранения закончился к 1 января года составления акта.  Это нормативное требование следует понимать так: дело 2014 года со сроком хранения «5 лет» можно включить в акт не ранее 2020 года.



  //- desktop > 1200px
  .container.what-docs__show-desktop
    h1.section__title Документы подлежащие уничтожению
    .what-docs-content
      .what-docs-content__img-wrap
        img(class="what-docs-content__img" src="assets/img/destruction/book.png", alt="book")
      .what-docs-content__description
        h2.text-bold.mt-0
          | Уничтожению подлежат документы с истекшими сроками хранения и потерявшие практическое значение.
        p.text
          | Чтобы определить срок хранения документов и соответственно узнать истек ли он, надо пользоваться номенклатурой дел организации. В случае необходимости можно уточнять сроки по типовым и ведомственным перечням документов, при этом вы имеете право из практических соображений увеличивать сроки хранения и никогда – уменьшать их.
        p.text
          | При определении сроков хранения документов вы также руководствуетесь иными существующими требованиями в вашей сфере деятельности, например, в налоговом кодексе, федеральном законе, постановлении правительства РФ и т.п. Тем не менее, подавляющее число документов имеет пятилетний срок хранения, установленный по типовому перечню.
        p.text
          | Дела разрешается включать в акт на уничтожение, если их срок хранения закончился к 1 января года составления акта.  Это нормативное требование следует понимать так: дело 2014 года со сроком хранения «5 лет» можно включить в акт не ранее 2020 года.
