include ../../mixins/dropdown-block.pug
include ../../mixins/string-with-icon.pug

section.section.promo-adress
  .container
    h2.section__title Адреса проведения экоакции
  .tabs
    .container
      .tabs__header.tabs__header--two-elements
        .tabs__header-item.tabs__header-item--active На карте
        .tabs__header-item Список
    .tabs__content.pt-60.tabs__content--active
      .map-wrap
        #map.map
        .map__annotation-mark-wrap
          .map__annotation-mark
            .map__annotation-mark-bg
              img(src="assets/img/map/icon-botton-green.png", alt="зеленый")
            .map__annotation-mark-text Пункт приёма
        .map__bottom-grass
          img.map__bottom-grass-img(src="assets/img/map/map-grass-bottom.png", alt="трава")
    .tabs__content.pt-60
      .container
        +dropdown-block('Восточный Административный округ')
          .cards-subtitle.cards-subtitle--alternative 17.07.20 (пятница)
          +string-with-icon([
            '09:00 - 09:15 Николая Фёдорова, 17, к.1',
            '09:30 - 09:45 Бориса Опрокиднева, 12',
            '10:15 - 10:30 Широтная, 104',
            '10:45 - 11:00 Широтная, 148 к1',
            '11:15 - 11:30 Широтная, 136',
            '12:00 - 12:15 Бориса Житкова, 8 к1',
            '12:30 - 12:45 Линейная, 17',
            '13:00 - 13:15 Широтная, 170 к3',
            '13:30 - 13:45 Широтная, 192 к1'
            ])
          .cards-subtitle.cards-subtitle--alternative 18.07.20(суббота)
          +string-with-icon([
            '09:00 - 09:15 Широтная, 213',
            '09:30 - 09:45 Ивана Словцова, 23',
            '10:15 - 10:30 Олимпийская, 51',
            '10:45 - 11:00 30 лет Победы, 92',
            '11:30 - 11:45 Пермякова, 54а',
            '12:00 - 12:15 Широтная, 45',
            '12:30 - 12:45 Широтная, 17'
            ])

        +dropdown-block('Калининский Административный округ')
          .cards-subtitle.cards-subtitle--alternative 23.07.20 (чeтверг)
          +string-with-icon([
            '09:00 - 09:15 Демьяна Бедного, 83 к1',
            '09:30 - 09:45 Панфиловцев, 86',
            '10:00 - 10:15 Степной 7-й переулок, 57',
            '10:30 - 10:45 Московский тракт, 163',
            '11:00 - 11:15 Московский тракт, 137',
            '11:30 - 11:45 Кремлевская, 89',
            '12:15 - 12:30 Фармана Салманова, 4',
            '12:45 - 13:00 Александра Протозанова, 10 к1 Соседский центр «Преображенский»',
            ])
          .cards-subtitle.cards-subtitle--alternative 24.07.20 (пятница)
          +string-with-icon([
            '09:00 - 09:15 Магнитогорская, 4',
            '09:30 - 09:45 Амурская, 39',
            '10:00 - 10:15 Восстания, 19',
            '10:45 - 11:00 Карла Маркса, 8',
            '11:30 - 11:45 Полевая, 12а',
            '12:00 - 12:15 Ямская, 73 к2',
            '12:30 - 12:45 Полевая, 105/2',
            '13:15 - 13:30 Петербургская, 27',
            '13:45 - 14:00 Зеркальная, 22',
            ])

        +dropdown-block('Центральный Административный округ')
          .cards-subtitle.cards-subtitle--alternative 31.07.20 (пятница)
          +string-with-icon([
            '09:00 - 09:15 Салтыкова-Щедрина, 53',
            '09:30 - 09:45 Циолковского, 9 к1',
            '10:15 - 10:30 Заречный проезд, 39',
            '10:45 - 11:00 Солнечный проезд, 25',
            '11:30 - 11:45 Шишкова, 16 к1',
            '12:15 - 12:30 Избышева, 8',
            '13:00 - 14:00 Герцена, 55 (Средства с данной акции, будут переведены в фонд «ЖиВи»)',
            ])

        +dropdown-block('Ленинский Административный округ')
          .cards-subtitle.cards-subtitle--alternative 07.08.20 (пятница)
          +string-with-icon([
            '09:00 - 09:15 Пермякова, 22',
            '09:30 - 09:45 Энергетиков, 53',
            '10:00 - 10:15 Севастопольская, 7',
            '10:30 - 10:45 50 лет Октября, 57Б',
            '11:05 - 11:20 Западносибирская, 28',
            '11:40 - 11:55 Беляева, 35 к1',
            '12:10 - 12:25 Академика Сахарова, 7'
            ])
