include ../../mixins/dropdown-block.pug
include ../../mixins/string-with-icon.pug

section.section.promo-adress.pb-0
  .container
    h2.section__title Адреса проведения эко-акции
  .tabs
    .container
      .tabs__header.tabs__header--two-elements
        .tabs__header-item.tabs__header-item--active На карте
        .tabs__header-item Список
    .tabs__content.pt-60.tabs__content--active
      .map-wrap
        #map.map
        .map__bottom-grass
          img.map__bottom-grass-img(src="assets/img/map/map-grass-bottom.png", alt="трава")
    .tabs__content.pt-60
      .container
        +dropdown-block('Ленинский Административный округ')
          .cards-subtitle.cards-subtitle--alternative 04.09.20 (пятница)
          +string-with-icon([
            '09:00-09:15 - Геологоразведчиков, 42',
            '09:30-09:45 - Республики, 142',
            '10:00-10:15 - Пермякова, 22',
            '10:30-10:45 - Энергетиков, 53',
            '11:00-11:15 - Севастопольская, 7',
            '11:30-11:45 - 50 лет Октября, 57Б',
            '12:00-12:15 - Западносибирская, 28',
            '12:30-12:45 - Беляева, 35 к1',
            '13:00-13:15 - Академика Сахарова, 7'
            ])

        +dropdown-block('Восточный Административный округ')
          .cards-subtitle.cards-subtitle--alternative 10.09.20 (чeтверг)
          +string-with-icon([
            '09:00-09:15 - Николая Федорова, 17 к1',
            '09:30-09:45 - Николая Зелинского, 23',
            '10:00-10:15 - Бориса Опрокиднева, 12',
            '10:30-10:45 - Широтная, 104',
            '11:00-11:15 - Широтная, 148 к1',
            '11:30-11:45 - Широтная, 136',
            '12:00-12:15 - Бориса Житкова, 8 к1',
            '12:30-12:45 - Бориса Житкова, 10',
            '13:00-13:15 - Линейная, 17',
            '13:30-13:45 - Широтная, 170 к3',
            '14:00-14:15 - Широная, 192 к1',
            '14:30-14:45 - Родниковая, 2'
            ])
          .cards-subtitle.cards-subtitle--alternative 11.09.20 (пятница)
          +string-with-icon([
            '09:00-09:15 - Широтная, 213',
            '09:30-09:45 - Ивана Словцова, 23',
            '10:00-10:15 - Олимпийская, 51',
            '10:30-10:45 - 30 лет Победы, 92',
            '11:00-11:15 - Пермякова, 48',
            '11:30-11:45 - Пермякова, 54А',
            '12:00-12:15 - Широтная, 45',
            '12:30-12:45 - Широтная, 17'
            ])

        +dropdown-block('Калининский Административный округ')
          .cards-subtitle.cards-subtitle--alternative 17.09.20 (чeтверг)
          +string-with-icon([
            '09:00-09:15 - Демьяна Бедного, 83 к1',
            '09:30-09:45 - Самарцева, 30',
            '10:00-10:15 - Панфиловцев, 86',
            '10:30-10:45 - Степной 7й переулок, 57',
            '11:00-11:15 - Московский тракт, 163',
            '11:30-11:45 - Московский тракт, 137',
            '12:00-12:15 - Кремлевская, 89',
            '12:30-12:45 - Обдорская, 1',
            '13:00-13:15 - Фармана Салманова, 4',
            '13:30-13:45 - Александра Протозанова, 10 к1 Соседский Центр “Преображенский”'
            ])
          .cards-subtitle.cards-subtitle--alternative 18.09.20 (пятница)
          +string-with-icon([
            '09:00-09:15 - Магнитогорская, 4',
            '09:30-09:45 - Амурская, 39',
            '10:00-10:15 - Восстания, 19',
            '10:30-10:45 - Карла Маркса, 8',
            '11:00-11:15 - Чернышевского, 2а',
            '11:30-11:45 - Полевая, 12а',
            '12:00-12:15 - Ямская, 73 к2',
            '12:30-12:45 - Полевая, 105/2',
            '13:00-13:15 - Петербургская, 27',
            '13:30-13:45 - Зеркальная, 22'
            ])

        +dropdown-block('Центральный Административный округ')
          .cards-subtitle.cards-subtitle--alternative 25.09.20 (пятница)
          +string-with-icon([
            '09:00-9:15 – Холодильная, 136',
            '09:30-09:45 - Салтыкова-Щедрина, 53',
            '10:00-10:15 - Шиллера, 22',
            '10:30-10:45 - Циолковского, 9 к1',
            '11:00-11:15 - Тихий проезд, 6',
            '11:30-11:45 - Эрвье, 30 к4',
            '12:00-12:15 - Заречный проезд, 39',
            '12:30-12:45 - Солнечный проезд, 25',
            '13:00-13:15 - Шишкова, 16 к1',
            '13:30-13:45 - Избышева, 8'
            ])
          .cards-subtitle.cards-subtitle--alternative 26.09.20 (cуббота)
          +string-with-icon([
            '10:00-11:00 - Герцена, 55. Эко-акция совместно с магазином «Zerno» - средства с данной акции будут переведены в фонд помощи животным «ЖиВи»',
            ])
