include ../../mixins/dropdown-block.pug
include ../../mixins/string-with-icon.pug

section.section.promo-adress.pb-0
  .container
    h2.section__title Адреса проведения эко-акции
  .tabs
    .container
      .tabs__header.tabs__header--two-elements
        .tabs__header-item.tabs__header-item--active На карте
        .tabs__header-item Список
    .tabs__content.pt-60.tabs__content--active
      .map-wrap
        #map.map
        .map__bottom-grass
          img.map__bottom-grass-img(src="assets/img/map/map-grass-bottom.png", alt="трава")
    .tabs__content.pt-60
      .container
        +dropdown-block('Ленинский Административный округ')
          .cards-subtitle.cards-subtitle--alternative 31.10.20 (суббота)
          +string-with-icon([
            '09:00-09:15 - Малыгина, 86 к1',
            '09:30-09:45 - Республики, 142',
            '10:00-10:15 - Геологоразведчиков, 42',
            '10:30-10:45 - Пермякова, 22',
            '11:00-11:15 - Энергетиков, 53',
            '11:30-11:45 - Севастопольская, 7',
            '12:00-12:15 - 50 лет Октября, 57Б',
            '12:30-12:45 - Западносибирская, 28',
            '13:00-13:15 - Беляева, 35 к1',
            '13:30-13:45 - Судоремонтная, 28 к2',
            '14:00-14:15 - Академика Сахарова, 7',
            '14:30-14:45 - Газопромысловая, 3',
            '15:00-15:15 - Газопромысловая, 4',
            '15:30-15:45 - Игримская, 31а',
            '16:00-16:15 - Малышева, 14',

            ])

        +dropdown-block('Восточный Административный округ')
          .cards-subtitle.cards-subtitle--alternative 07.11.20 (суббота)
          +string-with-icon([
            '09:00-09:15 - Николая Федорова, 17 к1',
            '09:30-09:45 - Пермякова, 68 к2',
            '10:00-10:15 - Николая Зелинского, 23',
            '10:30-10:45 - Бориса Опрокиднева, 12',
            '11:00-11:15 - Широтная, 104',
            '11:30-11:45 - Широтная, 148 к1',
            '12:00-12:15 - Широтная, 136',
            '12:30-12:45 - Бориса Житкова, 8 к1',
            '13:00-13:15 - Бориса Житкова, 10',
            '13:30-13:45 - Линейная, 17',
            '14:00-14:15 - Широтная, 170 к3',
            '14:30-14:45 - Широная, 192 к1',
            '15:00-15:15 - Родниковая, 2'
            ])
          .cards-subtitle.cards-subtitle--alternative 08.11.20 (воскресенье)
          +string-with-icon([
            '09:00-09:15 - Энергостроителей, 6а',
            '09:30-09:45 - Энергостроителей, 9',
            '10:00-10:15 - Широтная, 213',
            '10:30-10:45 - Энергостроителей, 20 к1',
            '11:00-11:15 - Ивана Словцова, 23',
            '11:30-11:45 - Моторостроителей, 4а',
            '12:00-12:15 - Олимпийская, 51',
            '12:30-12:45 - 30 лет Победы, 92',
            '13:00-13:15 - Пермякова, 48',
            '13:30-13:45 - Пермякова, 54А',
            '14:00-14:15 - Широтная, 45',
            '14:30-14:45 - Широтная, 17'
            ])

        +dropdown-block('Калининский Административный округ')
          .cards-subtitle.cards-subtitle--alternative 14.11.20 (суббота)
          +string-with-icon([
            '09:00-09:15 - Демьяна Бедного, 104 к1',
            '09:30-09:45 - Демьяна Бедного, 83 к1',
            '10:00-10:15 - Депутатская, 78 к1',
            '10:30-10:45 - Молодежная, 28',
            '11:00-11:45 - Мельникайте, 136 к6',
            '11:30-11:45 - Самарцева, 30',
            '12:00-12:15 - Московский тракт, 83 к4',
            '12:30-12:45 - Московский тракт, 163',
            '13:00-13:15 - Московский тракт, 137',
            '13:30-13:45 - Кремлевская, 114',
            '14:00-14:15 - Кремлевская, 89',
            '14:30-14:45 - Кремлевская, 102',
            '15:00-15:15 - Обдорская, 1',
            '15:30-15:45 - Фармана Салманова, 4',
            '16:00-16:15 - Александра Протозанова, 10 к1 Соседский Центр “Преображенский”',
            '16:30-16:45 - Василия Подшибякина, 4',
            '17:00-17:15 - Заполярная, 13',
            ])
          .cards-subtitle.cards-subtitle--alternative 15.11.20 (воскресенье)
          +string-with-icon([
            '09:00-09:15 - Магнитогорская, 4',
            '09:30-09:45 - Амурская, 39',
            '10:00-10:15 - Восстания, 19',
            '10:30-10:45 - Мира, 57',
            '11:00-11:15 - Карла Маркса, 8',
            '11:30-11:45 - Первомайская, 60 к1',
            '12:00-12:15 - Орловская, 50',
            '12:30-12:45 - Туринская, 7',
            '13:00-13:15 - Чернышевского, 2а',
            '13:30-13:45 - Полевая, 12а',
            '14:00-14:15 - Ямская, 73 к2',
            '14:30-14:45 - Полевая, 105/2',
            '15:00-15:15 - Бакинских Комиссаров, 1',
            '15:30-15:45 - Петербургская, 27',
            '16:00-16:15 - Зеркальная, 22'
            ])

        +dropdown-block('Центральный Административный округ')
          .cards-subtitle.cards-subtitle--alternative 21.11.20 (суббота)
          +string-with-icon([
            '09:00-09:15 – Холодильная, 136',
            '09:30-09:45 - Салтыкова-Щедрина, 53',
            '10:00-10:15 - Шиллера, 22',
            '10:30-10:45 - Орджоникидзе, 67',
            '11:00-11:15 - Циолковского, 9 к1',
            '11:30-11:45 - Тихий проезд, 6',
            '12:00-12:15 - Эрвье, 30 к4',
            '12:30-12:45 - Заречный проезд, 39',
            '13:00-13:15 - Солнечный проезд, 25',
            '13:30-13:45 - Шишкова, 16 к1',
            '14:00-14:15 - Избышева, 8',
            '14:30-14:45 - Голышева, 2',
            '15:00-15:15 - Мельникайте, 2 к5'
            ])
