include ../../mixins/mixins-cards.pug
.section
  .container
    .navigating-source-path
      .navigating-source-path__item
        a(href="index.html" class="navigating-source-path__link") Главная &raquo;
      .navigating-source-path__item
        p.navigating-source-path__text Цены
    h1.section__title Цены
    .icon-libra-wrap

    .tabs
      .tabs__header.tabs__header--width-three-elements
        .tabs__header-item.tabs__header-item--active Приём сырья
        .tabs__header-item Уничтожение документов
        .tabs__header-item Хранение документов
      .tabs__content.tabs__content--padding-top-20.tabs__content--active
        +card-product-price(
          "cardboard",
          [
            {
              src:"assets/img/price/cardboard-mobile.png",
              alt: "картон",
              class: "price-product-card__img price-product-card__img--show-mobile"
            }, {
              src:"assets/img/price/cardboard.png",
              alt: "картон",
              class: "price-product-card__img price-product-card__img--show-tablet-desktop"
            }
          ],
          "Картон",
          [
            {
              weight: [
                {text: "До 200 килограмм:", 'data-weight': "1", product: 'cardboard'},
                {text: "От 200 килограмм:", 'data-weight': "201", product: 'cardboard'},
                {text: "От 500 килограмм:", 'data-weight': "501", product: 'cardboard'},
                {text: "От 1000 килограмм:", 'data-weight': "1001", product: 'cardboard'}
              ]
            },
          ],
          [
            {
              weight: [
                {text: "До 200 килограмм:", 'data-weight': "1", product: 'cardboard'},
                {text: "От 200 килограмм:", 'data-weight': "201", product: 'cardboard'},
                {text: "От 500 килограмм:", 'data-weight': "501", product: 'cardboard'},
                {text: "От 1000 килограмм:", 'data-weight': "1001", product: 'cardboard'}
              ]
            }
          ],
          "кг"
        )

        +card-product-price(
          "paper",
          [
            {
              src:"assets/img/price/paper-mobile.png",
              alt: "бумага",
              class: "price-product-card__img price-product-card__img--show-mobile"
            }, {
              src:"assets/img/price/paper.png",
              alt: "бумага",
              class: "price-product-card__img price-product-card__img--show-tablet-desktop"
            }
          ],
          "Макулатура",
          [
            {
              subtitle: "Офисная бумага (белая, формата А4)",
              weight: [
                {text: "До 500 килограмм:", 'data-weight': "1", product: 'paper'},
                {text: "От 500 килограмм:", 'data-weight': "501", product: 'paper'},
                {text: "От 1000 килограмм:", 'data-weight': "1001", product: 'paper'}
              ]
            }, {
              subtitle: "Книги, журналы, разные типы макулатуры",
              weight: [
                {text: "До 500 килограмм:", 'data-weight': "1", product: 'books'},
                {text: "От 500 килограмм:", 'data-weight': "501", product: 'books'},
                {text: "От 1000 килограмм:", 'data-weight': "1001", product: 'books'}
              ]
            }, {
              subtitle: "Газеты",
              weight: [
                {text: "До 500 килограмм:", 'data-weight': "1", product: 'newspapers'},
                {text: "От 500 килограмм:", 'data-weight': "501", product: 'newspapers'},
                {text: "От 1000 килограмм:", 'data-weight': "1001", product: 'newspapers'}
              ]
            }
          ],
          [
            {
              subtitle: "Офисная бумага (белая, формата А4)",
              weight: [
                {text: "До 500 килограмм:", 'data-weight': "1", product: 'paper'},
                {text: "От 500 килограмм:", 'data-weight': "501", product: 'paper'},
                {text: "От 1000 килограмм:", 'data-weight': "1001", product: 'paper'}
              ]
            }, {
              subtitle: "Книги, журналы, разные типы макулатуры",
              weight: [
                {text: "До 500 килограмм:", 'data-weight': "1", product: 'books'},
                {text: "От 500 килограмм:", 'data-weight': "501", product: 'books'},
                {text: "От 1000 килограмм:", 'data-weight': "1001", product: 'books'}
              ]
            }, {
              subtitle: "Газеты",
              weight: [
                {text: "До 500 килограмм:", 'data-weight': "1", product: 'newspapers'},
                {text: "От 500 килограмм:", 'data-weight': "501", product: 'newspapers'},
                {text: "От 1000 килограмм:", 'data-weight': "1001", product: 'newspapers'}
              ]
            }
          ],
          "кг"
        )

        +card-product-price(
          "film-pvd",
          [
            {
              src:"assets/img/price/film-pvd-mobile.png",
              alt: "пленка",
              class: "price-product-card__img price-product-card__img--show-mobile"
            }, {
              src:"assets/img/price/film-pvd.png",
              alt: "пленка",
              class: "price-product-card__img price-product-card__img--show-tablet-desktop"
            }
          ],
          "Пленка ПВД (прозрачная)",
          [
            {
              weight: [
                {text: "До 200 килограмм:", 'data-weight': "1", product: 'film-pvd'},
                {text: "От 200 килограмм:", 'data-weight': "201", product: 'film-pvd'},
                {text: "От 500 килограмм:", 'data-weight': "501", product: 'film-pvd'},
                {text: "От 1000 килограмм:", 'data-weight': "1001", product: 'film-pvd'}
              ]
            },
          ],
          [
            {
              weight: [
                {text: "До 200 килограмм:", 'data-weight': "1", product: 'film-pvd'},
                {text: "От 200 килограмм:", 'data-weight': "201", product: 'film-pvd'},
                {text: "От 500 килограмм:", 'data-weight': "501", product: 'film-pvd'},
                {text: "От 1000 килограмм:", 'data-weight': "1001", product: 'film-pvd'}
              ]
            }
          ],
          "кг"
        )

        +card-product-price(
          "film-color-pvd",
          [
            {
              src:"assets/img/price/film-pvd-color-mobile.png",
              alt: "пленка",
              class: "price-product-card__img price-product-card__img--show-mobile"
            }, {
              src:"assets/img/price/film-pvd-color.png",
              alt: "пленка",
              class: "price-product-card__img price-product-card__img--show-tablet-desktop"
            }
          ],
          "Пленка ПВД (цветная)",
          [
            {
              weight: [
                {text: "До 500 килограмм:", 'data-weight': "1", product: 'film-color-pvd'},
                {text: "От 500 килограмм:", 'data-weight': "501", product: 'film-color-pvd'}
              ]
            },
          ],
          [
            {
              weight: [
                {text: "До 500 килограмм:", 'data-weight': "1", product: 'film-color-pvd'},
                {text: "От 500 килограмм:", 'data-weight': "501", product: 'film-color-pvd'},
              ]
            }
          ],
          "кг"
        )

        +card-product-price(
          "film-stretch",
          [
            {
              src:"assets/img/price/film-stretch-mobile.png",
              alt: "пленка",
              class: "price-product-card__img price-product-card__img--show-mobile"
            }, {
              src:"assets/img/price/film-stretch.png",
              alt: "пленка",
              class: "price-product-card__img price-product-card__img--show-tablet-desktop"
            }
          ],
          "Пленка СТРЕЙЧ",
          [
            {
              weight: [
                {text: "До 200 килограмм:", 'data-weight': "1", product: 'film-stretch'},
                {text: "От 200 килограмм:", 'data-weight': "201", product: 'film-stretch'},
                {text: "От 500 килограмм:", 'data-weight': "501", product: 'film-stretch'},
                {text: "От 1000 килограмм:", 'data-weight': "1001", product: 'film-stretch'}
              ]
            },
          ],
          [
            {
              weight: [
                {text: "До 200 килограмм:", 'data-weight': "1", product: 'film-stretch'},
                {text: "От 200 килограмм:", 'data-weight': "201", product: 'film-stretch'},
                {text: "От 500 килограмм:", 'data-weight': "501", product: 'film-stretch'},
                {text: "От 1000 килограмм:", 'data-weight': "1001", product: 'film-stretch'}
              ]
            }
          ],
          "кг"
        )

        +card-product-price(
          "polyethylene",
          [
            {
              src:"assets/img/price/pet-mobile.png",
              alt: "ПЭТ",
              class: "price-product-card__img price-product-card__img--show-mobile"
            }, {
              src:"assets/img/price/pet.png",
              alt: "ПЭТ",
              class: "price-product-card__img price-product-card__img--show-tablet-desktop"
            }
          ],
          "ПЭТ (канистры, бутылки)",
          [
            {
              weight: [
                {text: "До 500 килограмм:", 'data-weight': "1", product: 'polyethylene'},
                {text: "От 500 килограмм:", 'data-weight': "501", product: 'polyethylene'},
                {text: "От 1000 килограмм:", 'data-weight': "1001", product: 'polyethylene'}
              ]
            },
          ],
          [
            {
              weight: [
                {text: "До 500 килограмм:", 'data-weight': "1", product: 'polyethylene'},
                {text: "От 500 килограмм:", 'data-weight': "501", product: 'polyethylene'},
                {text: "От 1000 килограмм:", 'data-weight': "1001", product: 'polyethylene'}
              ]
            }
          ],
          "кг"
        )

        +card-product-price(
          "oil",
          [
            {
              src:"assets/img/price/oil-mobile.png",
              alt: "Масло",
              class: "price-product-card__img price-product-card__img--show-mobile"
            }, {
              src:"assets/img/price/oil.png",
              alt: "Масло",
              class: "price-product-card__img price-product-card__img--show-tablet-desktop"
            }
          ],
          "Масло отработанное фритюрное",
          [
            {
              weight: [
                {text: "Любой вес:", 'data-weight': "1", product: 'oil'},
              ]
            },
          ],
          [
            {
              weight: [
                {text: "Любой вес:", 'data-weight': "1", product: 'oil'},
              ]
            }
          ],
          "кг"
        )

        +card-product-price(
          "pallets",
          [
            {
              src:"assets/img/price/pallets-mobile.png",
              alt: "поддоны",
              class: "price-product-card__img price-product-card__img--show-mobile"
            }, {
              src:"assets/img/price/pallets.png",
              alt: "поддоны",
              class: "price-product-card__img price-product-card__img--show-tablet-desktop"
            }
          ],
          "Поддоны",
          [
            {
              weight: [
                {text: "1-й сорт (белые/новые/целые) с клеймом EPAL:", 'data-weight': "epal", product: 'first-grade'},
                {text: "1-й сорт (белые/новые/целые) без клейма EPAL:", 'data-weight': "no-epal", product: 'first-grade'},
                {text: "2-й сорт (серый/целый) с клеймом EPAL:", 'data-weight': "epal", product: 'second-grade'},
                {text: "2-й сорт (серый/целый) без клейма EPAL:", 'data-weight': "no-epal", product: 'second-grade'},
                {text: "3-й сорт (белые,серые /сломано до трех деталей) с клеймом EPAL:", 'data-weight': "epal", product: 'third-grade'},
                {text: "3-й сорт (белые,серые /сломано до трех деталей) без клейма EPAL:", 'data-weight': "no-epal", product: 'third-grade'}
              ]
            },
          ],
          [
            {
              weight: [
                {text: "1-й сорт (белые/новые/целые) с клеймом EPAL:", 'data-weight': "epal", product: 'first-grade'},
                {text: "1-й сорт (белые/новые/целые) без клейма EPAL:", 'data-weight': "no-epal", product: 'first-grade'},
                {text: "2-й сорт (серый/целый) с клеймом EPAL:", 'data-weight': "epal", product: 'second-grade'},
                {text: "2-й сорт (серый/целый) без клейма EPAL:", 'data-weight': "no-epal", product: 'second-grade'},
                {text: "3-й сорт (белые,серые /сломано до трех деталей) с клеймом EPAL:", 'data-weight': "epal", product: 'third-grade'},
                {text: "3-й сорт (белые,серые /сломано до трех деталей) без клейма EPAL:", 'data-weight': "no-epal", product: 'third-grade'}
              ]
            }
          ],
          "шт"
        )

        +card-product-price(
          "kegs",
          [
            {
              src:"assets/img/price/kegs-mobile.png",
              alt: "кеги",
              class: "price-product-card__img price-product-card__img--show-mobile"
            }, {
              src:"assets/img/price/kegs.png",
              alt: "кеги",
              class: "price-product-card__img price-product-card__img--show-tablet-desktop"
            }
          ],
          "Кеги (пивные ПЭТ)",
          [
            {
              weight: [
                {text: "До 500 килограмм:", 'data-weight': "499", product: 'kegs'},
                {text: "От 500 килограмм:", 'data-weight': "999", product: 'kegs'},
                {text: "От 1000 килограмм:", 'data-weight': "1000", product: 'kegs'}
              ]
            },
          ],
          [
            {
              weight: [
                {text: "До 500 килограмм:", 'data-weight': "499", product: 'kegs'},
                {text: "От 500 килограмм:", 'data-weight': "999", product: 'kegs'},
                {text: "От 1000 килограмм:", 'data-weight': "1000", product: 'kegs'}
              ]
            }
          ],
          "кг"
        )

        +card-product-price(
          "glass",
          [
            {
              src:"assets/img/price/glass-mobile.png",
              alt: "стекло",
              class: "price-product-card__img price-product-card__img--show-mobile"
            }, {
              src:"assets/img/price/glass.png",
              alt: "стекло",
              class: "price-product-card__img price-product-card__img--show-tablet-desktop"
            }
          ],
          "Стекло (кроме армированного, автостекла)",
          [
            {
              subtitle: "Стекло листовое прозрачное",
              weight: [
                {text: "До 500 килограмм:", 'data-weight': "499", product: 'glass'},
                {text: "От 500 килограмм:", 'data-weight': "999", product: 'glass'},
                {text: "От 1000 килограмм:", 'data-weight': "1000", product: 'glass'}
              ]
            }, {
              subtitle: "Стекло белое и коричневое (банки, бутылки)",
              weight: [
                {text: "До 500 килограмм:", 'data-weight': "499", product: 'glass-white-brown'},
                {text: "От 500 килограмм:", 'data-weight': "999", product: 'glass-white-brown'},
                {text: "От 1000 килограмм:", 'data-weight': "1000", product: 'glass-white-brown'}
              ]
            }, {
              subtitle: "Стекло зеленое (банки, бутылки)",
              weight: [
                {text: "До 500 килограмм:", 'data-weight': "499", product: 'glass-green'},
                {text: "От 500 килограмм:", 'data-weight': "999", product: 'glass-green'},
                {text: "От 1000 килограмм:", 'data-weight': "1000", product: 'glass-green'}
              ]
            }
          ],
          [
            {
              subtitle: "Стекло листовое прозрачное",
              weight: [
                {text: "До 500 килограмм:", 'data-weight': "499", product: 'glass'},
                {text: "От 500 килограмм:", 'data-weight': "999", product: 'glass'},
                {text: "От 1000 килограмм:", 'data-weight': "1000", product: 'glass'}
              ]
            }, {
              subtitle: "Стекло белое и коричневое (банки, бутылки)",
              weight: [
                {text: "До 500 килограмм:", 'data-weight': "499", product: 'glass-white-brown'},
                {text: "От 500 килограмм:", 'data-weight': "999", product: 'glass-white-brown'},
                {text: "От 1000 килограмм:", 'data-weight': "1000", product: 'glass-white-brown'}
              ]
            }, {
              subtitle: "Стекло зеленое (банки, бутылки)",
              weight: [
                {text: "До 500 килограмм:", 'data-weight': "499", product: 'glass-green'},
                {text: "От 500 килограмм:", 'data-weight': "999", product: 'glass-green'},
                {text: "От 1000 килограмм:", 'data-weight': "1000", product: 'glass-green'}
              ]
            }
          ],
          "кг"
        )
      .tabs__content
        .tabs__content-row
      .tabs__content
        .tabs__content-row
