include ../../mixins/buttons.pug
.packing-rules-bg
  section.section
    .container
      .button-column
        .button-margin-bottom-30
          +button-link-width-auto-type-a('info-page-develop.html', 'ознакомиться с правилами упаковки')
        +button-download('assets/files/ТЗ_на_сбор_ТБО.docx', 'Миротворец_ТЗ_на_сбор_ТБО.docx','скачать файл с правилами упаковки')
