include ../../mixins/buttons.pug
.packing-rules-bg
  section.section
    .container
      .button-column
        .button-margin-bottom-30
          +button-link-width-auto-type-a('packing-rules.html', 'ознакомиться с правилами упаковки')
        .button-margin-bottom-30
          +button-download('assets/files/price.xlsx', 'Миротворец_прайс_вторсырьё.xlsx','скачать прайс')
        +button-download('assets/files/TZ.pdf', 'Миротворец_ТЗ_на_сбор_ТБО.pdf','скачать файл с правилами упаковки')
