section.section
  .container
    .redirect-main
      a(href="index.html" class="redirect-main__link") Вернуться на главную
    .section__title.section__title--line-height-1float2 Эта страница сейчас находится в разработке. Скоро она появится на сайте.
