section.section.translucent-white-substrate
  .container
    .navigating-source-path
      .navigating-source-path__item
        a(href="index.html" class="navigating-source-path__link") Главная &raquo;
      .navigating-source-path__item
        p.navigating-source-path__text недостаточно прав
    h1.section__title УПС ошибка 403!
    .text "Добро пожаловать на страницу 403! Вы пытаетесь получить доступ к файлу, для которого у вас недостаточно прав. Если вы еще не авторизировались на сайте, сделайте, возможно это решит проблему."
