nav.footer-nav-bg
  .container.pos-rel
    ul.foot-nav
      li.foot-nav__list
        a.foot-nav__link.foot-nav__link-dropdown(href="#") Наши услуги
        .pop-up-submenu-footer
          a(href="destruction.html" target="_BLANK").pop-up-submenu__link Утилизация архивов
          a(href="storage.html" target="_BLANK").pop-up-submenu__link Хранение архивов
          a(href="ecobox.html" target="_BLANK").pop-up-submenu__link Установка экобоксов
          a(href="containers-sale.html" target="_BLANK").pop-up-submenu__link Установка контейнеров
          a(href="buy.html" target='_BLANK').pop-up-submenu__link Приём вторсырья
      .head-nav__delimiter
        img(src="assets/img/nav/delimiter-small.png", alt="разделитель")
      li.foot-nav__list
        a.foot-nav__link(href="buy.html" target='_BLANK') Мы покупаем
      .head-nav__delimiter
        img(src="assets/img/nav/delimiter-small.png", alt="разделитель")
      li.foot-nav__list
        a.foot-nav__link(href="price.html" target="_BLANK") Цены
      .head-nav__delimiter
        img(src="assets/img/nav/delimiter-small.png", alt="разделитель")
      li.foot-nav__list
        a.foot-nav__link(href="projects.html" target="_BLANK") Наши проекты
      .head-nav__delimiter
        img(src="assets/img/nav/delimiter-small.png", alt="разделитель")
      li.foot-nav__list
        a.foot-nav__link.foot-nav__link-dropdown(href="#") О компании
        .pop-up-submenu-footer
          a(href="vacancy.html" target="_BLANK").pop-up-submenu__link Вакансии
          a(href="info-page-develop.html").pop-up-submenu__link Партнерам
          a(href="reviews.html" target="_BLANK").pop-up-submenu__link Отзывы
      .head-nav__delimiter
        img(src="assets/img/nav/delimiter-small.png", alt="разделитель")
      li.foot-nav__list
        a.foot-nav__link(href="blog.html" target="_BLANK") Блог
      .head-nav__delimiter
        img(src="assets/img/nav/delimiter-small.png", alt="разделитель")
      li.foot-nav__list
        a.foot-nav__link(href="contacts.html" target="_BLANK") Контакты
      .head-nav__delimiter
        img(src="assets/img/nav/delimiter-small.png", alt="разделитель")
      li.foot-nav__list
        a.foot-nav__link(href="info-page-develop.html") Личный кабинет
      .head-nav__delimiter
        img(src="assets/img/nav/delimiter-small.png", alt="разделитель")
      li.foot-nav__list
        a.foot-nav__link(href="questions.html" target="_BLANK") Вопрос - ответ
footer.footer
  .container
    .flex-container-between
      a(href="index.html" class="index-page-link")
        .sticker-footer
          .sticker-logo
            img(src="assets/img/footer/logo.png", alt="логитип" class="sticker-logo__picture")
          .sticker-footer__copyright Copyright 2014 Mirotvorets.ru
      .footer-content
        .footer__phone-wrap
          p.footer__phone
            a(href='tel:8-800-600-71-31' class='footer__phone-link') 8-800-600-71-31
          p.footer__phone
            a(href='tel:+7 (3452) 531-601' class='footer__phone-link') +7 (3452) 531-601
          p.footer__phone
            a(href='tel:+7 (963) 455-59-79' class='footer__phone-link') +7 (963) 455-59-79

        .footer__section-show-tablet-desktop-small
          .footer__address-wrap.footer__address-wrap--mb-30
            .footer__address-title Адрес офиса
            p.footer__address-text г. Тюмень Ул. Революции, д. 89
          .footer__address-wrap
            .footer__address-title Адреса пунктов приема
            p.footer__address-text г Тюмень, ул. 11-км Ялуторовского тракта, стр.7
            p.footer__address-text г Тюмень, ул. Тимирязева, д.9, стр. 10
            p.footer__address-text г. Тюмень, ул. Авторемонтная, д.9, склад №11
            p.footer__address-text г. Тюмень, ул. Щербакова, д.160, стр.3
        .footer__address-wrap.footer__address-wrap--show-lg
          .footer__address-title Адрес офиса
          p.footer__address-text г. Тюмень Ул. Революции, д. 89
        .footer__address-wrap.footer__address-wrap--show-lg
          .footer__address-title Адреса пунктов приема
          p.footer__address-text г Тюмень, ул. 11-км Ялуторовского тракта, стр.7
          p.footer__address-text г Тюмень, ул. Тимирязева, д.9, стр. 10
          p.footer__address-text г. Тюмень, ул. Авторемонтная, д.9, склад №11
          p.footer__address-text г. Тюмень, ул. Щербакова, д.160, стр.3
        .footer__address-wrap.footer__address-wrap--network.display-none-mobile
          .footer__address-title Мы в соцсетях:
          .icon-wrap
            a(title="Вконтакте" href="https://vk.com/mirotvorets72" class="icon-link" target="_BLANK")
              include ../../svg/network/vk.svg
            a(title="Instagram" href="https://www.instagram.com/mirotvorets72/" class="icon-link" target="_BLANK")
              include ../../svg/network/instagram.svg
            a(title="Facebook" href="https://www.facebook.com/mirotvorets72" class="icon-link" target="_BLANK")
              include ../../svg/network/fb.svg
            a(title="WhatsApp" href="whatsapp://send?phone=79634521601" class="icon-link")
              include ../../svg/network/whatsapp.svg
            a(title="Viber" href="#" class="icon-link viber")
              include ../../svg/network/viber.svg

    .footer__section-show-mobile
      .footer__address-wrap
        .footer__address-title Адрес офиса
        p.footer__address-text г. Тюмень Ул. Революции, д. 89
      .footer__address-wrap
        .footer__address-title Адреса пунктов приема
        p.footer__address-text г Тюмень, ул. 11-км Ялуторовского тракта, стр.7
        p.footer__address-text г Тюмень, ул. Тимирязева, д.9, стр. 10
        p.footer__address-text г. Тюмень, ул. Авторемонтная, д.9, склад №11
        p.footer__address-text г. Тюмень, ул. Щербакова, д.160, стр.3
      .footer__address-wrap.footer__address-wrap--network
        .footer__address-title Мы в соцсетях:
        .icon-wrap
          a(title="Вконтакте" href="https://vk.com/mirotvorets72" class="icon-link" target="_BLANK")
            include ../../svg/network/vk.svg
          a(title="Instagram" href="https://www.instagram.com/mirotvorets72/" class="icon-link" target="_BLANK")
            include ../../svg/network/instagram.svg
          a(title="Facebook" href="https://www.facebook.com/mirotvorets72" class="icon-link" target="_BLANK")
            include ../../svg/network/fb.svg
          a(title="WhatsApp" href="whatsapp://send?phone=79634521601" class="icon-link" target="_BLANK")
            include ../../svg/network/whatsapp.svg
          a(title="Viber" href="#" class="icon-link viber" target="_BLANK")
            include ../../svg/network/viber.svg

    .footer__bottom-grass
      img(src="assets/img/footer/grass-footer.png", alt="трава", class="footer__bottom-grass-img")
