header.head
  .head-nav-bg
    .head-nav-mobile
      a(href="#" id="menu-toggle" class="menu-toggle")
      ul.dropdown-menu-mobile#dropdownMenuMobile
        li.dropdown-menu-mobile__list
          a(href="index.html").dropdown-menu-mobile__link Главная
        li.dropdown-menu-mobile__list
          a(href="#").dropdown-menu-mobile__link.dropdown-menu-mobile__link-arrow Наши услуги
          .dropdown-menu-mobile__submenu
            a(href="destruction.html" target="_BLANK").dropdown-menu-mobile__link Утилизация архивов
            a(href="storage.html" target="_BLANK").dropdown-menu-mobile__link Хранение архивов
            a(href="ecobox.html" target="_BLANK").dropdown-menu-mobile__link Установка экобоксов
            a(href="containers-sale.html").dropdown-menu-mobile__link Установка контейнеров
            a(href="buy.html" target='_BLANK').dropdown-menu-mobile__link Приём вторсырья
        li.dropdown-menu-mobile__list
          a(href="buy.html" target='_BLANK').dropdown-menu-mobile__link Мы покупаем
        li.dropdown-menu-mobile__list
          a(href="price.html").dropdown-menu-mobile__link Цены
        li.dropdown-menu-mobile__list
          a(href="projects.html" target="_BLANK").dropdown-menu-mobile__link Наши проекты
        li.dropdown-menu-mobile__list
          a(href="#").dropdown-menu-mobile__link.dropdown-menu-mobile__link-arrow О компании
          .dropdown-menu-mobile__submenu
            a(href="vacancy.html" target="_BLANK").dropdown-menu-mobile__link Вакансии
            a(href="info-page-develop.html").dropdown-menu-mobile__link Партнерам
            a(href="reviews.html" target="_BLANK").dropdown-menu-mobile__link Отзывы
        li.dropdown-menu-mobile__list
          a(href="blog.html" target="_BLANK").dropdown-menu-mobile__link Блог
        li.dropdown-menu-mobile__list
          a(href="contacts.html" target="_BLANK").dropdown-menu-mobile__link Контакты
        li.dropdown-menu-mobile__list
          a(href="personal-account.html" target="_BLANK").dropdown-menu-mobile__link Личный кабинет
        li.dropdown-menu-mobile__list
          a(href="questions.html" target="_BLANK").dropdown-menu-mobile__link Вопрос - ответ
      .lower-nav
        a(href="index.html#calculator" class="lower-nav__button") расчет стоимости
          .lower-nav__button-bg.lower-nav__button-bg--calculator

        a(href="index.html#order" class="lower-nav__button") оформить заказ
          .lower-nav__button-bg.lower-nav__button-bg--order

        .break.break--show-before-width-690.break--height-6

        a(href="tel:88006007131" class="lower-nav__button") 8 800 600 71 31
          .lower-nav__button-bg.lower-nav__button-bg--phone

        a(href="ecobox.html" target="_BLANK" class="lower-nav__button lower-nav__button--special") эко десант
          .lower-nav__button-bg.lower-nav__button-bg--bush
    a(href="index.html" class="index-page-link")
      .sticker.sticker--mobile-show
        .sticker__content
          img(src="assets/img/nav/logo.png", alt="логитип" class="sticker-logo__picture")

    //- десктопная версия навигации
    .container
      .head-nav-desktop
        ul.head-nav
          li.head-nav__list
            a.head-nav__link.head-nav__link-dropdown(href="#") Наши услуги
            .pop-up-submenu
              a(href="destruction.html" target="_BLANK").pop-up-submenu__link Утилизация архивов
              a(href="storage.html" target="_BLANK").pop-up-submenu__link Хранение архивов
              a(href="ecobox.html" target="_BLANK").pop-up-submenu__link Установка экобоксов
              a(href="containers-sale.html" target="_BLANK").pop-up-submenu__link Установка контейнеров
              a(href="buy.html" target='_BLANK').pop-up-submenu__link Приём вторсырья
          .head-nav__delimiter
            img(src="assets/img/nav/delimiter-small.png", alt="разделитель")
          li.head-nav__list
            a.head-nav__link(href="buy.html" target='_BLANK') Мы покупаем
          .head-nav__delimiter
            img(src="assets/img/nav/delimiter-small.png", alt="разделитель")
          li.head-nav__list
            a.head-nav__link(href="price.html" target="_BLANK") Цены
          .head-nav__delimiter
            img(src="assets/img/nav/delimiter-small.png", alt="разделитель")
          li.head-nav__list
            a.head-nav__link(href="projects.html" target="_BLANK") Наши проекты
          .head-nav__delimiter
            img(src="assets/img/nav/delimiter-small.png", alt="разделитель")
          li.head-nav__list
            a.head-nav__link.head-nav__link-dropdown(href="#") О компании
            .pop-up-submenu
              a(href="vacancy.html" target="_BLANK").pop-up-submenu__link Вакансии
              a(href="info-page-develop.html").pop-up-submenu__link Партнерам
              a(href="reviews.html" target="_BLANK").pop-up-submenu__link Отзывы
          .head-nav__delimiter
            img(src="assets/img/nav/delimiter-small.png", alt="разделитель")
          li.head-nav__list
            a.head-nav__link(href="blog.html" target="_BLANK") Блог
          .head-nav__delimiter
            img(src="assets/img/nav/delimiter-small.png", alt="разделитель")
          li.head-nav__list
            a.head-nav__link(href="contacts.html" target="_BLANK") Контакты
          .head-nav__delimiter
            img(src="assets/img/nav/delimiter-small.png", alt="разделитель")
          li.head-nav__list
            a.head-nav__link(href="personal-account.html" target="_BLANK") Личный кабинет
          .head-nav__delimiter
            img(src="assets/img/nav/delimiter-small.png", alt="разделитель")
          li.head-nav__list
            a.head-nav__link(href="questions.html" target="_BLANK") Вопрос - ответ
        a(href="index.html" class="index-page-link")
          .sticker
            .sticker__content
              img(src="assets/img/nav/logo.png", alt="логитип" class="sticker-logo__picture")
        .lower-nav
          a(href="index.html#calculator" class="lower-nav__button") расчет стоимости
            .lower-nav__button-bg.lower-nav__button-bg--calculator

          a(href="index.html#order" class="lower-nav__button") оформить заказ
            .lower-nav__button-bg.lower-nav__button-bg--order

          a(href="tel:88006007131" class="lower-nav__button") 8 800 600 71 31
            .lower-nav__button-bg.lower-nav__button-bg--phone

          a(href="ecobox.html" target="_BLANK" class="lower-nav__button lower-nav__button--special") эко десант
            .lower-nav__button-bg.lower-nav__button-bg--bush
