header.head
  .head-nav-bg
    .container.pos-rel
      ul.head-nav
        li.head-nav__list
          a.head-nav__link.head-nav__link-dropdown(href="#") Наши услуги
          .pop-up-submenu
            a(href="#").pop-up-submenu__link Утилизация архивов
            a(href="#").pop-up-submenu__link Хранение архивов
            a(href="#").pop-up-submenu__link Установка экобоксов
            a(href="#").pop-up-submenu__link Приём вторсырья
        .head-nav__delimiter
          img(src="assets/img/nav/delimiter-small.png", alt="разделитель")
        li.head-nav__list
          a.head-nav__link(href="#") Мы покупаем
        .head-nav__delimiter
          img(src="assets/img/nav/delimiter-small.png", alt="разделитель")
        li.head-nav__list
          a.head-nav__link(href="#") Цены
        .head-nav__delimiter
          img(src="assets/img/nav/delimiter-small.png", alt="разделитель")
        li.head-nav__list
          a.head-nav__link(href="#") Наши проекты
        .head-nav__delimiter
          img(src="assets/img/nav/delimiter-small.png", alt="разделитель")
        li.head-nav__list
          a.head-nav__link.head-nav__link-dropdown(href="#") О компании
          .pop-up-submenu
            a(href="#").pop-up-submenu__link Вакансии
            a(href="#").pop-up-submenu__link Партнерам
            a(href="#").pop-up-submenu__link Наша команда
            a(href="#").pop-up-submenu__link Отзывы
        .head-nav__delimiter
          img(src="assets/img/nav/delimiter-small.png", alt="разделитель")
        li.head-nav__list
          a.head-nav__link(href="#") Блог
        .head-nav__delimiter
          img(src="assets/img/nav/delimiter-small.png", alt="разделитель")
        li.head-nav__list
          a.head-nav__link(href="#") Контакты
        .head-nav__delimiter
          img(src="assets/img/nav/delimiter-small.png", alt="разделитель")
        li.head-nav__list
          a.head-nav__link(href="#") Личный кабинет
        .head-nav__delimiter
          img(src="assets/img/nav/delimiter-small.png", alt="разделитель")
        li.head-nav__list
          a.head-nav__link(href="#") Вопрос - ответ
      .sticker
        .sticker__content
          img(src="assets/img/nav/logo.png", alt="логитип" class="sticker-logo__picture")
      .lower-nav
        a(href="#calculator").lower-nav__button расчет стоимости
          .lower-nav__button-bg
            img.lower-nav__button-picture(src="assets/img/head-lower-menu/calculator.png", alt="калькулятор")

        a(href="#order").lower-nav__button оформить заказ
          .lower-nav__button-bg.lower-nav__button-bg--silver
            img.lower-nav__button-picture(src="assets/img/head-lower-menu/paper.png", alt="Лист бумаги")

        a(href="tel:88006007131").lower-nav__button 8 800 600 71 31
          .lower-nav__button-bg.lower-nav__button-bg--brown
            img.lower-nav__button-picture(src="assets/img/head-lower-menu/phone.png", alt="Лист бумаги")

        a(href="#").lower-nav__button.lower-nav__button--special экологический десант
          .lower-nav__button-bg.lower-nav__button-bg--green
            img.lower-nav__button-picture(src="assets/img/head-lower-menu/bush.png", alt="Лист бумаги")
