.slider-head
  .slider-head__item
    .container
      .row
        .col-lg-7
          .slider-head__item-title-wrap
            h3.slider-head__item-title сохраним планету живой
    .slider-head__item-picture-wrap
      img(src="assets/img/slider/earth.png", alt="земля").slider-head__item-picture
  .slider-head__buttom-wrap
    a(href="#").slider-head__buttom
    a(href="#").slider-head__buttom
