.slider-head
  .slider-head__item
    .container
      .row
        .col-lg-7
          .slider-head__item-title-wrap
            h3.slider-head__item-title сохраним планету живой
    .slider-head__item-picture-wrap
      img(src="assets/img/slider/earth.png", alt="земля").slider-head__item-picture
  .slider-head__buttom-wrap
    a(href="#").slider-head__buttom.slider-head__buttom--prev
    a(href="#").slider-head__buttom.slider-head__buttom--next
  .container
    .partners
      .partners__title наши<br>партнеры:

      .partners__name
        img(src="assets/img/partners/visa.png" alt="логотип").partners__name-img

      .partners__name
        img(src="assets/img/partners/lenovo.png" alt="логотип").partners__name-img

      .partners__name
        img(src="assets/img/partners/asus.png" alt="логотип").partners__name-img

      .partners__name
        img(src="assets/img/partners/aser.png" alt="логотип").partners__name-img
