@import '../../variables/variables.scss';
#orderContainer {
  position: relative;
}

#orderContainer .input-container {
  @media (min-width: 992px) {
    margin-bottom: 0;
  }
}

#orderContainer > .input-wrap {
  flex-direction: column;
  @media (min-width: 768px) {
    flex-direction: row;
  }
}
