include ../../mixins/news.pug
include ../../mixins/share-network.pug
+mews(
    'Стремимся быть ближе!',
    'Стремимся быть ближе!',
    {src: 'assets/img/blog/news/site.jpg', alt: 'site'},
    [
      'Улучшим экологию нашего региона вместе!',
      'Компания «Миротворец» запустила ряд проектов на такие темы как: ЭкоСтиль – Стиль моей жизни!; Раздельный сбор сырья у себя дома; Эко-Акции – Экомобиль во дворе вашего дома!; Эко-Десант – контейнеры для сбора макулатуры; Эко-Двор – раздельный сбор прямо во дворе;',
      'К каждому из проектов вы можете присоединиться. Если хотите, чтобы Экомобиль приезжал и к вам, то просто оставьте свою заявку – у нас уже более 50 точек по городу! Возможно вы живете рядом с одной из них. Маршрут Экомобиля можно посмотреть в разделе «Наши Проекты» - «Эко Акция»',
      'Не знаете с чего начать и как начать раздельный сбор у себя дома, тогда напишите нам в социальных сети, либо просто позвоните по номеру 8(909)191-83-25 Лев.',
      'Хотите приобрести Экобокс для сбора макулатуры себе в офис или домой, точно также напишите или позвоните нам!',
      'А также как сдать сырье? Привезти самим или же приедем мы, организовав у вас во дворе ЭКО-акцию! Ул. Авторемонтная, 9 стр. 1; Ул. 11 км. Ялуторовского тракта, стр. 7; Ул. Тимирязева, 9 стр. 10; Ул. Щербакова, 160 стр. 3; Номер диспетчера +7(3452) 531-601; По вопросам ЭКО-Акции: +7(909)191-83-25 Лев.'
    ]
  )

  +share-network(
      'https://mirotvorets72.ru/news_5.html',
      'Стремимся быть ближе!',
      'assets/img/blog/news/site.jpg',
      'Улучшим экологию нашего региона вместе! Компания «Миротворец» запустила ряд проектов на такие темы как: ЭкоСтиль – Стиль моей жизни!; Раздельный сбор сырья у себя дома; Эко-Акции – Экомобиль во дворе вашего дома!; Эко-Десант – контейнеры для сбора макулатуры; Эко-Двор – раздельный сбор прямо во дворе;',
      'blog-card__network-link--news'
    )
