include ../../mixins/news.pug
include ../../mixins/share-network.pug
+mews(
    'Для вашего удобства',
    'Для вашего удобства',
    {src: 'assets/img/index/news/site.jpg', alt: 'site'},
    ['Мы всей командой постоянно работаем над улучшением сервиса для вас! Мы запустили новый сайт, на котором вы можете найти всю необходимую информацию, оставить свои отзывы и предложения, рассчитать стоимость сырья онлайн.']
  )

  +share-network(
      'https://mirotvorets72.ru/news_3.html',
      'Для вашего удобства',
      'assets/img/index/news/site.jpg',
      'Мы всей командой постоянно работаем над улучшением сервиса для вас! Мы запустили новый сайт, на котором вы можете найти всю необходимую информацию, оставить свои отзывы и предложения, рассчитать стоимость сырья онлайн.'
    )
