include ../../mixins/news.pug
include ../../mixins/share-network.pug
+mews(
    'Мы начали принимать старую одежду, текстиль, постельное бельё, ветошь.',
    'Мы начали принимать старую одежду, текстиль, постельное бельё, ветошь.',
    {src: 'assets/img/index/news/textile.jpg', alt: 'news'},
    ['Мы неравнодушны к экологии! И для улучшения ситуации в нашем регионе, мы постоянно ищем возможности обработки новых видов сырья. Рады сообщить мы запустили прием текстильного сырья.', 'Сдать одежду в Тюмени на переработку стало реально!', 'Мы принимаем ткани и полотна из таких видов как: хлопок/шерсть/полушерсть, полусинтетика, брезент, войлок, синтепон, различного рода футболки, кофты, штаны, мягкие плюшевые игрушки.', 'Не принимаем ткани пропитанные: полиэтиленом и резиной, болонь, кожзам', 'Одежду необходимо сдавать в чистом виде, без неприятных запахов.', 'Как сдать сырье? Привезти самим или же приедем мы, организовав у вас во дворе ЭКО-акцию. Оставить заявку можно здесь - Ул. Авторемонтная, 9 стр. 1; Ул. 11 км. Ялуторовского тракта, стр. 7; Ул. Тимирязева, 9 стр. 10 Ул. Щербакова, 160 стр. 3; Номер диспетчера +7(3452) 531-601; По вопросам ЭКО-Акции: +7(909)191-83-25 Лев']
  )

  +share-network(
      'https://mirotvorets72.ru/news_2.html',
      'Мы начали принимать старую одежду, текстиль, постельное бельё, ветошь.',
      'assets/img/index/news/textile.jpg',
      'Мы неравнодушны к экологии! И для улучшения ситуации в нашем регионе, мы постоянно ищем возможности обработки новых видов сырья. Рады сообщить мы запустили прием текстильного сырья.',
      'blog-card__network-link--news'
    )
