include ../../mixins/news.pug
include ../../mixins/share-network.pug
+mews(
    'Мы начали принимать старую одежду, текстиль, постельное бельё',
    'Мы начали принимать старую одежду, текстиль, постельное бельё',
    {src: 'assets/img/index/news/textile.jpg', alt: 'news'},
    ['Мы неравнодушны к экологии! И для улучшения ситуации в нашем регионе, мы постоянно ищем возможности обработки новых видов сырья. Рады сообщить мы запустили прием текстильного сырья (одежда, постельное бельё и т.п.).']
  )

  +share-network(
      'https://mirotvorets72.ru/news_2.html',
      'Мы начали принимать старую одежду, текстиль, постельное бельё',
      'assets/img/index/news/textile.jpg',
      'Мы неравнодушны к экологии! И для улучшения ситуации в нашем регионе, мы постоянно ищем возможности обработки новых видов сырья. Рады сообщить мы запустили прием текстильного сырья (одежда, постельное бельё и т.п.).'
    )
