include ../../mixins/news.pug
include ../../mixins/share-network.pug
+mews(
    'ЭКО-Акции',
    'ЭКО-Акции',
    {src: 'assets/img/blog/news/promo.jpg', alt: 'promo'},
    [
      'ЭкоСтиль - Стиль моей жизни. Сортируй и будь в тренде!',
      'ЭКО-акция - это новшество. Данный проект помогает начать сортировать сырье прямо у себя дома. Важно заметить то, что если у вас нет возможности привезти скопленное сырье в пункты приема, мы с удовольствием приедем в Ваш двор и организуем ЭКО-акцию прямо у Вас во дворе!',
      'Как принять участие в ЭКО-акции? Вам необходимо указать свой адрес, и мы внесем его в график маршрутов согласно вашему району, у нас уже более 50 адресов по всему городу. В каждом районе мы бываем раз в месяц. Нами выстраивается маршрут согласно географии города. На каждой точке Экомобиль стоит в течении 15 мин. и осуществляет прием вторичного сырья, согласно прайсу акции 1кг. = 1руб. После всех маршрутов машина отправляется на склад, где сырье сортируется, прессуется и отправляется на завод переработчик.',
      'Перечень принимаемого вторичного сырья: Картон (Упаковки из-под лекарств, чая, печенья, лотки из-под яиц и т.п.); Макулатура (Бумага А4, книги, журналы и т.п.); Пластик (ПЭТ бутылки, тара из-под бытовой химии, пакет с пакетами, маркировки 1/2/4); Стекло (Бутылки, банки, бой стекла и т.п.); Одежда и текстиль; Алюминиевые баночки из-под газировки.',
    ]
  )

  +share-network(
      'https://mirotvorets72.ru/news_4.html',
      'ЭКО-Акции',
      'assets/img/blog/news/promo.jpg',
      'ЭкоСтиль - Стиль моей жизни. Сортируй и будь в тренде! ЭКО-акция - это новшество. Данный проект помогает начать сортировать сырье прямо у себя дома. Важно заметить то, что если у вас нет возможности привезти скопленное сырье в пункты приема, мы с удовольствием приедем в Ваш двор и организуем ЭКО-акцию прямо у Вас во дворе!',
      'blog-card__network-link--news'
    )
