include ../../mixins/news.pug
include ../../mixins/share-network.pug
+mews(
    'Сдать стекло',
    'Сдать стекло',
    {src: 'assets/img/blog/news/glass.jpg', alt: 'glass'},
    [
      'Как сдать стекло в Тюмени? Где принимают стекло? Какое стекло можно сдать? Сколько стоит стекло? На эти вопросы мы и ответим!',
      '«Какое стекло вы принимаете?»  Мы принимаем: Бутылки и банки (из под напитков, варений, солений); Стеклопакеты (целые, битые); Стекла теплицы; Боковые стекла автомобиля (лобовые и задние не принимаем); Витринные стекла.',
      'Не принимаем: Зеркала; Закаленное стекло; Стекла с пленкой. Сырье необходимо подготовить. Не должно быть пластиковых профилей, пленки, клея, крышек, жидкости внутри.',
      'Цена за 1 кг. стекла зависит от цвета и чистоты, принимаем от 1руб. до 2 руб.',
      'Как сдать сырье? Можно привезти самим или же приедем мы, организовав у вас во дворе ЭКО-акцию.',
      'Пункты приема: Ул. Авторемонтная, 9 стр. 1; Ул. 11 км. Ялуторовского тракта, стр. 7; Ул. Тимирязева, 9 стр. 10; Ул. Щербакова, 160 стр. 3; Номер диспетчера +7(3452) 531-601; По вопросам ЭКО-Акции: +7(909)191-83-25 Лев.'
    ]
  )

  +share-network(
      'https://mirotvorets72.ru/news_6.html',
      'Сдать стекло',
      'assets/img/blog/news/glass.jpg',
      'Как сдать стекло в Тюмени? Где принимают стекло? Какое стекло можно сдать? Сколько стоит стекло? На эти вопросы мы и ответим! «Какое стекло вы принимаете?»  Мы принимаем: Бутылки и банки (из под напитков, варений, солений); Стеклопакеты (целые, битые); Стекла теплицы; Боковые стекла автомобиля (лобовые и задние не принимаем); Витринные стекла.',
      'blog-card__network-link--news'
    )
