include ../../mixins/news.pug
include ../../mixins/share-network.pug
+mews(
    'Принимаем картонные втулки',
    'Принимаем картонные втулки',
    {src: 'assets/img/blog/news/bushing.jpg', alt: 'bushing'},
    [
      'Мы расширяем список принимаемого сырья и теперь можно и нужно сдавать втулки!',
      'Очень важно знать! Втулки должны быть длиной 520мм., а внутренний диаметр 50мм. Должны быть сухие, чистые, недеформированные, желательно аккуратно упакованные.',
      'Сдать втулки от стрейч пленки в Тюмени можно на любой из наших складов: Ул. Авторемонтная, 9 стр. 1; Ул. 11 км. Ялуторовского тракта, стр. 7; Ул. Тимирязева, 9 стр. 10; Ул. Щербакова, 160 стр. 3.',
      'Цену и прочие вопросы можно уточнить у диспетчера, либо на сайте в разделе «Мы покупаем».',
      'Номер диспетчера +7(3452) 531-601'
    ]
  )

  +share-network(
      'https://mirotvorets72.ru/news_7.html',
      'Принимаем картонные втулки',
      'assets/img/blog/news/bushing.jpg',
      'Мы расширяем список принимаемого сырья и теперь можно и нужно сдавать втулки! Очень важно знать! Втулки должны быть длиной 520мм., а внутренний диаметр 50мм. Должны быть сухие, чистые, недеформированные, желательно аккуратно упакованные.',
      'blog-card__network-link--news'
    )
