include ../../mixins/news.pug
include ../../mixins/share-network.pug
+mews(
    'РИО новости',
    'РИО новости',
    {src: 'assets/img/blog/news/nature.jpg', alt: 'nature'},
    ['Исследователи из Университета штата Колорадо (США) и их австралийские коллеги определили регион с самым чистым воздухом на планете.']
  )

  +share-network(
      'https://mirotvorets72.ru/news_4.html',
      'РИО новости',
      'assets/img/blog/news/nature.jpg',
      'Исследователи из Университета штата Колорадо (США) и их австралийские коллеги определили регион с самым чистым воздухом на планете.'
    )
