include ../../mixins/news.pug
include ../../mixins/share-network.pug
+mews(
    'Новый пункт приёма вторсырья',
    'Новый пункт приёма вторсырья',
    {src: 'assets/img/blog/news/news-1.jpg', alt: 'news'},
    ['Для достижения этой цели мы открыли четвертый пункт приема сырья. По адресу: г. Тюмень, ул. Щербакова, д.160, стр. 3']
  )

  +share-network(
      'https://mirotvorets72.ru/news_1.html',
      'Мы стремимся быть ближе',
      'assets/img/blog/news/news-1.jpg',
      'Для достижения этой цели мы открыли четвертый пункт приема сырья. По адресу: г. Тюмень, ул. Щербакова, д.160, стр. 3'
    )
