include ../../mixins/news.pug
include ../../mixins/share-network.pug
+mews(
    'Для вашего удобства',
    'Для вашего удобства',
    {src: 'assets/img/blog/news/calculator.jpg', alt: 'calculator'},
    ['Мы всей командой постоянно работаем над улучшением сервиса для вас! Мы запустили новый сайт, на котором вы можете найти всю необходимую информацию, оставить свои отзывы и предложения, рассчитать стоимость сырья онлайн.', 'Узнать цену за картон онлайн стало еще проще.', 'Вам необходимо выбрать вид сырья, определить сами привезете или приедет наш автомобиль и написать примерный вес, собранный вами, и вы увидите актуальную цену.', 'Сдать картон! Сдать макулатуру! Сдать пластик! Сдать стекло! И все в одном месте.', 'Для вашего удобства у нас открыты четыре пункта приема по адресам: Ул. Авторемонтная, 9 стр. 1; Ул. 11 км. Ялуторовского тракта, стр. 7; Ул. Тимирязева, 9 стр. 10; Ул. Щербакова, 160 стр. 3;', 'А также, если у вас нет возможности привезти самим, то наш Экомобиль приедет к вам во двор и выкупит накопленное вами сырье! Заявку на ЭКО-акцию можно оставить здесь – Номер диспетчера +7(3452) 531-601; По вопросам ЭКО-Акции: +7(909)191-83-25 Лев.']
  )

  +share-network(
      'https://mirotvorets72.ru/news_3.html',
      'Для вашего удобства',
      'assets/img/blog/news/calculator.jpg',
      'Мы всей командой постоянно работаем над улучшением сервиса для вас! Мы запустили новый сайт, на котором вы можете найти всю необходимую информацию, оставить свои отзывы и предложения, рассчитать стоимость сырья онлайн.',
      'blog-card__network-link--news'
    )
