include ../../mixins/dropdown-block.pug
section.section
  .container
    .navigating-source-path
      .navigating-source-path__item
        a(href="index.html" class="navigating-source-path__link") Главная &raquo;
      .navigating-source-path__item
        p.navigating-source-path__text Вопрос - ответ
    h1.section__title Часто задаваемы вопросы
    +dropdown-block('Уточнение по принимаемому сырью: нужно ли с 1 (PET) и 2 (HDPE) снимать термоусадочную пленку (в основном она идет ПВХ)? Принимаете ли вы 2 (HDPE) в такой форме? на всех емкостях стоят маркировка 2(HDPE). Отдельный вопрос по поводу бутылочек из-под йогуртов, на них тоже стоит маркировка 2(HDPE). И на сколько помню тюбики вы вроде не берете')
      p.text Здравствуйте!
      p.text Пленку снимать не надо, этикетки тоже.
      p.text Те, что питьевые баночки из под йогурта берем, из под творожков нет.
      p.text Тюбики не принимаем.

    +dropdown-block('Доброе утро, можно узнать часы работы Авторемонтной?')
      p.text Доброе утро! с 9:00-18:00

    +dropdown-block('Добрый день. Подскажите, пожалуйста, что-то не пойму: одежда идёт на переработку или нуждающимся отдаёте? В хорошем состоянии, постирана')
      p.text Добрый!) вся одежда, которая поступает к нам отправляется только на переработку! Единственно, если в хорошем состоянии мужская одежда, то она пойдет на социальную службу.

    +dropdown-block('Добрый день! Скажите а компакт диски и кассеты вы принимаете?')
      p.text Добрый, не принимаем.

    +dropdown-block('Здравствуйте! А бытовую технику/ старые телефоны/провода не принимаете? Или подскажете куда можно сдать?')
      p.text Здравствуйте, такое не принимаем. Только аккумуляторы телефона принимаем из перечисленного
