include ../../mixins/dropdown-block.pug
section.section
  .container
    .navigating-source-path
      .navigating-source-path__item
        a(href="index.html" class="navigating-source-path__link") Главная &raquo;
      .navigating-source-path__item
        p.navigating-source-path__text Вопрос - ответ
    h1.section__title Часто задаваемы вопросы
    +dropdown-block()
