@import '../variables/variables.scss';

.button-inpute-type-a {
  padding: 0;
  width: 220px;
  height: 60px;
  background-color: #67af01;
  border: none;
  border-radius: 30px;
  box-shadow: 0 6px 30px 0 rgba(105, 105, 105, .64);
  color: #ffffff;
  font-family: $textType1;
  font-size: 22px;
  text-decoration: none;
  transition: .3s;
  cursor: pointer;

  &:hover {
    background-color: #4d8300;
    box-shadow: none;
  }

  &:active, &:focus {
    background-color: #4d8300;
    box-shadow: inset 0 4px 1px 0 rgba(0, 0, 0, .17);
  }

  @media(min-width: 992px) {
    font-size: 23px;
  }

  @media(min-width: 1200px) {
    font-size: 25px;
  }
}

.button-link-width-auto {
  display: flex;
  align-items: center;
  padding-top: 13px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #67af01;
  border-radius: 50px;
  box-shadow: 0 6px 30px 0 rgba(105, 105, 105, .64);
  color: #ffffff;
  font-family: $textType1;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
  transition: .3s;
  cursor: pointer;

  &:hover {
    background-color: #4d8300;
    box-shadow: none;
  }

  &:active, &:focus {
    background-color: #4d8300;
    box-shadow: inset 0 4px 1px 0 rgba(0, 0, 0, .17);
  }

  @media(min-width: 768px) {
    font-size: 21px;
  }

  @media(min-width: 992px) {
    font-size: 23px;
  }

  @media(min-width: 1200px) {
    font-size: 25px;
  }

  &--type-a {
    background-color: $buttonTypeB-Color;
    box-shadow: $buttonShadowTypeC;
    text-shadow: $buttonShadowTextTypeB;
    color: $buttonTypeB-TextColor;

    &:hover {
      background-color: $buttonTypeB-ColorHover;
    }

    &:active, &:focus {
      background-color: $buttonTypeB-ColorHover;
      box-shadow: $buttonShadowInsetTypeB;
    }
  }
}

.button-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-margin-bottom-30 {
  margin-bottom: 30px;
}
