@import '../variables/variables.scss';

.calculator-full-wrap {
  margin-left: -15px;
  margin-right: -15px;

  @media (min-width: 576px) {
    width: 500px;
    margin: 0 auto;
  }

  @media (min-width: 768px) {
    width: 582px;
  }
}

.tabs {
  font-family: $textType2;
}

.tabs__content {
  display: none;
  flex-direction: column;

  &--column-reverse{
    flex-direction: column-reverse;
  }

  &--active {
    display: flex;
  }
}

.tabs__header {
  display: flex;
  justify-content: space-between;
  border-top: 2px solid #67af01;
  border-bottom: 2px solid #67af01;
  height: 60px;

  @media (min-width: 576px) {
    border: 2px solid #67af01;
    border-radius: 40px;
  }
}

.tabs__header-item {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 40px;
  text-align: center;
  font-size: 10px;
  font-weight: 600;
  color: #67af01;
  cursor: pointer;

  &:first-child {
    border-radius: 0 40px 40px 0;
    @media (min-width: 576px) {
      border-radius: 40px;
    }
  }

  &:last-child {
    border-radius: 40px 0 0 40px;
    @media (min-width: 576px) {
      border-radius: 40px;
    }
  }

  @media (min-width: 340px) {
    font-size: 12px;
  }

  @media (min-width: 400px) {
    font-size: 14px;
  }

  @media (min-width: 470px) {
    font-size: 16px;
  }

  @media (min-width: 576px) {
    border-radius: 40px;
  }

  @media (min-width: 768px) {
    font-size: 18px;
  }

  &--active {
    background-color: #67af01;
    color: #ffffff;
  }
}

.tabs__content-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 20px;

  @media (min-width: 470px) {
    justify-content: space-between;
    padding-top: 50px;
  }

  &:first-child {
    padding-top: 40px;
    @media (min-width: 470px) {
      padding-top: 50px;
    }
  }
}

.range-wrap {
  position: relative;
  width: 100%;
  height: 80px;
  padding-top: 18px;
  padding-left: 15px;
  padding-right: 15px;
  border-top: 1px solid #e5e3e0;
  border-bottom: 1px solid #e5e3e0;

  @media (min-width: 500px) {
    padding-left: 25px;
    padding-right: 25px;
    border: 1px solid #e5e3e0;
    border-radius: 45px;
  }
}

.range__title {
  position: absolute;
  top: -13px;
  left: 0;
  right: 0;
  font-family: $textType2;
  font-size: 18px;
  font-weight: 600;
  color: #612228;
  text-align: center;
}

.range {
  margin-bottom: 17px;
  width: 100%;
  height: 6px;
  background-color: #dcd9d7;
  border-radius: 4px;
  outline: none;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    border-radius: 100%;
    border: 5px solid #ffffff;
    background-color: #67af01;
    box-shadow: 0 10px 26px 0 rgba(214, 201, 183, .73), 0 3px 6px 0 rgba(214, 201, 183, .83);
    cursor: pointer;
  }

  &::-moz-range-thumb {
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    border-radius: 100%;
    border: 5px solid #ffffff;
    background-color: #67af01;
    box-shadow: 0 10px 26px 0 rgba(214, 201, 183, .73), 0 3px 6px 0 rgba(214, 201, 183, .83);
    cursor: pointer;
  }

  &::-ms-thumb {
    position: absolute;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    border-radius: 100%;
    border: 5px solid #ffffff;
    background-color: #67af01;
    box-shadow: 0 10px 26px 0 rgba(214, 201, 183, .73), 0 3px 6px 0 rgba(214, 201, 183, .83);
    cursor: pointer;
  }
}

.range__output-current-start {
  font-family: $textType2;
  font-size: 12px;
  font-weight: 400;
  color: #612228;
}

.range__output-current-value {
  position: absolute;
  right: 34px;
  bottom: 12px;
  font-family: $textType2;
  font-weight: 400;
  color: #612228;
}

.range__output-current-value-input {
  max-width: 80px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #e5e3e0;
  border-radius: 20px;
  background-color: inherit;
  box-shadow: inset 2px 2px 10px 0px hsla(35,27%,78%,.73);
  font-family: $textType2;
  font-weight: 400;
  color: #612228;
  text-align: center;
  line-height: 0;
}

.output-counting-result {
  width: 100%;
  text-align: center;
  font-family: $textType1;
  font-size: 24px;
  color: #612228;
  text-transform: uppercase;

  @media (min-width: 768px) {
    font-size: 35px;
  }

  @media (min-width: 1200px) {
    font-size: 44px;
  }
}
