@import '../variables/variables.scss';

/*
Стили выпадающего блока
Разметка находится в миксине в файле mixins/dropdown-block.pug
Для работы на страницу необходимо подключить js-файл расположенный в './modules/dropdown-block';
*/

.dropdown-block {
  position: relative;
}

.dropdown-block + .dropdown-block {
  margin-top: 1em;

  @media (min-width: 768px) {
    margin-top: 1.875em;
  }
}

.dropdown-block.is-open .dropdown-block__toggle-icon {
  transform: rotate(45deg);
}

.dropdown-block__header {
  display: flex;
  justify-content: space-between;
  padding: 0.8em 1em;
  text-decoration: none;
  background-color: #efeef3;
  border-radius: 0.5em;

  @media (min-width: 768px) {
    padding: 1.66em 2.55em;
  }
}

.dropdown-block__toggle-icon {
  position: relative;
  flex-shrink: 0;
  height: 1.2em;
  width: 1.2em;
  align-self: center;
  margin-left: 1em;
  transition: transform 0.3s;

  @media (min-width: 768px) {
    align-self: start;
    margin-left: 2em;
    height: 1.55em;
    width: 1.55em;
  }
}

.dropdown-block__toggle-icon::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 2px;
  transform: translateX(-50%);
  background-color: $colorTextType2;
}

.dropdown-block__toggle-icon::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  height: 2px;
  transform: translateY(-50%);
  background-color: $colorTextType2;
}

.dropdown-block__body {
  max-height: 0;
  transition: 0.7s;
  overflow-y: hidden;
}

.dropdown-block__content {
  padding: 1.3em 1em;

  @media (min-width: 768px) {
    padding: 2em 2.55em;
  }
}

.dropdown-block__content > p {
  margin: 0;
}

.dropdown-block__content p + p {
  margin-top: 1em;

  @media (min-width: 768px) {
    margin-top: 2em;
  }
}
