@import '../variables/variables.scss';

.section-order {
  padding-top: 60px;
  padding-bottom: 60px;

  @media (min-width: 768px) {
    padding-top: 80px;
  }
}

.general-order {
  position: relative;
}

.input-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  @media (min-width: 768px) {
    justify-content: space-around;
  }

  &--review {
    @media (min-width: 768px) {
      flex-wrap: nowrap;
      justify-content: space-between;
    }

    @media (min-width: 1200px) {
      justify-content: center;
    }

  }

  &--three-elements {
    flex-direction: column;

    @media (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
    }

    @media (min-width: 992px) {
      padding-left: 80px;
      padding-right: 80px;
    }

    @media (min-width: 1200px) {
      padding-left: 0;
      padding-right: 0;

      & > .input-container:last-child {
        margin: 0 auto;
      }
    }
  }

  &--pos-relative {
    position: relative;
  }

  &--content-center {
    justify-content: center;
  }

  &--mb-30 {
    margin-bottom: 30px;
  }

  &--mb-40 {
    margin-bottom: 40px;
  }

  &--mb-0 {
    margin-bottom: 0;
  }

  &--mb-0-mobile {
    @media (max-width: 767px) {
      margin-bottom: 0;
    }
  }
}

.result-query-success,
.result-query-error {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  height: 60px;
  color: #612228;
  font-family: $textType2;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.3;
}

.show-result-query {
  display: flex;
}

.result-query-container__icon {
  width: 30px;
  height: 30px;
  margin-right: 20px;
}
