@import '../variables/variables.scss';

.section-order {
  padding-top: 60px;
  padding-bottom: 60px;

  @media (min-width: 768px) {
    padding-top: 80px;
  }
}

.general-order {
  display: flex;
  flex-direction: column-reverse;
}

.input-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  @media (min-width: 768px) {
    justify-content: space-around;
  }

  &--content-center {
    justify-content: center;
  }

  &--mb-30 {
    margin-bottom: 30px;
  }

  &--mb-0 {
    margin-bottom: 0;
  }
}
