@import '../variables/variables.scss';

/*
Стили модального окна
Разметка находится в миксине в файле mixins/modal-window.pug

Для работы в свой скрипт необходимо импортировать объект {callsModalWindow} './modules/modal-window' и петедать в него id элемента, по клику на котором происходит вызов окна и id самого окна, которое неоходимо показывать
*/

.modal {
  position: fixed;
  padding-top: 5em;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 1;
  z-index: 199;
  // opacity: 0;
  // z-index: -199;
  transition: opacity 0.3s;
  outline: none;
}

.modal-backdrop {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, .9);
}

.modal-body {
  position: relative;
  overflow: hidden;

  &--text-bg {
    textarea, .input {
      background-color: transparent;
      font-size: 16px;
      &::-webkit-input-placeholder {font-size: 16px;}
      &::-moz-placeholder          {font-size: 16px;}
      &:-moz-placeholder           {font-size: 16px;}
      &:-ms-placeholder            {font-size: 16px;}

      @media (min-width: 768px) {
        &::-webkit-input-placeholder {font-size: 18px;}
        &::-moz-placeholder          {font-size: 18px;}
        &:-moz-placeholder           {font-size: 18px;}
        &:-ms-placeholder            {font-size: 18px;}
      }
    }

    width: 100%;
    padding: 3em 0.5em 4em;
    border-radius: 1em;
    box-shadow: 4px 8px 19px -7px rgba(89, 50, 8, .75);
    background-color: #efeef3;
    background-image: url('../img/index/calculator/calculator-bg-text.png');
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-width: 576px) {
      padding: 3em 1em 4em;
    }

    @media (min-width: 768px) {
      padding: 3em 2em 4em;
    }
  }
}

.modal-close {
  height: 1.55rem;
  width: 1.55rem;
  background-color: transparent;
  border: none;
  transition: transform 0.3s;
  transform: rotate(45deg);
  outline: none;
  cursor: pointer;

  &--pos-right {
    position: absolute;
    top: 1.1em;
    right: 1.1em;
    margin: 0;
    padding: 0;
  }

  &--text-bg {
    position: absolute;
    top: 1.1em;
    right: 1.1em;
    margin: 0;
    padding: 0;
  }
}

.modal-close::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 2px;
  transform: translateX(-50%);
  background-color: $colorTextType2;
}

.modal-close::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  height: 2px;
  transform: translateY(-50%);
  background-color: $colorTextType2;
}
