.scroll-vertical-small {
  // совойства для firefox
  scrollbar-width: thin;
  scrollbar-color: #bca5a7 #d9d9d9;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    // background-color: #d9d9d9;
    background-color: inherit;
    background: linear-gradient(90deg, rgba(255,255,255,1) 30%, rgba(217,217,217,1) 50%, rgba(255,255,255,1) 70%);;
    margin-left: 15px;
  }

  &::-webkit-scrollbar-thumb {
    width: 4px;
    border-radius: 2px;
    background-color: #bca5a7;
  }

  &::-webkit-scrollbar-button:decrement {
    background-image: url("../img/form/scroll-button-top-select.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  &::-webkit-scrollbar-button:increment {
    background-image: url("../img/form/scroll-button-bottom-select.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}
