section.section.translucent-white-substrate
  .container
    .seo-text
      h4.text-bold
        | Мы покупаем
      .text
        | Итак, вы решили сдать накопившееся вторсырье, но не знаете, как это сделать? Компания «Миротворец» предлагает своим клиентам две схемы взаимодействия:
      ul.list-wrap
        li.list-marker-color-custom
          span.text-bold доставка сырья в пункт приема самостоятельно
          =" "
          span.text – вы привозите материалы, производится их взвешивание и оплата за весь объем;
        li.list-marker-color-custom
          span.text-bold транспортировка силами наших специалистов (возможна при условии сдачи от 100 кг сырья)
          =" "
          span.text – вы заполняете заявку (на сайте либо по телефону), и в удобное для вас время приезжает автомобиль. После взвешивания и погрузки происходит расчет.
      .text-bold Виды сырья для покупки
      .text Мы осуществляем прием:
      ul.list-wrap
        li.list-marker-color-custom
          span.text картона, втулок (длина 520 см, толщина задней стенки – 5 см) – сухих, без посторонних предметов внутри;
        li.list-marker-color-custom
          span.text текстиля (постельного белья, полотенец, одежды, плюшевых игрушек);
        li.list-marker-color-custom
          span.text полиэтиленовых труб любого диаметра (черных с синими полосами);
        li.list-marker-color-custom
          span.text тар из-под бытовой химии (цветных, белых, прозрачных) – без содержимого внутри;
        li.list-marker-color-custom
          span.text пустых пластиковых канистр (цветных и прозрачных);
        li.list-marker-color-custom
          span.text поддонов (паллетов);
        li.list-marker-color-custom
          span.text фритюрного масла;
        li.list-marker-color-custom
          span.text пленки – полиэтиленовой, цветной и прозрачной, высокого давления (ПВД), стрейч;
        li.list-marker-color-custom
          span.text макулатуры любого типа – журналов (в том числе глянцевых), газет, книг с обложками, офисной бумаги;
        li.list-marker-color-custom
          span.text ПЭТ-бутылок, канистр – объемом от 0,25 л до 100 л, в том числе пивные кеги;
        li.list-marker-color-custom
          span.text стекла – за исключением армированного и проклеенного;
        li.list-marker-color-custom
          span.text алюминиевых банок – пустых, объемом от 0,25 л до 10 л;
        li.list-marker-color-custom
          span.text мешков МКР (контейнеров из полипропиленовой ткани, биг-бэгов).
      .text.mb-15 Обратите внимание – вторсырье должно соответствовать #[a(class="seo-text__link" href="packing-rules.html" target="_BLANK") требованиям к сырью и его упаковке]
      .text-bold Прием вторсырья в Тюмени
      .text Сотрудничество с компанией «Миротворец» – это:
      ul.list-wrap
        li.list-marker-color-custom
          span.text выгодные условия взаимодействия – вы можете воспользоваться акционными программами по сбыту вторсырья для частных лиц, ТСЖ, организаций;
        li.list-marker-color-custom
          span.text вывоз транспортом компании от 100 кг;
        li.list-marker-color-custom
          span.text моментальная оплата;
        li.list-marker-color-custom
          span.text широкий ассортимент принимаемого сырья – мы работаем с макулатурой, пластиком, полиэтиленом, тканями.
      .text Стать нашим клиентом просто – свяжитесь с менеджером по телефонам #[a(class="seo-text__link" href="tel:+73452531601") +7 (3452) 531-601], #[a(class="seo-text__link" href="tel:+78006007131") 8-800-600-71-31] #[a(class="seo-text__link" href="#formOrder") или заполните онлайн-форму на сайте].
