section.section
  .container
    .navigating-source-path
      .navigating-source-path__item
        a(href="index.html" class="navigating-source-path__link") Главная &raquo;
      .navigating-source-path__item
        p.navigating-source-path__text Мы покупаем
    h1.section__title Покупаем вторсырьё
    .packing-rules-description__text
      p.text-bold Способы сдать:
      ul.ul-reset-margin-left
        li.list-marker-color-custom.mb-10
          span.text Вы привозите сырье нам в пункт приема, мы взвешиваем  его при вас и производим оплату на месте
        li.list-marker-color-custom
          span.text Вы оформляете заявку удобным для вас способом: на сайте или позвонив по телефону. Мы отправляем вам автомобиль. При вас взвешиваем сырье и производим оплату на месте.
          .text-small.pt-5px * выезд нашего автомобиля осуществляется от 100 килограмм.
  include cards-buy.pug
