@import '../variables/variables.scss';

body {
  // width: 100%;
  min-width: 300px;
}

.text {
  color: $mainColorText;
  font-family: $textType2;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;

  @media(min-width: 768px) {
    font-size: 18px;
  }
}

.text-small {
  color: $mainColorText;
  font-family: $textType2;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.2;

  @media(min-width: 768px) {
    font-size: 14px;
  }
}

.text-medium {
  color: $mainColorText;
  font-family: $textType2;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;

  @media(min-width: 768px) {
    font-size: 18px;
  }
}

.text-bold {
  color: $mainColorText;
  font-family: $textType2;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.2;

  @media(min-width: 768px) {
    font-size: 18px;
  }
}

.sticker-title {
  text-align: center;
  color: #612228;
  font-family: $textType1;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;

  @media (min-width: 576px) {
    font-size: 18px;
    font-weight: 500;
  }

  @media (min-width: 768px) {
    font-size: 20px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
  @media (min-width: 768px) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.section__title {
  margin: 0;
  padding: 0;
  margin-bottom: 35px;
  color: #612228;
  font-family: $textType1;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
  text-transform: uppercase;
  text-align: center;

  &:after {
    display: block;
    content: url("../img/index/title-delimiter.png");
    line-height: 0.5;
  }

  @media (min-width: 768px) {
    font-size: 30px;
    font-weight: 500;
  }

  &--line-height-1float2 {
    line-height: 1.2;
  }

  @media (min-width: 1200px) {
    font-size: 44px;
    font-weight: 400;
  }
}

.sticker-text {
  color: #612228;
  font-family: $textType2;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;

  &--extra-small {
    font-size: 16px;
    @media (min-width: 340px) {
      font-size: 18px;
    }
  }
}

.text-short-description {
  font-family: $textType2;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  color: #612228;

  @media (min-width: 768px) {
    font-size: 18px;
  }
}

.navigating-source-path {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
}

.navigating-source-path__link {
  white-space: nowrap;
  font-family: $textType2;
  font-size: 16px;
  line-height: 1.1;
  color: #67af01;
  text-decoration: none;
}

.navigating-source-path__text {
  margin: 0;
  padding: 0;
  margin-left: 5px;
  font-family: $textType2;
  font-size: 16px;
  line-height: 1.1;
  color: #612228;
}

.redirect-main {
  margin-bottom: 20px;
  text-align: center;
}

.redirect-main__link {
  font-family: $textType2;
  font-size: 18px;
  line-height: 1.2;
  color: #67af01;
  text-decoration: none;
}

.border-right-wrap {
  border-right: 1px dashed $mainColorBlocks;

  &--show-desktop {
    @media(max-width: 992px) {
      border: none;
    }
  }
}

.section-gray-bg {
  background-color: #efeef3;
  background-image: url("../img/index/calculator/calculator-bg-text.png");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.list-marker-color-custom {
  color: $listMarkerColor;
}
