@import '../variables/variables.scss';

.clearfix:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}

.pos-rel {
  position: relative;
}

.full-height {
  height: 100%;
}

.overflow-hidden {
  overflow: hidden;
}

.height-60 {
  height: 60px;
}

.flex-container {
  display: flex;
}

.flex-container-between {
  display: flex;
  justify-content: space-between;
}

.flex-container-vertical-center {
  display: flex;
  align-items: center;
  height: 100%;
}

.wrap-horizontal-content-center {
  display: flex;
  align-items: center;
  width: 100%;
}

.pt-30 {
  padding-top: 30px;
}

.mt-35 {
  margin-top: 35px;
}

.mb-50 {
  margin-bottom: 50px;
}
