@import '../variables/variables.scss';

.clearfix:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}

.pos-rel {
  position: relative;
}

.full-height {
  height: 100%;
}

.overflow-hidden {
  overflow: hidden;
}

.height-60 {
  height: 60px;
}

.flex-container {
  display: flex;

  &--content-center {
    justify-content: center;
  }
}

.display-none-mobile {
  display: none;
  @media (min-width: 768px) {
    display: block;
  }
}

.display-none-mobile-tablet {
  display: none;
  @media (min-width: 992px) {
    display: block;
  }
}

.flex-container-between {
  display: flex;
  justify-content: space-between;

  &--flex-wrap-max-width-992 {
    flex-wrap: wrap;
    @media(min-width: 992px) {
      flex-wrap: nowrap;
    }
  }
}

.flex-container-vertical-center {
  display: flex;
  align-items: center;
  height: 100%;
}

.wrap-horizontal-content-center {
  display: flex;
  align-items: center;
  width: 100%;
}

.break {
  flex-basis: 100%;
  height: 0;

  &--xs-show {
    @media(min-width: 576px) {
      display: none;
    }
  }

  &--show-before-width-690 {
    @media(min-width: 690px) {
      display: none;
    }
  }

  &--mobile-show {
    @media(min-width: 768px) {
      display: none;
    }
  }

  &--mobile-desktop-show {

    @media(min-width: 768px) {
      display: none;
    }

    @media(min-width: 992px) {
      display: block;
    }
  }

  &--height-6 {
    height: 6px;
  }
}

.pt-5px {
  padding-top: 5px;
}

.pt-30 {
  padding-top: 30px;
}

.pt-80 {
  padding-top: 80px;
}

.pb-0 {
  padding-bottom: 0;
}

.mt-35 {
  margin-top: 35px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-20 {
  margin-right: 20px;
}

.mr-tablet-30 {
   @media (min-width: 768px) {
     margin-right: 30px;
   }

   @media (min-width: 992px) {
    margin-right: 0;
  }
}

.mb-0 {
  margin-bottom: 0;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-xs-30 {
  margin-bottom: 30px;
  @media (min-width: 576px) {
    margin-bottom: 0;
  }
}

.mb-xs-mobile-40 {
  margin-bottom: 40px;
  @media (min-width: 578px) {
    margin-bottom: 0;
  }
}

.mb-mobile-25 {
  margin-bottom: 25px;
  @media (min-width: 768px) {
    margin-bottom: 0;
  }
}

.mb-mobile-30 {
  margin-bottom: 30px;
  @media (min-width: 768px) {
    margin-bottom: 0;
  }
}

.mb-mobile-20-desktop-50 {
  margin-bottom: 20px;

  @media (min-width: 768px) {
    margin-bottom: 0;
  }

  @media (min-width: 992px) {
    margin-bottom: 50px;
 }
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-50 {
  margin-bottom: 50px;
}

.ul-reset-margin-left {
  padding-left: 0;
  margin-left: 0;

  & li {
    padding-left: 0;
    margin-left: 15px;
  }
}
