@import '../variables/variables.scss';

.clearfix:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}

.pos-rel {
  position: relative;
}

.section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.section__title {
  margin: 0;
  padding: 0;
  margin-bottom: 35px;
  color: #612228;
  font-family: $textType1;
  font-size: 44px;
  font-weight: 400;
  line-height: 0.5;
  text-transform: uppercase;
  text-align: center;

  &:after {
    display: block;
    content: url("../img/index/title-delimiter.png");
  }
}

.mb-50 {
  margin-bottom: 50px;
}
