mixin button-input-tipe-a(type, name, value)
  input.button-inpute-type-a(type= type, name= name value= value)

mixin button-download(href, filename, value)
  a.button-link-width-auto(href= href, download= filename) #{value}

mixin button-link-width-auto-type-a(href, value)
  a.button-link-width-auto.button-link-width-auto--type-a(href= href) #{value}

mixin button-card-projects(param)
  a(href= param.href class= param.addClass ? "button-card " + param.addClass : "button-card ") #{param.text}

mixin button-filter(text, classModifier)
  a(class= classModifier ? "button-filter " + classModifier : "button-filter" href="#") #{text}
    block
