mixin dropdown-block()
  .dropdown-block
    a(href="#" class="dropdown-block__header text-bold")
      | Уничтожению подлежат документы с истекшими сроками хранения и потерявшие практическое значение?
      .dropdown-block__toggle-icon
    .dropdown-block__body
      .dropdown-block__content
        p.text
          | Чтобы определить срок хранения документов и соответственно узнать истек ли он,  их. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste nostrum praesentium ratione fugit, laudantium sequi necessitatibus dolorem dolore voluptatum blanditiis assumenda temporibus officia quia soluta quos aliquam sit rerum harum.
        p.text
          | При определении Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae esse commodi obcaecati deleniti ipsam voluptatibus fugiat quasi debitis aperiam odit, soluta, quidem porro amet? Expedita culpa amet reprehenderit molestiae cupiditate!
