mixin pagination()
  .pagination
    //- button.pagination__item.pagination__item-active 1
    //- button.pagination__item 2
    //- button.pagination__item.pagination__item-hover 3
    //- button.pagination__item 4
    //- button.pagination__item 5
    //- button.pagination__item 6
