mixin indexHeaderSliderFirstItem()
  .slider-head__item
    .container
      .slider-head__item-title-wrap.slider-head__item-title-wrap--first-item
        h3.slider-head__item-title сохраним планету живой
    .slider-head__item-picture-wrap
      img(class="slider-head__item-picture" src="assets/img/slider/earth-small.png", alt="земля")
    .slider-head__item-picture-wrap.slider-head__item-picture-wrap--tablet
      img(class="slider-head__item-picture" src="assets/img/slider/earth-middle.png", alt="земля")
    .slider-head__item-picture-wrap.slider-head__item-picture-wrap--desktop
      img(class="slider-head__item-picture" src="assets/img/slider/earth.png", alt="земля")
mixin indexHeaderSliderItem(title, img)
  .slider-head__item
    .container.pos-rel
      .slider-head__item-title-wrap
        h2.slider-head__item-title #{title}
      .slider-head__item-img-wrap
        img(data-src= img, alt= title, class="owl-lazy slider-head__item-img")
