@import '../../variables/variables.scss';

.order-promo {
  margin-bottom: -10px;
  background-color: rgba(239, 238, 243, 0.522);
  background-image: url('../img/index/calculator/calculator-bg-text.png');
  background-repeat: no-repeat;
  background-size: cover;
}
