extends ../layouts/main.pug

block variables
  - var title= "Миротворец Тюмень отказ в доступе к файлу"

block link
block description

block content
  include ../sections/lower-menu-bg.pug
  include ../sections/403/desc.pug

block scripts
  script(src="assets/js/blog.js")
