extends ../layouts/main.pug

block variables
  - var title= "Миротворец Тюмень неверная страница"

block link
block description

block content
  include ../sections/lower-menu-bg.pug
  include ../sections/404/desc.pug

block scripts
  script(src="assets/js/blog.js")
