extends ../layouts/main.pug

block variables
  - var title= "Новости компании 'Миротворец' Тюмень. Акции, прием вторсырья по хорошим ценам"

block link
block keywords
  meta(name="keywords" content="Акции, новости, мероприятия компании 'Миротворец' Тюмень. Куда сдать сырье в Тюмени по хоршим ценам. Как сдать макулатуру, картон, стекло, пленку, поддоны, одежду, аккумуляторные батарейки.")
block description
  meta(name="description", content="Как сдать макулатуру, картон, стекло, пленку, поддоны, пластик, одежду, аккумуляторные батарейки, отработанное фритюрное масло. Куда сдать вторсырье по хорошим ценам. Новости, акции, мероприятия компании 'Миротворец' Тюмень")

block content
  include ../sections/blog/blog-head.pug
  include ../sections/blog/blog-body.pug

block scripts
  script(src="assets/js/blog.js")
