extends ../layouts/main.pug

block variables
  - var title= "Новости компании 'Миротворец' Тюмень. Акции, прием вторсырья по хорошим ценам"

block link
block description
  meta(name="description", content="Все новости компании 'Миротворец'. Как сдать и куда сдать вторсырьё, организовать сбор вторсырья дома или во дворе, какие отходы можно сдать на переработку в Тюмени.")

block content
  include ../sections/blog/blog-head.pug
  include ../sections/blog/blog-body.pug

block scripts
  script(src="assets/js/blog.js")
