extends ../layouts/main.pug

block variables
  - var title= "Прием вторсырья в Тюмени — Центр «Миротворец»"

block link
block description
  meta(name="description", content="Прием вторсырья в Тюмени по хорошим ценам. Компания «Миротворец». Покупаем отходы производства и промышленные отходы по высоким ценам. Макулатура, отходы пластмасс, картон, плёнку, алюминиевые банки, поддоны, стекло, текстиль")

block content
  include ../sections/lower-menu-bg.pug
  include ../sections/buy/short-description.pug
  include ../sections/buy/packing-rules.pug
  include ../sections/buy/form-order.pug
  include ../sections/buy/calculator.pug
  include ../sections/buy/seo-text.pug

block scripts
  script(src="assets/js/buy.js")
