extends ../layouts/main.pug

block variables
  - var title= "Контейнеры для вторсырья — установить контейнеры для раздельного сбора отходов"

block link
block description
  meta(name="description", content="Компания «Миротворец» осуществляет продажу и установку контейнеров для раздельного сбора мусора и отходов в Тюмени. Доступные цены. Звоните по телефону +7 (3452) 531-601 и уточняйте все детали.")

block content
  include ../sections/lower-menu-bg.pug
  include ../sections/containers-sale/description.pug
  include ../sections/containers-sale/stages-cooperation.pug
  include ../sections/containers-sale/rules-participation.pug
  include ../sections/containers-sale/about-containers.pug
  include ../sections/containers-sale/order-container.pug

block scripts
  script(src="assets/js/containers-sale.js")
