extends ../layouts/main.pug

block variables
  - var title= "Продажа контейнеров"

block link

block content
  include ../sections/lower-menu-bg.pug
  include ../sections/containers-sale/description.pug
  include ../sections/containers-sale/stages-cooperation.pug
  include ../sections/containers-sale/rules-participation.pug

block scripts
  script(src="assets/js/main.js")
