extends ../layouts/main.pug

block variables
  - var title= "Контакты компании «Миротворец» - адреса и телефоны пунктов приёма вторсырья"

block link
block description
  meta(name="description", content="Контактная информация о центрах приема вторсырья в Тюмени. Задать все интересующие вопросы можно по телефону: +7 (3452) 531-601")

block content
  include ../sections/lower-menu-bg.pug
  include ../sections/contacts/info.pug
  include ../sections/contacts/work-hours.pug
  include ../sections/contacts/map.pug

block scripts
  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBjBXKACsJqeOziI6fHNCmWPdLul--G--I" type="text/javascript")
  script(src="assets/js/contacts.js")
