extends ../layouts/main.pug

block variables
  - var title= "Услуги утилизации документов и уничтожения архивов в Тюмени"

block link
block description
  meta(name="description", content="Компания «Миротворец» оказывает услуги по уничтожению архивных документов в Тюмени. Доступные цены. Гарантия анонимности. Вы можете утилизировать архив путем сжигания или шредирования. Звоните по телефону +7 (3452) 531-601 и уточняйте все детали.")

block content
  include ../sections/lower-menu-bg.pug
  include ../sections/destruction/stage.pug
  include ../sections/destruction/what-docs.pug
  include ../sections/destruction/procedure.pug
  include ../sections/destruction/video.pug
  include ../sections/destruction/calculator.pug
  include ../sections/destruction/order-destruction.pug

block scripts
  script(src="assets/js/destruction.js")
  script(src="vendor/libs/jquery/dist/jquery.min.js")
  script
    include ../../js/video-destruction.js
