extends ../layouts/main.pug

block variables
  - var title= "Установка экбоксов для сбора макулатуры. Покупаем макулатуру Миротворец Тюмень."

block link
block description
  meta(name="description", content="Компания «Миротворец» осуществляет продажу и установку экобоксов для бумаги и макулатуры в Тюмени. Доступные цены. Звоните по телефону +7 (3452) 531-601 и уточняйте все детали.")

block content
  include ../sections/lower-menu-bg.pug
  include ../sections/ecobox/description.pug
  include ../sections/ecobox/rules-participation.pug
  include ../sections/ecobox/about-ecobox.pug
  include ../sections/ecobox/order-ecobox.pug

block scripts
  script(src="assets/js/containers-sale.js")
