extends ../layouts/main.pug

block variables
  - var title= "Cдать макулатуру, сдать картон, сдать стекло. Экоакция - Миротворец Тюмень"

block link
block keywords
  meta(name="keywords" content="Прием вторсырья, прием макулатуры, сдать макулатуру, сдать картон, прием картона, сдать стекло, прием стекла, заказать автомобиль")
block description
  meta(name="description", content="Прием вторсырья в Тюмени. Компнаия Миротворец. Выезд автомобиля. Расчет на месте. Макулатура, отходы пластмасс, картон, аллюминиевые банки, поддоны, стекло, текстиль. Подать заявку.")

block content
  include ../sections/lower-menu-bg.pug
  include ../sections/ecopromo/ecopromo-head.pug
  include ../sections/ecopromo/promo-address.pug
  include ../sections/ecopromo/order-promo.pug
  include ../sections/ecopromo/promo-packing-rules.pug

block scripts
  script(src="vendor/libs/jquery/dist/jquery.min.js")
  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBjBXKACsJqeOziI6fHNCmWPdLul--G--I" type="text/javascript")
  script(src="assets/js/ecopromo.js")
