extends ../layouts/main.pug

block variables
  - var title= "ЭКО-акции в Тюмени компания 'Миротворец'"

block link
block description
  meta(name="description", content="Теперь у вас есть возможность сдать вторсырье, макулатуру, газеты, журналы, книги, картон, плёнку, текстиль, стекло, ПЭТ, даже если вы не накопили 100 кг. и у вас нет возможности отвезти отходы в пункты приема. Мы сами приедем в ваш двор совершенно бесплатно. Подробности на сайте или по телефону: +7 (3452) 531-601")

block content
  include ../sections/lower-menu-bg.pug
  include ../sections/ecopromo/ecopromo-head.pug
  include ../sections/ecopromo/promo-address.pug
  include ../sections/ecopromo/order-promo.pug
  include ../sections/ecopromo/promo-packing-rules.pug

block scripts
  script(src="vendor/libs/jquery/dist/jquery.min.js")
  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBjBXKACsJqeOziI6fHNCmWPdLul--G--I" type="text/javascript")
  script(src="assets/js/ecopromo.js")
