extends ../layouts/main.pug

block variables
  - var title= "Прием вторсырья в Тюмени. Сдать макулатуру, сдать картон, сдать стекло. Миротворец Тюмень"

block link
  link(rel="stylesheet", href="vendor/libs/owlcarousel2/dist/assets/owl.carousel.min.css")
  link(rel="stylesheet", href="vendor/libs/owlcarousel2/dist/assets/owl.theme.default.min.css")
block keywords
  meta(name="keywords" content="прием вторсырья, прием макулатуры, сдать макулатуру, сдать картон, прием картона, сдать стекло, прием стекла")
block description
  meta(name="description", content="Прием вторсырья в Тюмени по хорошим ценам. Компнаия Миротворец. Покупаем отходы производства и промышленные отходы по высоким ценам. Макулатура, отходы пластмасс, картон, аллюминиевые банки, поддоны, стекло, текстиль")
  meta(name="yandex-verification" content="109a3421710cf554")

block content
  include ../sections/index/slider-head.pug
  include ../sections/index/buying.pug
  include ../sections/index/stages-cooperation.pug
  include ../sections/index/for-whom.pug
  include ../sections/index/order.pug
  include ../sections/index/calculator-section-bg.pug
  include ../sections/index/about.pug
  include ../blocks/map.pug
  include ../sections/index/news-short.pug
  include ../sections/index/review-form.pug
  include ../sections/index/partners-bottom.pug

block scripts
  script(src="vendor/libs/jquery/dist/jquery.min.js")
  script(src="vendor/libs/owlcarousel2/dist/owl.carousel.min.js")
  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBjBXKACsJqeOziI6fHNCmWPdLul--G--I" type="text/javascript")
  script(src="assets/js/main.js")

  //- Подключение яндекс карты
  //- script(src="https://api-maps.yandex.ru/2.1/?apikey=4ce07f9d-d0c5-48da-8c8a-f943b956c1c0&lang=ru_RU" type="text/javascript")
