extends ../layouts/main.pug

block variables
  - var title= "Главная"

block content
  include ../sections/index/slider-head.pug
  include ../sections/index/buying.pug
  include ../sections/index/stages-cooperation.pug
  include ../sections/index/for-whom.pug
  include ../sections/index/order.pug
  include ../sections/index/calculator-section-bg.pug
  include ../sections/index/about.pug
