extends ../layouts/main.pug

block variables
  - var title= "Главная"

block content
  include ../sections/index/slider-head.pug
  include ../sections/index/buying.pug
  include ../sections/index/stages-cooperation.pug
  include ../sections/index/for-whom.pug
  include ../sections/index/order.pug
  include ../sections/index/calculator-section-bg.pug
  include ../sections/index/about.pug
  include ../blocks/map.pug
  include ../sections/index/news-short.pug
  include ../sections/index/review-form.pug
  include ../sections/index/partners-bottom.pug

block scripts
  script(src="vendor/libs/jquery/dist/jquery.min.js")
  script(src="https://api-maps.yandex.ru/2.1/?apikey=4ce07f9d-d0c5-48da-8c8a-f943b956c1c0&lang=ru_RU"
    type="text/javascript")
  script(src="assets/js/main.js")
