extends ../layouts/main.pug

block variables
  - var title= "Эта страница в разработке"

block link

block content
  include ../sections/lower-menu-bg.pug
  include ../sections/info-page-develop/title.pug

block scripts
