extends ../layouts/main.pug

block variables
  - var title= "Сдать картонные втулки. Пункт приема вторсырья в Тюмени."

block link
block keywords
  meta(name="keywords" content="Сдать картонные втулки. Пункт приема сырья в Тюмени. Компания Миротворец.")
block description
  meta(name="description", content="Сдать картонные втулки. Пункт приема сырья в Тюмени. Компания Миротворец.")

block content
  include ../sections/lower-menu-bg.pug
  include ../sections/news/news-7.pug

block scripts
  script(src="assets/js/blog.js")
