extends ../layouts/main.pug

block variables
  - var title= "Стремимся быть ближе. Мероприятия компании 'Миротворец'"

block link
block description
  meta(name="description", content="Компания «Миротворец» запустила ряд проектов на такие темы как: ЭкоСтиль – Стиль моей жизни!; Раздельный сбор сырья у себя дома; Эко-Акции – Экомобиль во дворе вашего дома!; Эко-Десант – контейнеры для сбора макулатуры; Эко-Двор – раздельный сбор прямо во дворе;")

block content
  include ../sections/lower-menu-bg.pug
  include ../sections/news/news-5.pug

block scripts
  script(src="assets/js/blog.js")
