extends ../layouts/main.pug

block variables
  - var title= "Запуск нового сайта компании 'Миротворец'"

block link
block description
  meta(name="description", content="Мы всей командой постоянно работаем над улучшением сервиса для вас! Мы запустили новый сайт, на котором вы можете найти всю необходимую информацию, оставить свои отзывы и предложения, рассчитать стоимость сырья онлайн.")

block content
  include ../sections/lower-menu-bg.pug
  include ../sections/news/news-3.pug

block scripts
  script(src="assets/js/blog.js")
