extends ../layouts/main.pug

block variables
  - var title= "Сдать картонные втулки. Пункт приема вторсырья в Тюмени. Компания 'Миротворец'"

block link
block keywords
  meta(name="keywords" content="Мы покупаем картонные втулки длинна 520мм., диаметр 50мм.по высоким ценам. Задать все интересующие вопросы можно по телефону: +7 (3452) 531-601")
block description
  meta(name="description", content=" осуществляет ")

block content
  include ../sections/lower-menu-bg.pug
  include ../sections/news/news-7.pug

block scripts
  script(src="assets/js/blog.js")
