extends ../layouts/main.pug

block variables
  - var title= "Сдать стекло в Тюмени."

block link
block description
  meta(name="description", content="Как сдать стекло в Тюмени? Где принимают стекло? Какое стекло можно сдать? Сколько стоит стекло? На эти вопросы мы и ответим!")

block content
  include ../sections/lower-menu-bg.pug
  include ../sections/news/news-6.pug

block scripts
  script(src="assets/js/blog.js")
