extends ../layouts/main.pug

block variables
  - var title= "Пункт приема вторсырья в Тюмени. Сдать макулатуру, картон, стекло, плёнку, пластик."

block link
block keywords
  meta(name="keywords" content="Сдать макулатуру, картон, стекло, плёнку, пластик, поддоны, фритюрное масло, биг-беги, полиэтиленовые трубы, аккумуляторные батареи, текстиль, одежду. Пункт приема сырья в Тюмени. Компания Миротворец.")
block description
  meta(name="description", content="Пункт приема в Тюмени. Сдать макулатуру, сдать картон, сдать стекло, сдать пленку, сдать поддоны, сдать пластик, сдать одежду, сдать аккумуляторные батарейки, сдать отработанное фритюрное масло. Куда сдать вторсырье по хорошим ценам. Компания Миротворец.")

block content
  include ../sections/lower-menu-bg.pug
  include ../sections/news/news-6.pug

block scripts
  script(src="assets/js/blog.js")
