extends ../layouts/main.pug

block variables
  - var title= "ЭКО-акции у вас во дворе"

block link
block keywords
  meta(name="keywords" content="Сдать макулатуру, картон, стекло, плёнку, пластик, поддоны, фритюрное масло, биг-беги, полиэтиленовые трубы, аккумуляторные батареи, текстиль, одежду. Пункт приема сырья в Тюмени. Компания Миротворец.")
block description
  meta(name="description", content="ЭКО-акция - это новшество. Данный проект помогает начать сортировать сырье прямо у себя дома. Важно заметить то, что если у вас нет возможности привезти скопленное сырье в пункты приема, мы с удовольствием приедем в Ваш двор и организуем ЭКО-акцию прямо у Вас во дворе!")

block content
  include ../sections/lower-menu-bg.pug
  include ../sections/news/news-4.pug

block scripts
  script(src="assets/js/blog.js")
