extends ../layouts/main.pug

block variables
  - var title= "Новый пункт приема вторсырья компании 'Миротворец'"

block link
block description
  meta(name="description", content="Мы открыли четвертый пункт приема сырья. По адресу: г. Тюмень, ул. Щербакова, д.160, стр. 3")

block content
  include ../sections/lower-menu-bg.pug
  include ../sections/news/news-1.pug

block scripts
  script(src="assets/js/blog.js")
