extends ../layouts/main.pug

block variables
  - var title= "Сдать стекло. Сдать стекло в Тюмени. Прием стекла. Сдать бутылки"

block link
block keywords
  meta(name="keywords" content="Сдать стекло. Сдать бутылки. Сдать стекло в Тюмени. Прием стекла. Прием стекла цена. Сдать бутылки в Тюмени. Куда сдать стекло. Куда можно сдать стекло. Куда сдать стекло за деньги. Где сдать стекло. Стекло сдать цена.")
block description
  meta(name="description", content="Пункты приема стекла в Тюмени. Нам вы можете сдать стекло, сдать бутылки, сдать битое стекло, сдать стекло за деньги, сдать автомобильные боковые стекла. Компания 'Миротворец' осуществляет прием стекла, прием бутылок, прием битого стекла, прием стекла по высоким ценам")

block content
  include ../sections/lower-menu-bg.pug
  include ../sections/news/news-6.pug

block scripts
  script(src="assets/js/blog.js")
