extends ../layouts/main.pug

block variables
  - var title= "Правила упаковки вторсырья. Миротворец прием вторсырья по высоким ценам"

block link
block keywords
  meta(name="keywords" content="Правила упаковки вторсырья макулатуры, пластмассы, картона, отработанного масла, аллюминиевых банок, поддонов, полиэтиленовых труб, стекло, текстиль, биг-бэг")
block description
  meta(name="description", content="Прием вторсырья в Тюмени по хорошим ценам. Правила упаковки вторсырья. Компнаия Миротворец. Покупаем отходы производства и промышленные отходы по высоким ценам. Макулатура, отходы пластмасс, картон, аллюминиевые банки, поддоны, стекло, текстиль")

block content
  include ../sections/lower-menu-bg.pug
  include ../sections/packing-rules/packing-rules-description.pug

block scripts
  script(src="assets/js/packing-rules.js")
