extends ../layouts/main.pug

block variables
  - var title= "Правила упаковки вторсырья"

block link
block description
  meta(name="description", content="Основные правила и требования к упаковке вторсырья, макулатуры, картона, плёнки, стеклобоя, текстиля, отработанного масла, пластика, поддонов, мешки МКР при сдаче")

block content
  include ../sections/lower-menu-bg.pug
  include ../sections/packing-rules/packing-rules-description.pug

block scripts
  script(src="assets/js/packing-rules.js")
