extends ../layouts/main.pug

block variables
  - var title= "Цены на прием вторсырья. Миротворец прием вторсырья по высоким ценам"

block link
block keywords
  meta(name="keywords" content="Цены на прием макулатуры, пластмассы, картона, отработанного масла, аллюминиевых банок, поддонов, полиэтиленовых труб, стекло, текстиль, биг-бэг")
block description
  meta(name="description", content="Прием вторсырья в Тюмени по хорошим ценам. Компнаия Миротворец. Покупаем отходы производства и промышленные отходы по высоким ценам. Макулатура, отходы пластмасс, картон, аллюминиевые банки, поддоны, стекло, текстиль")

block content
  include ../sections/lower-menu-bg.pug
  include ../sections/price/cards-price.pug
  include ../sections/price/form-order.pug
  include ../sections/price/calculator.pug
  include ../sections/price/packing-rules.pug

block scripts
  script(src="assets/js/price-page.js")
