extends ../layouts/main.pug

block variables
  - var title= "Стоимость услуг компании «Миротворец»"

block link
block description
  meta(name="description", content="Цены на прием макулатуры, пластмассы, картона, плёнки, отработанного масла, алюминиевых банок, поддонов, полиэтиленовых труб, стекла, текстиля, биг-бэгов")

block content
  include ../sections/lower-menu-bg.pug
  include ../sections/price/cards-price.pug
  include ../sections/price/form-order.pug
  include ../sections/price/calculator.pug
  include ../sections/price/packing-rules.pug

block scripts
  script(src="assets/js/price-page.js")
