extends ../layouts/main.pug

block variables
  - var title= "Продажа контейнеров"

block link

block content
  include ../sections/lower-menu-bg.pug
  include ../sections/price/cards-price.pug

block scripts
