extends ../layouts/main.pug

block variables
  - var title= "Наши акции и проекты"

block link
block description
  meta(name="description", content="Акции и проекты, которые реализует компания «Миротворец»")

block content
  include ../sections/lower-menu-bg.pug
  include ../sections/projects/projects.pug

block scripts
  script(src="assets/js/projects.js")
