extends ../layouts/main.pug

block variables
  - var title= "Как сдать вторсырье в Тюмени. Где сдать макулатуру, сдать картон, сдать стекло. Миротворец Тюмень"

block link
block keywords
  meta(name="keywords" content="Прием вторсырья, прием макулатуры, сдать макулатуру, сдать картон, прием картона, сдать стекло, прием стекла, задать вопрос")
block description
  meta(name="description", content="Прием вторсырья в Тюмени по хорошим ценам. Компнаия Миротворец. Покупаем отходы производства и промышленные отходы по высоким ценам. Макулатура, отходы пластмасс, картон, аллюминиевые банки, поддоны, стекло, текстиль. Задать вопрос, ответы на часто задаваемые вопросы")

block content
  include ../sections/lower-menu-bg.pug
  include ../sections/projects/projects.pug

block scripts
