extends ../layouts/main.pug

block variables
  - var title= "Часто задаваемые вопросы"

block link
block description
  meta(name="description", content="Ответы на вопросы, которые часто задают клиенты компании «Миротворец»")

block content
  include ../sections/lower-menu-bg.pug
  include ../sections/questions/question-answer.pug
  include ../sections/questions/question-footer.pug

block scripts
  script(src="assets/js/question-answer.js")
