extends ../layouts/main.pug

block variables
  - var title= "Отзывы клиентов о компании 'Миротворец' Тюмень. Сбор вторсырья отзывы."

block link
block description
  meta(name="description", content="Злесь вы можете прочитать отзывы клиентов о компании 'Миротворец', осуществляющей покупку вторсырья в Тюмени, стекла, макулатуры, картона, масла, канистр, пленки, поддонов.")

block content
  include ../sections/lower-menu-bg.pug
  include ../sections/reviews/reviews-body.pug

block scripts
  script(src="assets/js/reviews.js")
