extends ../layouts/main.pug

block variables
  - var title= "Архивные услуги, удаленное хранение документов в Тюмени"

block link
block description
  meta(name="description", content="Компания «Миротворец» оказывает услуги по архивному хранению документов в Тюмени. Доступные цены. Гарантия анонимности и сохранности архива. Вы можете сдать документы в архив в любое удобное время. Звоните по телефону +7 (3452) 531-601 и уточняйте все детали.")

block content
  include ../sections/lower-menu-bg.pug
  include ../sections/storage/stage-storage.pug
  include ../sections/storage/procedure-transfer-storage.pug
  include ../sections/storage/video.pug
  include ../sections/storage/calculator.pug
  include ../sections/storage/order-storage.pug

block scripts
  script(src="assets/js/storage.js")
  script(src="vendor/libs/jquery/dist/jquery.min.js")
  script
    include ../../js/video-storage.js
