extends ../layouts/main.pug

block variables
  - var title= "Вакансии в Тюмени компания 'Миротворец'"

block link
block keywords
  meta(name="keywords" content="Работа в Тюмени, стабильная компания 'Миротворец'. Конкурентная, своевременная зарпалта. Обсуждаемый график работы. Карьерный рост")
block description
  meta(name="description", content="Работа в Тюмени, стабильная компания 'Миротворец'. Сплоченный коллектив профессионалов. Конкурентная, своевременная зарпалта. Обсуждаемый график работы. Карьерный рост.")

block content
  include ../sections/lower-menu-bg.pug
  include ../sections/vacancy/vacancy-head.pug
  include ../sections/vacancy/why-we.pug
  include ../sections/vacancy/response-form.pug

block scripts
  script(src="assets/js/vacancy.js")
