include ../../mixins/buttons.pug
include ../../mixins/vacancy-content.pug
include ../../mixins/selects.pug
section.section
  .container
    .navigating-source-path
      .navigating-source-path__item
        a(href="index.html" class="navigating-source-path__link") Главная &raquo;
      .navigating-source-path__item
        p.navigating-source-path__text Вакансии
    h1.section__title Вакансии
    .vacancy

      //- select show mobile
      +select-empty('mb-60', 'Список вакансий')

      //- aside show tablet and desktop
      aside.filter-aside.filter-aside--vacancy
        .filter-aside__button-wrap.scroll-vertical-small

      main.vacancy-body
        .vacancy-body__title Вакансия «Диспетчер»
        .vacancy-body__text-wrap.scroll-vertical-small
          +text-column(
            {
              title: 'Обязанности',
              list: [
                'Обработка входящих звонков;',
                'Консультирование клиентов;',
                'Приём заявок;',
                'Распределение заявок между водителями;',
                'Составление маршрута сбора заявок;',
                'Координация согласовнной работы складов и водителей;',
              ]
            }
          )

          +text-column(
            {
              title: 'Условия',
              list: [
                'Режим работы 2/2 с 08:00 до 20:00;',
                'Работа в стабильной компании, лидер в своей отрасли;',
                'Собственный комфортный офис с удобной столовой;',
                'Дружный коллектив;',
                'Возможность карьерного роста;',
                'Своевременная зарплата;',
                'Оплачиваемый отпуск;',
                'Зарплата 25 000 р/мес.',
              ]
            }
          )

          +text-column(
            {
              title: 'Требования',
              list: [
                'Грамотная речь;',
                'Стрессоустойчивость;',
                'Доброжелательность;',
                'Минимальные навыки работы с ПК;',
                'Приветствуется знание города;',
              ]
            }
          )

      main.vacancy-body
        .vacancy-body__title Вакансия «Водитель на а/м Газель»
        .vacancy-body__text-wrap.scroll-vertical-small
          +text-column(
            {
              title: 'Обязанности',
              list: [
                'Выполнение заявок согласно построенному маршруту;',
                'Погрузка сырья у клиента;',
                'Выгрузка сырья на склады компании;',
                'Заполнение дневных отчетов;',
                'Поддержание автомобиля в чистом и исправном состоянии;',
                'При необходимости проведение мелкого ремонта;',
                'Своевременно информировать механика о неисправностях, при невозможности самостоятельного их устранения;',
              ]
            }
          )

          +text-column(
            {
              title: 'Условия',
              list: [
                'Можно выбрать удобный график работы: одна неделя 4/3, следующая неделя 5/2. Или 2/2;',
                'Работа в стабильной компании, лидер в своей отрасли;',
                'Дружный коллектив;',
                'Зарплата: оклад + сдельная от вывезенного объема;',
                'Своевременная зарплата;',
                'Оплачиваемый отпуск;',
                'Зарплата от 30 000 р/мес.',
              ]
            }
          )

          +text-column(
            {
              title: 'Требования',
              list: [
                'Водительское удостоверение категории "B";',
                'Аккуратность;',
                'Вежливость;',
                'Пунктуальность;',
                'Ответственность;',
              ]
            }
          )

      main.vacancy-body
        .vacancy-body__title Вакансия «Водитель c личным а/м Газель (грузовая)»
        .vacancy-body__text-wrap.scroll-vertical-small
          +text-column(
            {
              title: 'Обязанности',
              list: [
                'Выполнение заявок согласно построенному маршруту;',
                'Погрузка сырья у клиента;',
                'Выгрузка сырья на склады компании;',
              ]
            }
          )

          +text-column(
            {
              title: 'Условия',
              list: [
                'Оплата от вывезенного объема;',
              ]
            }
          )

          +text-column(
            {
              title: 'Требования',
              list: [
                'Водительское удостоверение категории "B";',
                'Наличие автомобиля Газель (грузовая) с кузовом не менее 4-х метров;',
                'Аккуратность;',
                'Вежливость;',
                'Пунктуальность;',
                'Ответственность;',
              ]
            }
          )

    .input-wrap.mt-30
      +button-input-tipe-a('button', 'response-vacancy', 'Откликнуться')
