include ../../mixins/buttons.pug
include ../../mixins/vacancy-content.pug
include ../../mixins/selects.pug
section.section
  .container
    .navigating-source-path
      .navigating-source-path__item
        a(href="index.html" class="navigating-source-path__link") Главная &raquo;
      .navigating-source-path__item
        p.navigating-source-path__text Вакансии
    h1.section__title Вакансии
    .vacancy

      //- select show mobile
      +select-empty('mb-60', 'Список вакансий')

      //- aside show tablet and desktop
      aside.filter-aside.filter-aside--vacancy
        .filter-aside__button-wrap.scroll-vertical-small

      main.vacancy-body
        .vacancy-body__title Вакансия «Диспетчер»
        .vacancy-body__text-wrap.scroll-vertical-small
          +text-column(
            {
              title: 'Обязанности',
              list: [
                'Разработка внутренних сервисов компании;',
                'Участие в ИТ-проектах по изменению текущих сервисов;'
              ]
            }
          )

          +text-column(
            {
              title: 'Условия',
              list: [
                'Пятидневная рабочая неделя;',
                'Высокая заработная плата;',
                'Корпоративное обучение;',
                'Изучение новых технологий на практике;',
                'Интересные и сложные задачи;',
                'Возможность роста и курирования IT проектов.',
              ]
            }
          )

          +text-column(
            {
              title: 'Требования',
              list: [
                'Написание качественного кода, документирование и покрытие тестами;',
                'Аналитический ум, умение видеть задачу в целом и в частности;',
                'Корпоративное обучение;',
                'Изучение новых технологий на практике;',
                'Интересные и сложные задачи;',
                'Возможность роста и курирования IT проектов.',
              ]
            }
          )

      main.vacancy-body
        .vacancy-body__title Вакансия «Водитель»
        .vacancy-body__text-wrap.scroll-vertical-small
          +text-column(
            {
              title: 'Обязанности',
              list: [
                'Разработка внутренних сервисов компании;',
                'Участие в ИТ-проектах по изменению текущих сервисов;'
              ]
            }
          )

          +text-column(
            {
              title: 'Условия',
              list: [
                'Пятидневная рабочая неделя;',
                'Высокая заработная плата;',
                'Корпоративное обучение;',
                'Изучение новых технологий на практике;',
                'Интересные и сложные задачи;',
                'Возможность роста и курирования IT проектов.',
              ]
            }
          )

          +text-column(
            {
              title: 'Требования',
              list: [
                'Написание качественного кода, документирование и покрытие тестами;',
                'Аналитический ум, умение видеть задачу в целом и в частности;',
                'Корпоративное обучение;',
                'Изучение новых технологий на практике;',
                'Интересные и сложные задачи;',
                'Возможность роста и курирования IT проектов.',
              ]
            }
          )

      main.vacancy-body
        .vacancy-body__title Вакансия «Водитель c личным а/м Газель»
        .vacancy-body__text-wrap.scroll-vertical-small
          +text-column(
            {
              title: 'Обязанности',
              list: [
                'Разработка внутренних сервисов компании;',
                'Участие в ИТ-проектах по изменению текущих сервисов;'
              ]
            }
          )

          +text-column(
            {
              title: 'Условия',
              list: [
                'Пятидневная рабочая неделя;',
                'Высокая заработная плата;',
                'Корпоративное обучение;',
                'Изучение новых технологий на практике;',
                'Интересные и сложные задачи;',
                'Возможность роста и курирования IT проектов.',
              ]
            }
          )

          +text-column(
            {
              title: 'Требования',
              list: [
                'Написание качественного кода, документирование и покрытие тестами;',
                'Аналитический ум, умение видеть задачу в целом и в частности;',
                'Корпоративное обучение;',
                'Изучение новых технологий на практике;',
                'Интересные и сложные задачи;',
                'Возможность роста и курирования IT проектов.',
              ]
            }
          )

    .input-wrap.mt-30
      +button-input-tipe-a('button', null, 'Откликнуться')
