section.section.why-we-bg
  .container
    h1.section__title-light «Почему выбирают нас?»
    .why-we
      .why-we__tile
        .why-we__tile-img-wrap
          img(src="assets/img/vacancy/tree.png", alt="tree")
        .why-we__tile-text-wrap
          h2.why-we__tile-subtitle Мы стабильная компания!
          ul.why-we__tile-text
            li работаем с 2015 года
            li наши объемы постоянно растут
            li занимаем лидирующие позиции в своей отрасли

      .why-we__tile
        .why-we__tile-img-wrap
          img(src="assets/img/vacancy/money.png", alt="money")
        .why-we__tile-text-wrap
          h2.why-we__tile-subtitle Конкурентная заработная плата!
          ul.why-we__tile-text
            li мы убеждены, что качественный труд должен достойно оплачиваться
            li заработная плата без задержек

      .why-we__tile
        .why-we__tile-img-wrap
          img(src="assets/img/vacancy/man.png", alt="man")
        .why-we__tile-text-wrap
          h2.why-we__tile-subtitle Мы постоянно работаем над повышением профессионального уровня своих сотрудников!
          ul.why-we__tile-text
            li опыт, который вы получите в компании – бесценен
            li всегда интересные задачи, скучно не будет

      .why-we__tile
        .why-we__tile-img-wrap
          img(src="assets/img/vacancy/team.png", alt="team")
        .why-we__tile-text-wrap
          h2.why-we__tile-subtitle Дружный коллектив!
          ul.why-we__tile-text
            li мы заражены общей идеей и совместно трудимся над ее воплощением
            li у нас нет злых начальников и глупых коллег, мы всегда договариваемся
