@import '../../variables/variables.scss';

.procedure {
  position: relative;
  width: 100%;

  @media(min-width: 992px) {
    max-width: 940px;
    margin: 0 auto;
  }

  @media(min-width: 1200px) {
    max-width: 1140px;
    margin: 0 auto;
  }
}

.procedure-head {
  display: flex;
  align-items: center;
  margin-top: 20px;
  box-shadow: 1px 15px 49px #eae6e1;
  padding-top: 20px;
  padding-bottom: 20px;

  @media(min-width: 768px) {
    margin-top: 0;
    padding-top: 110px;
    padding-bottom: 0;
    box-shadow: none;
  }
}


.procedure-head__sticker-wrap {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;

  @media(min-width: 768px) {
    width: 80%;
    margin-left: 40px;
    display: block;
  }

  @media(min-width: 992px) {
    margin-left: 0;
  }

  @media(min-width: 1200px) {
    width: 90%;
  }
}

.procedure-head__sticker-img {
  display: block;
  max-width: 100%;
  height: max-content;
  filter: drop-shadow(1px 15px 49px #eae6e1);

  &:nth-child(1) {
    display: none;

    @media(min-width: 768px) {
      display: block;
    }

    @media(min-width: 992px) {
      display: none;
    }
  }

  &:nth-child(2) {
    display: none;

    @media(min-width: 992px) {
      display: block;
    }
  }
}

.procedure-head__sticker-text {
  display: flex;
  align-items: center;
  width: 100%;
  padding-left: 10px;
  font-family: $textType2;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  color: $mainColorText;

  @media(min-width: 768px) {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 80%;
    padding-left: 60px;
    font-size: 18px;
  }

  @media(min-width: 992px) {
    width: 62%;
  }
}

.procedure-head__calendar-wrap {
  flex-shrink: 1;

  @media(min-width: 768px) {
    position: absolute;
    line-height: 0;
    right: 0;
  }
}

.procedure-head__calendar-img {

  &:nth-child(1) {
    display: block;
    width: 100%;

    @media(min-width: 768px) {
      display: none;
    }
  }

  &:nth-child(2) {
    display: none;

    @media(min-width: 768px) {
      display: block;
    }

    @media(min-width: 992px) {
      display: none;
    }
  }

  &:nth-child(3) {
    display: none;

    @media(min-width: 992px) {
      display: block;
    }
  }
}

.procedure-card-wrap {
  width: 100%;

  @media (min-width: 992px) {
    width: 960px;
    margin: 0 auto;
  }

  @media (min-width: 1200px) {
    width: 1140px;
    margin: 0 auto;
  }
}

.procedure-card {
  display: flex;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
  box-shadow: $cardShadow;
  overflow: hidden;

  @media(min-width: 768px) {
    flex-direction: row-reverse;
  }

  @media(min-width: 992px) {
    margin-top: 80px;
    margin-bottom: 80px;
    border-radius: 15px;
  }
}

.procedure-card__description > * + * {
  margin-top: 15px;
}

.procedure-card__description > h4 {
  margin-top: 0;
  margin-bottom: 0;
}

.procedure-card__description {
  margin-right: 0;
  padding: 15px 20px;
  overflow: hidden;

  @media (min-width: 768px) {
    padding: 30px 40px;
  }
}

.procedure-card__text-wrap {
  padding-left: 15px;
}

.procedure-card__text-wrap > li + li {
  margin-top: 10px;
}

.procedure-card__img-wrap {
  flex-shrink: 0;
  align-self: center;
  max-width: 260px;
  overflow: hidden;

  @media (min-width: 992px) {
    align-self: flex-end;
  }
}

.procedure-card__img {
  display: block;
  max-width: 100%;

  &:nth-child(1) {
    @media (min-width: 768px) {
      display: none;
    }
  }

  &:nth-child(2) {
    display: none;
    @media (min-width: 768px) {
      display: block;
    }
    @media (min-width: 992px) {
      display: none;
    }
  }

  &:nth-child(3) {
    display: none;
    @media (min-width: 992px) {
      display: block;
    }
  }
}
