@import '../../variables/variables.scss';

.stage-wrap-mobile {
  display: flex;
  justify-content: space-around;
  padding-top: 50px;

  @media(min-width: 768px) {
    display: none;
  }

  &--content-center {
    justify-content: center;
  }
}

.stage-wrap {
  display: none;
  justify-content: space-around;
  padding-top: 50px;

  @media(min-width: 768px) {
    display: flex;
  }
}

.stage__item {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 110px;

  @media(min-width: 768px) {
    width: 140px;
  }

  &--one-item-in-row {
    margin-left: 15px;
  }

  &--increased-width {
    width: 125px;
    @media(min-width: 768px) {
      width: 140px;
    }
  }
}

.stage__item-head {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 112px;
  width: 100%;

  @media(min-width: 768px) {
    height: 140px;
  }
}

.stage__item-img-wrap {
  // flex: none;
  line-height: 0;
}

.stage__item-img {
  max-width: 100%;

  &:nth-child(1) {
    display: block;

    @media(min-width: 768px) {
      display: none;
    }
  }

  &:nth-child(2) {
    display: none;

    @media(min-width: 768px) {
      display: block;
    }
  }
}

.stage__item-number {
  position: absolute;
  right: 0px;
  bottom: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-color: #d6251d;
  box-shadow: 0 5px 8px rgba(186, 106, 0, 0.5), 0 9px 38px rgba(129, 100, 61, 0.5);
  font-family: $textType1;
  font-size: 24px;
  line-height: 0;
  font-weight: 400;
  color: #fff;

  @media(min-width: 768px) {
    height: 42px;
    width: 42px;
  }
}

.stage__item-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  color: $mainColorText;
  font-family: $textType2;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;

  @media(min-width: 768px) {
    font-size: 17px;
  }
}

.stage__item-arrow-wrap {
  flex-shrink: 1;
  display: flex;
  align-items: center;
  height: 140px;
}

.stage__item-img-arrow {
  &:nth-child(1) {
    display: block;

    @media(min-width: 992px) {
      display: none;
    }
  }

  &:nth-child(2) {
    display: none;

    @media(min-width: 992px) {
      display: block;
    }
  }
}
