include ../../mixins/mixins-cards.pug
include ../../mixins/buttons.pug
include ../../mixins/modal-window.pug
section.section
  .container
    +modal-window('palletsBasket', null, 'modal-body--text-bg', 'modal-close--pos-right')
      .basket-container.scroll-vertical-small

        .row-in-basket
          .row-in-basket__content
            .row-in-basket__img
              img(src="assets/img/pallets/epal-1.png", alt="pallets")
            .row-in-basket__body
              .row-in-basket__order-management-mobile-dots
                include ../../../img/pallets/product-menu-dots.svg
              .row-in-basket__body-order
                .text-bold С клеймом EPAL размером 800*1200мм.
                .text 3-й сорт - белые/серые/
                .text сломанные до трех деталей
              .row-in-basket__order-management
                a(href="#").row-in-basket__delete-order-item удалить
          .row-in-basket__interaction
            .row-in-basket-calc
              .row-in-basket-calc__plus +
              input(class="row-in-basket-calc__amount" type="number" value="0")
              .row-in-basket-calc__minus -
            .row-in-basket-calc__output-sum 1 000 Р.

        .row-in-basket
          .row-in-basket__content
            .row-in-basket__img
              img(src="assets/img/pallets/noepal-1.png", alt="pallets")
            .row-in-basket__body
              .row-in-basket__order-management-mobile-dots
                include ../../../img/pallets/product-menu-dots.svg
              .row-in-basket__body-order
                .text-bold С клеймом EPAL размером 800*1200мм.
                .text 1-й сорт - белые/целые
              .row-in-basket__order-management
                a(href="#").row-in-basket__delete-order-item удалить
          .row-in-basket__interaction
            .row-in-basket-calc
              .row-in-basket-calc__plus +
              input(class="row-in-basket-calc__amount" type="number" value="0")
              .row-in-basket-calc__minus -
            .row-in-basket-calc__output-sum 1 000 Р.

    a(href="#").basket
      .basket__number 8888
      include ../../../img/pallets/basket.svg
    .navigating-source-path
      .navigating-source-path__item
        a(href="index.html" class="navigating-source-path__link") Главная &raquo;
      .navigating-source-path__item
        p.navigating-source-path__text Продажа поддонов
    h1.section__title Продажа поддонов
    .pallets-head
      .pallets-head__img-pallets
        img(src="assets/img/pallets/pallets-head.png", alt="sticker")
      .pallets-head__sticker
        img(src="assets/img/pallets/sticker.png", alt="sticker")
        .pallets-head__sticker-text
          h2.pallets-head__sticker-title Поддоны
          h3.pallets-head__sticker-subtitle - купить поддоны.

    +card-full-width('pallets-cards')
      +pallets-cards-content(
        {
          src: 'assets/img/pallets/epal-1.png',
          alt: 'pallets'
        },
        {
          subtitle: 'С клеймом EPAL размером 800*1200мм.',
          desc: [
            '1-й сорт - белые/целые'
          ]
        }
      )

    +card-full-width('pallets-cards')
      +pallets-cards-content(
        {
          src: 'assets/img/pallets/epal-2.png',
          alt: 'pallets'
        },
        {
          subtitle: 'С клеймом EPAL размером 800*1200мм.',
          desc: [
            '2-й сорт - серые/целые'
          ]
        }
      )

    +card-full-width('pallets-cards')
      +pallets-cards-content(
        {
          src: 'assets/img/pallets/epal-3.png',
          alt: 'pallets'
        },
        {
          subtitle: 'С клеймом EPAL размером 800*1200мм.',
          desc: [
            '3-й сорт - белые/серые/',
            'сломанные до трех деталей'
          ]
        }
      )

    +card-full-width('pallets-cards')
      +pallets-cards-content(
        {
          src: 'assets/img/pallets/noepal-1.png',
          alt: 'pallets'
        },
        {
          subtitle: 'Без клейма EPAL размером 800*1200мм.',
          desc: [
            '1-й сорт - белые/целые'
          ]
        }
      )

    +card-full-width('pallets-cards')
      +pallets-cards-content(
        {
          src: 'assets/img/pallets/noepal-2.png',
          alt: 'pallets'
        },
        {
          subtitle: 'Без клейма EPAL размером 800*1200мм.',
          desc: [
            '2-й сорт - серые/целые'
          ]
        }
      )

    +card-full-width('pallets-cards')
      +pallets-cards-content(
        {
          src: 'assets/img/pallets/noepal-3.png',
          alt: 'pallets'
        },
        {
          subtitle: 'Размером 1000*1200мм.',
          desc: [
            'Разносортные',
          ]
        }
      )
