include ../../mixins/mixins-cards.pug
include ../../mixins/buttons.pug
section.section
  .container
    .basket
      .basket__number 2
      include ../../../img/pallets/basket.svg
    .navigating-source-path
      .navigating-source-path__item
        a(href="index.html" class="navigating-source-path__link") Главная &raquo;
      .navigating-source-path__item
        p.navigating-source-path__text Продажа поддонов
    h1.section__title Продажа поддонов
    .pallets-head
      .pallets-head__img-pallets
        img(src="assets/img/pallets/pallets-head.png", alt="sticker")
      .pallets-head__sticker
        img(src="assets/img/pallets/sticker.png", alt="sticker")
        .pallets-head__sticker-text
          h2.pallets-head__sticker-title Поддоны
          h3.pallets-head__sticker-subtitle - купить поддоны.

    +card-full-width('pallets-cards')
      +pallets-cards-content(
        {
          src: 'assets/img/pallets/epal-1.png',
          alt: 'pallets'
        },
        {
          subtitle: 'С клеймом EPAL размером 800*1200мм.',
          desc: [
            '1-й сорт - белые/целые'
          ]
        }
      )

    +card-full-width('pallets-cards')
      +pallets-cards-content(
        {
          src: 'assets/img/pallets/epal-2.png',
          alt: 'pallets'
        },
        {
          subtitle: 'С клеймом EPAL размером 800*1200мм.',
          desc: [
            '2-й сорт - серые/целые'
          ]
        }
      )

    +card-full-width('pallets-cards')
      +pallets-cards-content(
        {
          src: 'assets/img/pallets/epal-3.png',
          alt: 'pallets'
        },
        {
          subtitle: 'С клеймом EPAL размером 800*1200мм.',
          desc: [
            '3-й сорт - белые/серые/',
            'сломанные до трех деталей'
          ]
        }
      )

    +card-full-width('pallets-cards')
      +pallets-cards-content(
        {
          src: 'assets/img/pallets/noepal-1.png',
          alt: 'pallets'
        },
        {
          subtitle: 'Без клейма EPAL размером 800*1200мм.',
          desc: [
            '1-й сорт - белые/целые'
          ]
        }
      )

    +card-full-width('pallets-cards')
      +pallets-cards-content(
        {
          src: 'assets/img/pallets/noepal-2.png',
          alt: 'pallets'
        },
        {
          subtitle: 'Без клейма EPAL размером 800*1200мм.',
          desc: [
            '2-й сорт - серые/целые'
          ]
        }
      )

    +card-full-width('pallets-cards')
      +pallets-cards-content(
        {
          src: 'assets/img/pallets/noepal-3.png',
          alt: 'pallets'
        },
        {
          subtitle: 'Без клейма EPAL размером 800*1200мм.',
          desc: [
            'Размером 1000*1200мм.',
            'Разносортные',
          ]
        }
      )
