include ../../mixins/background.pug
section.section.translucent-white-substrate
  .container
    .seo-text
      h4.text-bold
        | Продажа поддонов
      p.text
        | Обеспечить сохранность и целостность груза при транспортировке, разгрузке, хранении – важная и трудная задача, решить которую помогают деревянные поддоны. Осуществить покупку этих изделий в Тюмени по доступным ценам вы можете в компании «Миротворец».
      .text
        | Поддоны представляют собой изделия из прочных сортов древесины, которые способны выдержать нагрузку до 2,5 тонн. Вы можете приобрести тару 3 сортов:
      ul.list-wrap
        li.list-marker-color-custom
          span.text-bold I сорта
          =" "
          span.text – поддоны использовались буквально пару раз, поэтому они самые дорогие;
        li.list-marker-color-custom
          span.text-bold II сорта
          =" "
          span.text – были в эксплуатации дольше (около 5 раз), имеют потертости, загрязнения;
        li.list-marker-color-custom
          span.text-bold III сорта
          =" "
          span.text – такие изделия дешевле всего, но и повреждений на них больше (на прочности это практически не отражается).
      p.text
        | Поддоны могут быть с одним либо двумя настилами (более прочные, подходят для тяжелых и габаритных объектов), двумя и четырьмя отверстиями под вилы погрузчика (с последним работать удобней). Цена тары определяется ее параметрами. Варьируется и размер – 1000*1200 мм, 800*1200мм. Также к покупке доступны разносортные поддоны.
      p.text
        | Приобретая деревянные поддоны в компании «Миротворец», вы можете быть уверены в их надежности и качестве. Широкий ассортимент, доступные цены, возможность доставки, выгодные условия сотрудничества – купить паллеты в Тюмени просто! Для оформления заказа свяжитесь с нашим менеджером по телефону Приобретая деревянные поддоны в компании «Миротворец», вы можете быть уверены в их надежности и качестве. Широкий ассортимент, доступные цены, возможность доставки, выгодные условия сотрудничества – купить паллеты в Тюмени просто! Для оформления заказа свяжитесь с нашим менеджером по телефону #[a(class="seo-text__link" href="tel:+73452531601") +7 (3452) 531-601], #[a(class="seo-text__link" href="tel:+78006007131") 8-800-600-71-31] или добавьте нужные поддоны в корзину и оформите заказ на нашем сайте.
+picture-backing({
  title: "Зеленая планета",
  alt: "Руки держат маленькую землю",
  srcMobile: "assets/img/slider/earth-small.png",
  srcTablet: "assets/img/slider/earth-middle.png",
  srcDesktop: "assets/img/slider/earth.png",
})
