section.section
  .container
    .section__title Что из себя представляет контейнер:
    .about-containers-subtitle
      h2.text-short-description Специальный контейнер для сбора стекла, пластика, бытовых отходов с последущим вывозом на переработку.
    .about-containers
      .about-containers__section
        .about-containers__ellipse
          img(src="assets/img/containers-sale/garbage-container-green-mobile.png", class="about-containers__img", alt="контейнер")
          img(src="assets/img/containers-sale/garbage-container-green.png", class="about-containers__img about-containers__img--tablet", alt="контейнер")
          .detailed-description.detailed-description--1
            .stage-ellipse.mr-20 01
            .text Плотно прилегающая крышка припятствует распространению запахов. Используемый материал устойчив к воздействию агрессивных химических веществ.
          .detailed-description.detailed-description--2
            .text Предусмотрены колесики для транспортировки
            .stage-ellipse 02
          .detailed-description.detailed-description--3
            .stage-ellipse 03
            .text Несколько цветовых решений для разного вида сырья
          .detailed-description.detailed-description--4
            .stage-ellipse 04
            .text размеры 480*550*997 мм, объем от 120л до 240л/360л/710л
