section.rules-participation
  .containers
    .rules-participation__title Как вы можете участвовать:
    .flex-container.flex-container--content-center
      .rules-participation__sticker-wrap
        img(src="assets/img/containers-sale/sticker-participation-mobile.png", class="rules-participation__sticker", alt="стикер")
        img(src="assets/img/containers-sale/sticker-participation.png", class="rules-participation__sticker rules-participation__sticker--desktop", alt="стикер")
        .rules-participation__sticker-text-wrap
          ul.custom-marker
            li.custom-marker__list
              span.text-short-description Приобретаете контейнер от 4500р. (120 л) за 1 шт.
            li.custom-marker__list
              span.text-short-description Сдаете стекло, пластик и получаете прибыль
          .rules-participation__sticker-delimiter-wrap
            img(src="assets/img/containers-sale/sticker-delimiter.png", alt="разделитель")
