section.stages-cooperation-bg.stages-cooperation-bg--containers
  .container
    .stages-cooperation__title Как это работает?
    .stages-cooperation__row

      .stages-cooperation__item
        .stages-cooperation__img-wrap
          .stages-cooperation__item-number 01
          img(src="assets/img/containers-sale/stage-01-mobile.png", class="stages-cooperation__img stages-cooperation__img", alt="Деньги")
          img(src="assets/img/containers-sale/stage-01.png", class="stages-cooperation__img stages-cooperation__img--desktop", alt="Деньги")
        .stages-cooperation__description Вы приобретаете контейнер

      .stages-cooperation__img-arrow-wrap
        img(src="assets/img/index/stages-cooperation/arrow-odd-tablet.png", class="stages-cooperation__img-arrow", alt="arrow")
        img(src="assets/img/index/stages-cooperation/arrow-next.png", class="stages-cooperation__img-arrow stages-cooperation__img-arrow--hidden-mobile", alt="arrow")

      .stages-cooperation__item
        .stages-cooperation__img-arrow-wrap.stages-cooperation__img-arrow-wrap--float-end
          img(src="assets/img/index/stages-cooperation/arrow-float-end.png", alt="arrow")

        .stages-cooperation__img-wrap
          .stages-cooperation__item-number 02
          img(src="assets/img/containers-sale/stage-02-mobile.png", class="stages-cooperation__img", alt="Деньги")
          img(src="assets/img/containers-sale/stage-02.png", class="stages-cooperation__img stages-cooperation__img--desktop", alt="Деньги")
        .stages-cooperation__description Копите сырье

      .stages-cooperation__img-arrow-wrap.stages-cooperation__img-arrow-wrap--hidden-mobile
        img(src="assets/img/index/stages-cooperation/arrow-even-tablet.png", class="stages-cooperation__img-arrow", alt="arrow")
        img(src="assets/img/index/stages-cooperation/arrow-next.png", class="stages-cooperation__img-arrow stages-cooperation__img-arrow--hidden-mobile", alt="arrow")

      .break.break--mobile-show.mb-40

      .stages-cooperation__item
        .stages-cooperation__img-arrow-wrap.stages-cooperation__img-arrow-wrap--float-begin
          img(src="assets/img/index/stages-cooperation/arrow-float-begin.png", alt="arrow")

        .stages-cooperation__img-wrap
          .stages-cooperation__item-number 03
          img(src="assets/img/containers-sale/stage-03-mobile.png", class="stages-cooperation__img", alt="Деньги")
          img(src="assets/img/containers-sale/stage-03.png", class="stages-cooperation__img stages-cooperation__img--desktop", alt="Деньги")
        .stages-cooperation__description Оставляете заявку

      .stages-cooperation__img-arrow-wrap
        img(src="assets/img/index/stages-cooperation/arrow-odd-tablet.png", class="stages-cooperation__img-arrow", alt="arrow")
        img(src="assets/img/index/stages-cooperation/arrow-next.png", class="stages-cooperation__img-arrow stages-cooperation__img-arrow--hidden-mobile", alt="arrow")

      .stages-cooperation__item
        .stages-cooperation__img-wrap
          .stages-cooperation__item-number 04
          img(src="assets/img/containers-sale/stage-04-mobile.png", class="stages-cooperation__img", alt="Деньги")
          img(src="assets/img/containers-sale/stage-04.png", class="stages-cooperation__img stages-cooperation__img--desktop", alt="Деньги")
        .stages-cooperation__description Мы приезжаем, выкупаем накопленное вами сырье
