include ../../mixins/mixins-cards.pug
include ../../mixins/buttons.pug
section.section
  .container
    .navigating-source-path
      .navigating-source-path__item
        a(href="index.html" class="navigating-source-path__link") Главная &raquo;
      .navigating-source-path__item
        p.navigating-source-path__text Правила упаковки сырья
    .section__title правила упаковки сырья
    .tabs
      .tabs__header.tabs__header--two-elements
        .tabs__header-item.tabs__header-item--active Требования к сырью
        .tabs__header-item Требования к упаковке сырья

      .tabs__content.tabs__content--padding-top-20.tabs__content--active
        .packing-rules-description__text
          p.text-bold Засор – что это?
          p.text Засором считается все посторонние предметы, не относящиеся к определенному виду вторичного сырья, которые имеют вес и препятствуют точному взвешиванию принимаемого сырья.
        .packing-rules-description__text
          p.text-bold Примеры засора:
          ul.ul-reset-margin-left
            li.list-marker-color-custom
              span.text в макулатуре: скрепки, папки, файлы, любые другие посторонние предметы
            li.list-marker-color-custom
              span.text в картоне: снег, излишняя влага, другие виды макулатуры, трубы, пластик и другие посторонние предметы
            li.list-marker-color-custom
              span.text в пленке: целлофан,  мешки, снег, макулатура, картон, пластик и любые другие посторонние предметы.
        .packing-rules-description__cards-wrap
          +card-packing-rules(
            [{
              src:"assets/img/price/cardboard-mobile.png",
              alt: "картон",
              class: "price-product-card__img price-product-card__img--show-mobile"
            }, {
              src:"assets/img/price/cardboard.png",
              alt: "картон",
              class: "price-product-card__img price-product-card__img--show-tablet-desktop"
            }],
            'картон',
            [
              'Принимаем картон гофрированный, упаковочный.',
              'Не принимаем картоновые трубы.',
              'Картон не должен содержать излишней влаги, засора и других предметов не относящихся к картону.'
            ]
          )

          +card-packing-rules(
            [{
              src:"assets/img/price/paper-mobile.png",
              alt: "бумага",
              class: "price-product-card__img price-product-card__img--show-mobile"
            }, {
              src:"assets/img/price/paper.png",
              alt: "бумага",
              class: "price-product-card__img price-product-card__img--show-tablet-desktop"
            }],
            'Макулатура',
            [
              'Офисная бумага, не должна содержать излишней влаги, засора, других типов макулатуры.',
              'Газеты, журналы, книги, листовки, не должны содержать излишней влаги, засора и других предметов, не относящихся к макулатуре.'
            ]
          )

          +card-packing-rules(
            [{
              src:"assets/img/price/film-pvd-mobile.png",
              alt: "пленка",
              class: "price-product-card__img price-product-card__img--show-mobile"
            }, {
              src:"assets/img/price/film-pvd.png",
              alt: "пленка",
              class: "price-product-card__img price-product-card__img--show-tablet-desktop"
            }],
            'Пленка',
            [
              'ПВД (полиэтилен высокого давления). Прозрачная, пластичная, растягивается. В местах разрыва остается растянутой. Плотная, не шуршит. При поджоге капает, не имеет резкого запаха и черного дыма. Не должна содержать целлофан, другие виды плёнки, засора и иные предметы, не относящихся к пленке ПВД.',
              'Стрейч плёнка (пластиковая пленка, которая растягивается). Все признаки ПВД. Очень тонкая в сравнении с другими пленками. Растягивается в несколько раз и хранит упругость в натянутом состоянии. Не должна содержать целлофан, другие виды плёнки, засора и иные предметы, не относящихся к стрейч пленке.',
              'Пленка цветная (ПВД), может иметь черный или другой насыщенный цвет, также может иметь цвет, но при этом хранить прозрачность. Пластичная, растягивается. В местах разрыва остается растянутой. Плотная, не шуршит. Не должна содержать целлофан, другие виды плёнки, засора и иные предметы, не относящихся к пленке цветной ПВД.'
            ],
            'mb-20'
          )

          +card-packing-rules(
            [{
              src:"assets/img/price/glass-mobile.png",
              alt: "стекло",
              class: "price-product-card__img price-product-card__img--show-mobile"
            }, {
              src:"assets/img/price/glass.png",
              alt: "стекло",
              class: "price-product-card__img price-product-card__img--show-tablet-desktop"
            }],
            'Стекло',
            [
              'Стеклянные бутылки, прозрачные и цветные. Целые, битые. Не должны содержать крышки, пробки, напитки и воду, засор и другие предметы, не относящиеся к стеклу.',
              'Стеклопакеты, целые и битые. Не должны содержать клей, тонировочную пленку, армирующую пленку, пластиковые профиля, засор и другие предметы, не относящиеся к стеклу.',
              'Автомобильные стекла только боковые. Не должны содержать клей, тонировочную пленку, армирующую пленку, засор и другие предметы, не относящиеся к стеклу.'
            ]
          )

          +card-packing-rules(
            [{
              src:"assets/img/price/oil-mobile.png",
              alt: "Масло",
              class: "price-product-card__img price-product-card__img--show-mobile"
            }, {
              src:"assets/img/price/oil.png",
              alt: "Масло",
              class: "price-product-card__img price-product-card__img--show-tablet-desktop"
            }],
            'Фритюрное масло (отработка)',
            [
              'Отработанное фритюрное масло. Не должно содержать воду, неестественный осадок, остатков продуктов питания, животные жиры и другие предметы, не относящиеся к фритюрному маслу.'
            ]
          )

          +card-packing-rules(
            [{
              src:"assets/img/price/pallets-mobile.png",
              alt: "поддоны",
              class: "price-product-card__img price-product-card__img--show-mobile"
            }, {
              src:"assets/img/price/pallets.png",
              alt: "поддоны",
              class: "price-product-card__img price-product-card__img--show-tablet-desktop"
            }],
            'Поддоны',
            [
              'Размеры 800мм * 1200мм с клеймом EPAL и без клейма:',
              '1-й сорт – белые, новые, целые.',
              '2-й сорт – серые целые.',
              '3-й сорт – белые, серые, сломано до трёх деталей.'
            ]
          )

          +card-packing-rules(
            [{
              src:"assets/img/price/pet-mobile.png",
              alt: "ПЭТ",
              class: "price-product-card__img price-product-card__img--show-mobile"
            }, {
              src:"assets/img/price/pet.png",
              alt: "ПЭТ",
              class: "price-product-card__img price-product-card__img--show-tablet-desktop"
            }],
            'ПЭТ',
            [
              'ПЭТ ёмкостью от 0,25л. до 19л. Не должны содержать напитки и воду, засор и другие предметы, не относящиеся к ПЭТ бутылкам.'
            ]
          )

          +card-packing-rules(
            [{
              src:"assets/img/price/canisters-mobile.png",
              alt: "Пластиковые канистры",
              class: "price-product-card__img price-product-card__img--show-mobile"
            }, {
              src:"assets/img/price/canisters.png",
              alt: "Пластиковые канистры",
              class: "price-product-card__img price-product-card__img--show-tablet-desktop"
            }],
            'Пластиковые канистры',
            [
              'Пластиковые канистры, прозрачные и цветные. Не должны содержать воду, другие жидкости, засор и другие предметы, не относящиеся к пластиковым канистрам.'
            ]
          )

          +card-packing-rules(
            [{
              src:"assets/img/price/kegs-mobile.png",
              alt: "кеги",
              class: "price-product-card__img price-product-card__img--show-mobile"
            }, {
              src:"assets/img/price/kegs.png",
              alt: "кеги",
              class: "price-product-card__img price-product-card__img--show-tablet-desktop"
            }],
            'Кеги пивные',
            [
              'Пивные кеги, бесцветные прозрачные, цветные с сохранением прозрачности. Из кег должен быть спущен воздух, кеги должны быть разрезанными. Не должны содержать воду, пиво и другие жидкости. Не должны иметь засора и другие предметы, не относящиеся к пивным кегам.'
            ]
          )

          +card-packing-rules(
            [{
              src:"assets/img/price/aluminum-cans-mobile.png",
              alt: "Алюминиевые банки",
              class: "price-product-card__img price-product-card__img--show-mobile"
            }, {
              src:"assets/img/price/aluminum-cans.png",
              alt: "Алюминиевые банки",
              class: "price-product-card__img price-product-card__img--show-tablet-desktop"
            }],
            'Алюминиевые банки',
            [
              'Алюминиевые банки, емкостью от 0.25л до 5л. Бесцветные и цветные. Не должны содержать воду, пиво, напитки и другие жидкости. Не должны иметь засора и другие предметы, не относящиеся к алюминиевым банкам.'
            ]
          )

      .tabs__content.tabs__content--padding-top-20
        +card-packing-rules(
            [{
              src:"assets/img/price/cardboard-mobile.png",
              alt: "картон",
              class: "price-product-card__img price-product-card__img--show-mobile"
            }, {
              src:"assets/img/price/cardboard.png",
              alt: "картон",
              class: "price-product-card__img price-product-card__img--show-tablet-desktop"
            }],
            'картон',
            [
              'Должен быть разобран, уложен в стопы, связан, например, веревкой или скотчем. Либо запрессован в тюки, и связан металлической проволокой или веревкой. Либо разобран и сложен в коробки. Либо сложен в мешки или биг-беги.'
            ]
          )

        +card-packing-rules(
            [{
              src:"assets/img/price/paper-mobile.png",
              alt: "бумага",
              class: "price-product-card__img price-product-card__img--show-mobile"
            }, {
              src:"assets/img/price/paper.png",
              alt: "бумага",
              class: "price-product-card__img price-product-card__img--show-tablet-desktop"
            }],
            'Макулатура',
            [
              'Должна быть отсортирована по виду макулатуры. Сложена в коробки или мешки. Либо сложена в стопы и связана веревкой или скотчем.'
            ]
          )

        +card-packing-rules(
            [{
              src:"assets/img/price/film-pvd-mobile.png",
              alt: "пленка",
              class: "price-product-card__img price-product-card__img--show-mobile"
            }, {
              src:"assets/img/price/film-pvd.png",
              alt: "пленка",
              class: "price-product-card__img price-product-card__img--show-tablet-desktop"
            }],
            'Пленка',
            [
              'Должна быть отсортирована по видам и сложена в мешки или коробки, или запрессована в тюки и связана металлической проволокой либо веревкой.'
            ]
          )

        +card-packing-rules(
            [{
              src:"assets/img/price/glass-mobile.png",
              alt: "стекло",
              class: "price-product-card__img price-product-card__img--show-mobile"
            }, {
              src:"assets/img/price/glass.png",
              alt: "стекло",
              class: "price-product-card__img price-product-card__img--show-tablet-desktop"
            }],
            'Стекло',
            [
              'Битое стекло должно быть сложено в коробки, либо в прочные устойчивые к порезам мешки или биг-беги.',
              'Целое стекло должно быть сложено в стопы и обмотано в прочную устойчивую к порезам ткань либо мешковину. Либо упаковано в любой другой материал устойчивой к порезам.'
            ]
          )

        +card-packing-rules(
            [{
              src:"assets/img/price/oil-mobile.png",
              alt: "Масло",
              class: "price-product-card__img price-product-card__img--show-mobile"
            }, {
              src:"assets/img/price/oil.png",
              alt: "Масло",
              class: "price-product-card__img price-product-card__img--show-tablet-desktop"
            }],
            'Фритюрное масло (отработка)',
            [
              'Должно быть разлито в чистые прозрачные канистры, имеющие плотно закрывающиеся крышки.'
            ]
          )

        +card-packing-rules(
            [{
              src:"assets/img/price/cans-kegs-mobile.png",
              alt: "ПЭТ",
              class: "price-product-card__img price-product-card__img--show-mobile"
            }, {
              src:"assets/img/price/cans-kegs.png",
              alt: "ПЭТ",
              class: "price-product-card__img price-product-card__img--show-tablet-desktop"
            }],
            'ПЭТ бутылки, пластиковые канистры, пивные кеги, алюминиевые банки:',
            [
              'Должны быть сложены в мешки или коробки, или биг-беги. Либо запрессованы в тюки, и связаны металлической проволокой или веревкой.'
            ]
          )

.packing-rules-bg
  section.section
    .container
      .button-column
        .button-margin-bottom-30
          +button-download('assets/files/price.xlsx', 'Миротворец_прайс_вторсырьё.xlsx','скачать прайс')
        +button-download('assets/files/TZ.pdf', 'Миротворец_ТЗ_на_сбор_ТБО.pdf','скачать файл с правилами упаковки')
