@import '../../variables/variables.scss';

.about-ecobox-img {
  display: block;
  position: absolute;
  width: 266px;
  right: 21px;
  top: 3px;

  @media (min-width: 768px) {
    width: auto;
  }
}

.detailed-description-ecobox {
  display: flex;
  position: absolute;

  &--1 {
    top: -120px;
    left: -17%;
    flex-direction: column-reverse;
    align-items: center;
    width: 295px;

    @media (min-width: 576px) {
      top: -104px;
      left: -55%;
      width: 500px;
    }

    @media (min-width: 768px) {
      left: -20%;
      top: -135px;
      width: 600px;
    }


    @media (min-width: 992px) {
      flex-direction: row;
      align-items: flex-end;
      top: -78px;
      left: 46%;
      width: 450px;
    }

    @media (min-width: 1200px) {
      width: 600px;
    }

    & > .stage-ellipse {
      margin-top: 20px;
    }
  }

  &--2 {
    flex-direction: column-reverse;
    align-items: center;
    width: 115px;
    bottom: -33px;
    right: 62%;
    text-align: right;

    @media (min-width: 576px) {
      bottom: 36px;
      right: 87%;
    }

    @media (min-width: 768px) {
      flex-direction: row;
      width: 200px;
      bottom: 222px;
      right: 88%;
      text-align-last: left;
    }

    @media (min-width: 992px) {
      width: 310px;
      bottom: 230px;
      right: 96%;
    }

    & > .stage-ellipse {
      margin-left: 10px;
      margin-bottom: 10px;

      @media (min-width: 768px) {
        margin-bottom: 0;
      }

      @media (min-width: 992px) {
        margin-left: 20px;
      }
    }
  }

  &--3 {
    flex-direction: column;
    top: 18%;
    left: 78%;
    width: 85px;

    @media (min-width: 576px) {
      top: 28%;
      left: 81%;
      width: 121px;
    }

    @media (min-width: 768px) {
      top: 36%;
      left: 83%;
      width: 235px;
    }

    @media (min-width: 992px) {
      top: 37%;
      width: 285px;
    }

    @media (min-width: 1200px) {
      flex-direction: row;
      width: 345px;
    }

    & > .stage-ellipse {
      margin-bottom: 20px;

      @media (min-width: 1200px) {
        margin-right: 20px;
        margin-bottom: 0;
      }
    }
  }

  &--4 {
    flex-direction: column;
    bottom: -66px;
    left: 54%;
    width: 135px;

    @media (min-width: 576px) {
      left: 27%;
      bottom: -110px;
    }

    @media (min-width: 768px) {
      bottom: -119px;
      left: 31%;
      width: 173px;
    }

    @media (min-width: 992px) {
      flex-direction: row;
      bottom: -60px;
      left: 31%;
      width: 370px;
    }

    & > .stage-ellipse {
      margin-bottom: 20px;

      @media (min-width: 992px) {
        margin-right: 20px;
        margin-bottom: 0;
      }
    }
  }

  & > .text {
    font-size: 12px;

    @media (min-width: 576px) {
      font-size: 14px;
    }

    @media (min-width: 768px) {
      font-size: 18px;
    }
  }
}
