@import '../../variables/variables.scss';

.ecostyle-ecobox {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  min-height: 320px;
  margin-right: -15px;

  @media(min-width: 576px) {
    align-items: center;
    justify-content: flex-start;
    min-height: 500px;
    margin-right: 0;
  }
}

.ecostyle-ecobox__img-wrap {
  position: relative;

  &--flexible {
    flex-shrink: 1;
  }

  & > .ecostyle-ecobox__img {

    &:nth-child(2),
    &:nth-child(3) {
      display: none;
    }

    @media(min-width: 576px) {
      &:nth-child(2) {
        display: block;
      }

      &:nth-child(1),
      &:nth-child(3) {
        display: none;
      }
    }

    @media(min-width: 992px) {
      &:nth-child(3) {
        display: block;
      }

      &:nth-child(1),
      &:nth-child(2) {
        display: none;
      }
    }
  }

  & > .ecostyle-ecobox__img.ecostyle-ecobox__img--sticker {
    &:nth-child(1) {
      display: block;
    }

    &:nth-child(2),
    &:nth-child(3) {
      display: none;
    }

    @media(min-width: 768px) {
      &:nth-child(2) {
        display: block;
      }

      &:nth-child(1),
      &:nth-child(3) {
        display: none;
      }
    }
  }

  &--absolute {
    position: absolute;
    top: 115px;
    right: 0;

    @media(min-width: 576px) {
      top: 92px;
      left: 20%;
      right: auto;
    }

    @media(min-width: 768px) {
      left: 38%;
    }

    @media(min-width: 992px) {
      top: 58px;
      left: 45%;
    }
  }
}

.ecostyle-ecobox__img {
  width: 100%;

  &--sticker {
    filter: drop-shadow(1px 15px 49px #eae6e1);

    @media(min-width: 992px) {
      margin-left: 100px;
    }
  }
}


.ecostyle-ecobox__slogan {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ecostyle-ecobox__slogan-text-wrap {
  padding-left: 50px;
  padding-right: 20px;

  @media(min-width: 992px) {
    padding-left: 150px;
  }
}

.ecostyle-ecobox__slogan-title {
  color: #67af01;
  font-family: $textType1;
  font-size: 25px;
  line-height: 1.2;

  @media (min-width: 992px) {
    font-size: 33px;
  }
}

.ecostyle-ecobox__slogan-text {
  color: #612228;
  font-family: $textType1;
  font-size: 20px;
  line-height: 1.2;

  @media (min-width: 992px) {
    font-size: 24px;
  }
}
