section.section.procedure-storage-bg
  h2.section__title Порядок хранения
  .procedure-storage__sticker-top
    .procedure-storage__sticker-top-img-item
      img(class="procedure-storage__img-sticker", src="assets/img/storage/safe-tablet.png" alt="safe")
      img(class="procedure-storage__img-sticker", src="assets/img/storage/safe.png" alt="safe")
    .procedure-storage__sticker-top-item
      p.text
        | Основным законом, регулирующим нормы хранения архивной документации, является ФЗ-N 125 «Об архивном деле в Российской Федерации» (принят 27 октября 2004 г.). Исполнения его положений обязательно при оформлении архивного хранения для предприятий всех форм собственности, включая как коммерческие, так и государственные организации. Сотрудник компании, ответственный за комплектацию материала для архивного хранения, не менее 1 раза в год проводит инспекцию дел на предмет их выбытия из текущего документооборота.
      .procedure-storage__sticker-content-wrap.clearfix
        .procedure-storage__img-wrap-float
          img(class="procedure-storage__img-sticker", src="assets/img/storage/safe-mobile.png" alt="safe")
        p.text
          | Окончательное решение об оформлении архивного хранения принимается специально созданной комиссией, состоящей как из назначенных для этого сотрудников предприятия, так и с возможностью привлечения работников специализированных организаций.
  .procedure-storage__text-wrap
    .container
      p.text
        | После детального ознакомления с представленными делами и изучения содержания каждого документа формируются архивные тома. В установленном порядке нумеруются листы, составляется внутренняя опись и оформляется обложка тома. Указываются сроки архивного хранения с конкретизацией крайних дат. Заключительным этапом при оформлении архивного хранения является подписание акта передачи.
      p.text
        | В случае, если компания заключает договор с архивным фондом государственного, муниципального или частного назначения организуется передача материалов для неофисного хранения документов. В данном случае кроме внутреннего акта составляется подробная передаточная опись с четкой расшифровкой содержания томов.
      p.text
        | Депозитарное хранение архивной документации позволяет соблюсти все требования к онфиденциальности информации, при условии возможности беспроблемного доступа к материалам уполномоченными лицами организации по выданной доверенности установленной формы. Как правило, компании, у которых накопился большой объем коммерческой и секретной документации, не подлежащей уничтожению, сталкиваются с проблемой её хранения.
  .procedure-storage__card
    .procedure-storage__card-img-wrap-float
      img(src="assets/img/storage/safe-deposit-mobile.jpg", alt="safe-deposit")
      img(src="assets/img/storage/safe-deposit-tablet.jpg", alt="safe-deposit")
      img(src="assets/img/storage/safe-deposit.jpg", alt="safe-deposit")
    .procedure-storage__text-wrap
      .text-bold Это требует:
      ul.procedure-card__text-wrap
        li.list-marker-color-custom
          span.text дополнительных офисных или складских площадей.
        li.list-marker-color-custom
          span.text человеческих ресурсов
        li.list-marker-color-custom
          span.text дополнительных затрат на системы хранения, такие как, стеллажи, контейнеры или короба для хранения и т.п.
        li.list-marker-color-custom
          span.text дополнительных расходов связанных с поддержанием необходимых климатических условий (влажность, освещение, чистота)

  .procedure-storage__text-wrap.pb-0
    .container
      p.text
        | В итоге, всё взвесив, просчитав экономику, компании нередко принимают решение – передать такую документацию на ответственное хранение специализированным организациям.
      p.text
        | Для этих целей в компании «Миротворец» выделены специальные помещения, оборудованные в соответствии с нормативными требованиям безопасности к зданиям, регламентируемые положениями правил архивного законодательства.
      p.text-bold Мы несем полную ответственность за сохранность вашей документации!
