section.section
  .container
    .navigating-source-path
      .navigating-source-path__item
        a(href="index.html" class="navigating-source-path__link") Главная &raquo;
      .navigating-source-path__item
        p.navigating-source-path__text Хранение документов
    h1.section__title Хранение архивов и документов

    //- Mobile show
    .stage-wrap-mobile
      .stage__item.stage__item--increased-width
        .stage__item-head
          .stage__item-img-wrap
            img(class="stage__item-img" src="assets/img/storage/contract-mobile.png", alt="contract")
            img(class="stage__item-img" src="assets/img/storage/contract.png", alt="contract")
          .stage__item-number.stage__item-number--1 01
        .stage__item-text Заключение договора

      .stage__item-arrow-wrap
        img(class="stage__item-img-arrow" src="assets/img/destruction/arrow-small-up.png", alt="arrow")
        img(class="stage__item-img-arrow" src="assets/img/destruction/arrow.png", alt="arrow")

      .stage__item
        .stage__item-head
          .stage__item-img-wrap
            img(class="stage__item-img" src="assets/img/destruction/auto-mobile.png", alt="auto")
            img(class="stage__item-img" src="assets/img/destruction/auto.png", alt="auto")
          .stage__item-number.stage__item-number--2 02
        .stage__item-text Доставка документации на наш склад

    .stage-wrap-mobile
      .stage__item.stage__item--increased-width
        .stage__item-head
          .stage__item-img-wrap
            img(class="stage__item-img" src="assets/img/storage/stack-mobile.png", alt="stack")
            img(class="stage__item-img" src="assets/img/storage/stack.png", alt="stack")
          .stage__item-number.stage__item-number--3 03
        .stage__item-text Опись документов

      .stage__item-arrow-wrap
        img(class="stage__item-img-arrow" src="assets/img/destruction/arrow-small-down.png", alt="arrow")
        img(class="stage__item-img-arrow" src="assets/img/destruction/arrow.png", alt="arrow")

      .stage__item
        .stage__item-head
          .stage__item-img-wrap
            img(class="stage__item-img" src="assets/img/storage/act-mobile.png", alt="act")
            img(class="stage__item-img" src="assets/img/storage/act.png", alt="act")
          .stage__item-number.stage__item-number--4 04
        .stage__item-text Подписание акта приема-передачи

    .stage-wrap-mobile.stage-wrap-mobile--content-center
      .stage__item-arrow-wrap
        img(class="stage__item-img-arrow" src="assets/img/destruction/arrow-small-up.png", alt="arrow")
        img(class="stage__item-img-arrow" src="assets/img/destruction/arrow.png", alt="arrow")

      .stage__item.stage__item--one-item-in-row
        .stage__item-head
          .stage__item-img-wrap
            img(class="stage__item-img" src="assets/img/storage/money-mobile.png", alt="money")
            img(class="stage__item-img" src="assets/img/storage/money.png", alt="money")
          .stage__item-number.stage__item-number--7 05
        .stage__item-text Вы производите оплату

    //- tablet show
    .stage-wrap-tablet
      .stage__item
        .stage__item-head
          .stage__item-img-wrap
            img(class="stage__item-img" src="assets/img/storage/contract-mobile.png", alt="contract")
            img(class="stage__item-img" src="assets/img/storage/contract.png", alt="contract")
            .stage__item-number.stage__item-number--1 01
        .stage__item-text Заключение договора

      .stage__item-arrow-wrap
        img(class="stage__item-img-arrow" src="assets/img/destruction/arrow-small-up.png", alt="arrow")
        img(class="stage__item-img-arrow" src="assets/img/destruction/arrow.png", alt="arrow")

      .stage__item
        .stage__item-head
          .stage__item-img-wrap
            img(class="stage__item-img" src="assets/img/destruction/auto-mobile.png", alt="auto")
            img(class="stage__item-img" src="assets/img/destruction/auto.png", alt="auto")
          .stage__item-number.stage__item-number--2 02
        .stage__item-text Доставка документации на наш склад

      .stage__item-arrow-wrap
        img(class="stage__item-img-arrow" src="assets/img/destruction/arrow-small-down.png", alt="arrow")
        img(class="stage__item-img-arrow" src="assets/img/destruction/arrow.png", alt="arrow")

      .stage__item
        .stage__item-head
          .stage__item-img-wrap
            img(class="stage__item-img" src="assets/img/storage/stack-mobile.png", alt="stack")
            img(class="stage__item-img" src="assets/img/storage/stack.png", alt="stack")
          .stage__item-number.stage__item-number--3 03
        .stage__item-text Опись документов

    .stage-wrap-tablet
      .stage__item
        .stage__item-head
          .stage__item-img-wrap
            img(class="stage__item-img" src="assets/img/storage/act-mobile.png", alt="act")
            img(class="stage__item-img" src="assets/img/storage/act.png", alt="act")
          .stage__item-number.stage__item-number--4 04
        .stage__item-text Подписание акта приема-передачи

      .stage__item-arrow-wrap
        img(class="stage__item-img-arrow" src="assets/img/destruction/arrow-small-up.png", alt="arrow")
        img(class="stage__item-img-arrow" src="assets/img/destruction/arrow.png", alt="arrow")

      .stage__item
        .stage__item-head
          .stage__item-img-wrap
            img(class="stage__item-img" src="assets/img/storage/money-mobile.png", alt="money")
            img(class="stage__item-img" src="assets/img/storage/money.png", alt="money")
          .stage__item-number.stage__item-number--5 05
        .stage__item-text Вы производите оплату

    //- desktop show
    .stage-wrap-desktop
      .stage__item
        .stage__item-head
          .stage__item-img-wrap
            img(class="stage__item-img" src="assets/img/storage/contract-mobile.png", alt="contract")
            img(class="stage__item-img" src="assets/img/storage/contract.png", alt="contract")
            .stage__item-number.stage__item-number--1 01
        .stage__item-text Заключение договора

      .stage__item-arrow-wrap
        img(class="stage__item-img-arrow" src="assets/img/destruction/arrow-small-up.png", alt="arrow")
        img(class="stage__item-img-arrow" src="assets/img/destruction/arrow.png", alt="arrow")

      .stage__item
        .stage__item-head
          .stage__item-img-wrap
            img(class="stage__item-img" src="assets/img/destruction/auto-mobile.png", alt="auto")
            img(class="stage__item-img" src="assets/img/destruction/auto.png", alt="auto")
          .stage__item-number.stage__item-number--2 02
        .stage__item-text Доставка документации на наш склад

      .stage__item-arrow-wrap
        img(class="stage__item-img-arrow" src="assets/img/destruction/arrow-small-down.png", alt="arrow")
        img(class="stage__item-img-arrow" src="assets/img/destruction/arrow.png", alt="arrow")

      .stage__item
        .stage__item-head
          .stage__item-img-wrap
            img(class="stage__item-img" src="assets/img/storage/stack-mobile.png", alt="stack")
            img(class="stage__item-img" src="assets/img/storage/stack.png", alt="stack")
          .stage__item-number.stage__item-number--3 03
        .stage__item-text Опись документов

      .stage__item-arrow-wrap
        img(class="stage__item-img-arrow" src="assets/img/destruction/arrow-small-down.png", alt="arrow")
        img(class="stage__item-img-arrow" src="assets/img/destruction/arrow.png", alt="arrow")

      .stage__item
        .stage__item-head
          .stage__item-img-wrap
            img(class="stage__item-img" src="assets/img/storage/act-mobile.png", alt="act")
            img(class="stage__item-img" src="assets/img/storage/act.png", alt="act")
          .stage__item-number.stage__item-number--4 04
        .stage__item-text Подписание акта приема-передачи

      .stage__item-arrow-wrap
        img(class="stage__item-img-arrow" src="assets/img/destruction/arrow-small-up.png", alt="arrow")
        img(class="stage__item-img-arrow" src="assets/img/destruction/arrow.png", alt="arrow")

      .stage__item
        .stage__item-head
          .stage__item-img-wrap
            img(class="stage__item-img" src="assets/img/storage/money-mobile.png", alt="money")
            img(class="stage__item-img" src="assets/img/storage/money.png", alt="money")
          .stage__item-number.stage__item-number--5 05
        .stage__item-text Вы производите оплату
