section.section.video-bg
  h4.section__title Видео о хранении архивов
  .video-sticker
    .video-wrap
      div(id="player" class="video-player")
      #thumbnailContainer.video-thumbnail-wrap
        img(src="assets/img/storage/video-thumbnail-mobile.jpg", alt="video")#thumbnail.video-thumbnail
        img(src="assets/img/storage/video-thumbnail-tablet.jpg", alt="video")#thumbnail.video-thumbnail
        img(src="assets/img/storage/video-thumbnail.jpg", alt="video")#thumbnail.video-thumbnail
        a(id="startVideo" class="video-play-custom-btn")
