include ../mixins/mixins-cards.pug
block variables

<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    //- отключить обработку жеста масштабирования  для смартфонов
    meta(name="viewport" content="initial-scale=1.0, user-scalable=no, maximum-scale=1")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    //- favicon
    link(rel="shortcut icon", sizes="16x16", href="assets/img/favicon/favicon-16x16.ico", type="image/x-icon")
    link(rel="shortcut icon", sizes="24x24", href="assets/img/favicon/favicon-24x24.ico", type="image/x-icon")
    link(rel="shortcut icon", sizes="32x32", href="assets/img/favicon/favicon-32x32.ico", type="image/x-icon")
    link(rel="shortcut icon", sizes="48x48", href="assets/img/favicon/favicon-48x48.ico", type="image/x-icon")
    link(rel="shortcut icon", sizes="16x16", href="assets/img/favicon/favicon-16x16.png", type="image/png")
    link(rel="shortcut icon", sizes="24x24", href="assets/img/favicon/favicon-24x24.png", type="image/png")
    link(rel="shortcut icon", sizes="32x32", href="assets/img/favicon/favicon-32x32.png", type="image/png")
    link(rel="shortcut icon", sizes="48x48", href="assets/img/favicon/favicon-48x48.png", type="image/png")
    link(rel="apple-touch-icon" sizes="16x16" href="assets/img/favicon/favicon-16x16.png")
    link(rel="apple-touch-icon" sizes="24x24" href="assets/img/favicon/favicon-24x24.png")
    link(rel="apple-touch-icon" sizes="32x32" href="assets/img/favicon/favicon-32x32.png")
    link(rel="apple-touch-icon" sizes="48x48" href="assets/img/favicon/favicon-48x48.png")
    link(rel="apple-touch-icon" sizes="57x57" href="assets/img/favicon/favicon-57x57.png")
    link(rel="apple-touch-icon" sizes="60x60" href="assets/img/favicon/favicon-60x60.png")

    //- libs
    link(rel="stylesheet", href="vendor/libs/normalize/normalize.css")
    link(rel="stylesheet", href="vendor/libs/bootstrap/dist/css/bootstrap-grid.min.css")
    block link
    link(rel="stylesheet", href="assets/fonts/gilroy/stylesheet.css")
    link(rel="stylesheet", href="assets/fonts/hagin/stylesheet.css")
    link(rel="stylesheet", href="assets/css/main.css")
    title #{title}
    block keywords
    block description

  body(class="bc")
    include ../sections/header.pug

    block content

    include ../sections/footer.pug

    block scripts
