@import '../../variables/variables.scss';

.question-footer-bg {
  background-image: url('../img/question/form-bg-mobile.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: 768px) {
    background-image: url('../img/question/form-bg-tablet.jpg');
  }

  @media (min-width: 992px) {
    background-image: url('../img/question/form-bg.jpg');
  }
}
