include ../../mixins/mixins-cards.pug
include ../../mixins/content-card.pug
include ../../mixins/buttons.pug

section.container
  .history
    .history-row.history-row__colored-bg
      h2.history-row__title прием вторсырья
      .history-row__date
        .text-medium Дата оформления:
        .text 17.06.2019 10:30
    .history-body
      .history-appellation
        .history-row.text-medium Вид сырья:
        .history-row.history-row__colored-bg.text Бумага
        .history-row.text Картон
        .history-row.history-row__colored-bg.text Стеклобой
      #carouselHistoryData.owl-carousel.owl-theme
        .history-data
          .history-row
            .text-medium Кг ориентировочно
            .text (заявлено клиентом)
          .history-row.history-row__colored-bg.text 50
          .history-row.text 100
          .history-row.history-row__colored-bg.text 100
        .history-data
          .history-row
            .text-medium Килограмм фактически
            .text (фактическое количество забранное)
          .history-row.history-row__colored-bg.text 60
          .history-row.text 130
          .history-row.history-row__colored-bg.text 100
        .history-data
          .history-row
            .text-medium Денег выплачено клиенту
          .history-row.history-row__colored-bg.text 360 рублей
          .history-row.text 940 рублей
          .history-row.history-row__colored-bg.text 200 рублей
    .history-body__row-show-mobile
      //- .history-body__owl-dots-container
