@import '../../variables/variables.scss';

.about-bg {
  margin-top: -10px;
  padding-top: 80px;
  padding-bottom: 70px;
  background-image: url("../img/index/about/about-bg-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;

  @media (min-width: 992px) {
    background-image: url("../img/index/about/about-bg-tablet.png");
  }

  @media (min-width: 992px) {
    margin-top: -5px;
    background-image: url("../img/index/about/about-bg.png");
  }
}

.index-about {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  @media (min-width: 992px) {
    flex-wrap: nowrap;
    margin-left: -25px;
    margin-right: -25px;
  }

  @media (min-width: 1200px) {
    margin-left: 0;
    margin-right: 0;
  }
}

.index-about__column {
  display: flex;
  flex-direction: column;
}

.index-about__sticker {
  width: 290px;
  padding-left: 35px;
  padding-right: 35px;
  margin-bottom: 30px;
  box-shadow: 0 16px 50px 1px rgba(154, 90, 19, 0.34);
  box-shadow: 5px 19px 60px 1px rgba(154,90,19,.8);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  text-align: center;

  @media (min-width: 768px) {
    width: 690px;
  }

  @media (min-width: 992px) {
    width: 470px;
  }

  &--service {
    height: 344px;
    background-image: url("../img/index/about/sticker-service-mobile.png");

    @media (min-width: 768px) {
      height: 220px;
      background-image: url("../img/index/about/sticker-service-tablet.png");
    }

    @media (min-width: 992px) {
      height: 290px;
      background-image: url("../img/index/about/sticker-service.png");
    }
  }

  &--team {
    height: 312px;
    background-image: url("../img/index/about/sticker-team-mobile.png");

    @media (min-width: 768px) {
      height: 220px;
      background-image: url("../img/index/about/sticker-team-tablet.png");
    }

    @media (min-width: 992px) {
      height: 270px;
      background-image: url("../img/index/about/sticker-team.png");
    }
  }

  &--improvement {
    height: 474px;
    background-image: url("../img/index/about/sticker-improvement-mobile.png");

    @media (min-width: 768px) {
      height: 345px;
      background-image: url("../img/index/about/sticker-improvement-tablet.png");
    }

    @media (min-width: 992px) {
      height: 371px;
      background-image: url("../img/index/about/sticker-improvement.png");
    }
  }

  &--partners {
    height: 260px;
    margin-bottom: 0;
    background-image: url("../img/index/about/sticker-partners-mobile.png");

    @media (min-width: 768px) {
      margin-bottom: 30px;
      height: 210px;
      background-image: url("../img/index/about/sticker-partners-tablet.png");
    }

    @media (min-width: 992px) {
      height: 188px;
      background-image: url("../img/index/about/sticker-partners.png");
    }
  }
}

.index-about__sticker-title {
  padding-top: 15px;
  &::after {
    display: block;
    content: url('../img/index/about/title-delimiter-about.png');

    @media (min-width: 768px) {
      margin-top: 9px;
    }
  }
}

.sticker-subtitle {
  padding-top: 5px;
  text-align: left;
  font-family: $textType2;
  font-size: 16px;
  font-weight: 600;
  color: #612228;
}

.index-about__sticker-text {
  margin-top: 3px;
  margin-bottom: 0;
  text-align: left;
  font-family: $textType2;
  font-size: 14px;
  line-height: 17px;
  color: #612228;

  @media(min-width: 768px) {
    margin-bottom: 5px;
    font-size: 16px;
    line-height: 20px;
  }

  @media(min-width: 992px) {
    font-size: 14px;
    line-height: 16px;
  }
}
