@import '../../variables/variables.scss';

.calculator-full-bg {
  background-color: #efeef3;
  background-image: url("../img/index/calculator/calculator-bg-text.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 200px;
}
