@import '../../variables/variables.scss';

.for-whom-bg {
  background-image: url("../img/index/for-whom/for-whom-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.for-whom {
  padding-top: 80px;
  padding-bottom: 80px;
}

.for-whom__sticker {
  height: 190px;
  padding-left: 30px;
  padding-right: 30px;
  line-height: 0;
  box-shadow: 0 16px 50px 1px rgba(154, 90, 19, 0.34);
  box-shadow: 5px 19px 60px 1px rgba(154,90,19,.8);
  background-image: url("../img/index/for-whom/sticker.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.for-whom__sticker-title {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.for-whom__sticker-delimiter {
  margin-top: -10px;
  text-align: center;
  line-height: 0;
}

.for-whom__sticker-text {
  height: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.for-whom__sticker-link {
  color: #67af01;
  font-family: $textType2;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
}
