@import '../../variables/variables.scss';

.news-short-bg {
  padding-bottom: 15px;
  background-color: #efeef3;
  background-image: url("../img/index/news/news-text-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
