@import '../../variables/variables.scss';

.news-short-bg {
  background-color: #efeef3;
  background-image: url("../img/index/news/news-text-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.cards-short-description {
  position: relative;
  width: 100%;
  height: 300px;
  background-color: #fefdfd;
  border-radius: 15px;
  box-shadow: 0 37px 92px rgba(89, 50, 8, .15);
}

.cards-short-description__head-img-wrap {
  border-radius: 15px 15px 0 0;
  height: 125px;
  width: 100%;
  overflow: hidden;
  line-height: 1;
}

.cards-short-description__head-img {
  width: 100%;
  height: 100%;
}

.cards-short-description__text-wrap {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 51px;
  height: 175px;
}

.cards-short-description__subtitle {
  text-align: left;
  font-family: $textType2;
  font-size: 16px;
  font-weight: 600;
  color: #612228;
}

.cards-short-description__text,
.cards-short-description__date {
  text-align: left;
  font-family: $textType2;
  font-size: 14px;
  line-height: 16px;
  color: #612228;
}

.cards-short-description__date {
  margin-bottom: 0;
}

.cards-short-description__text {
  max-height: 65px;
  margin-top: 3px;
  margin-bottom: 5px;
  overflow: hidden;
}

.cards-short-description__battom-wrap {
  position: absolute;
  display: inline-block;
  bottom: -25px;
  left: calc(50% - 70px);
}

.cards-short-description__battom-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 50px;
  width: 140px;
  border-radius: 40px;
  background-color: #67af01;
  box-shadow: 0 6px 30px 0 rgba(154, 90, 19, .44);
  transition: .3s;
  text-decoration: none;

  font-family: $textType1;
  font-size: 20px;
  color: #ffffff;
  text-transform: uppercase;

  &:hover {
    background-color: #4d8300;
    box-shadow: none;
  }

  &:active, &:focus {
    background-color: #4d8300;
    box-shadow: inset 0 4px 1px 0 rgba(0, 0, 0, .17);
  }
}
