@import '../../variables/variables.scss';

.stages-cooperation-bg {
  padding-top: 70px;
  padding-bottom: 70px;
  position: relative;
  background-color: #67af01;
  background-image: url("../img/index/stages-cooperation/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;

  &--containers {
    padding-top: 50px;
    padding-bottom: 70px;
  }
}

.stages-cooperation__title {
  margin-bottom: 50px;
  text-align: center;
  font-family: $textType2;
  font-size: 28px;
  line-height: 1.2;
  font-weight: 600;
  color: #ffffff;
}

.stages-cooperation__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
  padding-left: 15px;
  padding-right: 15px;

  @media (min-width: 768px) {
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-left: 0;
    padding-right: 0;
    margin-left: -20px;
    margin-right: -20px;
  }

  @media (min-width: 768px) {
    flex-wrap: nowrap;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
  }
}

.stages-cooperation__item {
  position: relative;
  width: 90px;
  text-align: center;

  @media (min-width: 368px) {
    width: 120px;
  }

  @media (min-width: 992px) {
    width: 140px;
  }
}

.stages-cooperation__img-wrap {
  position: relative;
  line-height: 0;
}


.stages-cooperation__item-number {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  bottom: 65px;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  box-shadow: 4px 8px 38px rgba(35, 60, 0, 0.5), 2px 4px 8px rgba(35, 60, 0, 0.5);
  background-color: #d6251d;
  color: #fdfbfb;
  font-family: $textType1;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;

  @media (min-width: 992px) {
    bottom: 80px;
    width: 41px;
    height: 41px;
    font-size: 24px;
  }
}

.stages-cooperation__img {
  max-width: 100%;
  @media (min-width: 992px) {
    display: none;
  }

  &--desktop {
    display: none;

    @media (min-width: 992px) {
      display: inline;
    }
  }
}

.stages-cooperation__img-arrow-wrap {
  align-self: flex-start;
  margin-top: 11%;
  margin-left: 5px;
  margin-right: 5px;
  line-height: 0;

  @media (min-width: 768px) {
    margin-top: 8%;
    margin-left: 10px;
    margin-right: 10px;
  }

  @media (min-width: 1200px) {
    margin-top: 6%;
  }

  &--hidden-mobile {
    display: none;
    @media (min-width: 768px) {
      display: block;
    }
  }

  &--float-end {
    position: absolute;
    right: -40px;
    top: 22%;

    @media (min-width: 768px) {
      display: none;
    }
  }

  &--float-begin {
    position: absolute;
    left: -40px;
    top: 22%;

    @media (min-width: 768px) {
      display: none;
    }
  }
}

.stages-cooperation__img-arrow {
  max-width: 100%;

  @media (min-width: 768px) {
    display: none;
  }

  &--hidden-mobile {
    display: none;
    @media (min-width: 768px) {
      display: inline;
    }
  }
}

.stages-cooperation__description {
  margin-top: 10px;
  color: #ffffff;
  font-family: $textType2;
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;

  @media (min-width: 992px) {
    font-size: 17px;
  }
}
